.container {}
.footer {margin-top: 125px;}

.com-ft {text-align: center; font-size: 36px; font-family: "Noto Sans KR", sans-serif; margin-top: 55px;}
.com-pd {margin-bottom: 20px;}
.com-pd.last {margin-bottom: 125px;}
.com-box {width: 540px; margin: 0 auto; margin-top: 0px; padding: 50px 40px; background: #fff; border: 1px solid #ddd;}
.com-box.nth-1 {margin-top: 40px;}
.com-box.nth-2 {margin-top: 16px;}
.br4 {border-radius: 4px;}

.nr-login .snsLarge, .nr-login hr.sun, .nr-login .area-mail {position: relative; width: 400px; margin: 0 auto;}
.nr-login h4 {font-size:18px; color:#5a2400; font-weight: 400; margin-bottom: 25px;}
.nr-login .snsLarge li {text-align:center; letter-spacing:-0.3px; font-weight:600; line-height:55px; font-size:15px; margin-bottom: 10px;}
.nr-login .snsLarge li a {position: relative; display:block; width:268px; height:55px; box-sizing: border-box; border-radius: 4px;}
.nr-login .snsLarge li a img {position: absolute; top: 19px; left: 19px;}
.nr-login .snsLarge li a span {position: relative; display: inline-block; width: 210px;
	float:right; border-left: 1px solid; text-align: center; border-left: 1px solid rgba(0,0,0,.196);}
.nr-login .snsLarge li.daum a span {width: 207px;}
.nr-login .snsLarge .naver a {color:#fff; background:#1ec800;}
.nr-login .snsLarge .kakao a {color:#3b1e1e; background:#ffeb00;}
.nr-login .snsLarge .facebook a {color:#fff; background:#3b5998;}
.nr-login .snsLarge .daum a {color:#4681bd; border:3px solid #4681bd; line-height:50px;}
.nr-login .snsLarge .twitter a {color:#fff; background:#32ccfe;}
.nr-login .snsLarge .google a {color:#fff; background:#d34837;}
.nr-login .snsLarge .naver a img {width: 20px;}
.nr-login .snsLarge .daum a img {width: 25px; top: 12px; left: 15px;}
.nr-login .snsLarge .facebook a img {width: 25px; top: 13px; left: 16px;}
.nr-login .snsLarge .kakao a img {top: 17px; left: 17px;}

.nr-login hr.sun {margin: 40px auto; border-color: #d7d7d7;}

.nr-login .nr-text, .nr-login .a-btn, .mi-box.com-box .phone-cert .a-btn, .mi-box.com-box .mib-p1 .a-btn {border-radius: 4px;}
.nr-login .area-mail .d-row-1 {}
.nr-login .area-mail .d-row-1 .p-1 {font-size: 20px; color: #3b3f43; font-weight: 700;}
.nr-login .area-mail .d-row-1 .p-2 {color: #a0a0a0; line-height: 1.5; margin-top: 5px;}
.nr-login .area-mail .d-row-2 {margin-top: 20px; font-size: 0;}
.nr-login .area-mail .d-row-2 .nr-text, 
.nr-login .area-mail .d-row-2 .a-btn,
.nr-login .area-mail .d-row-3 .a-btn,
.mi-box.com-box .phone-cert .a-btn, 
.mi-box.com-box .mib-p1 .a-btn {display: inline-block; padding: 15px 12px; height: 48px; vertical-align: middle; font-size: 16px; line-height: 18px; box-sizing: border-box;}
.nr-login .area-mail .d-row-2 .nr-text {margin-right: 10px; width: 260px; letter-spacing: 0; color: #444;}
.nr-login .area-mail .d-row-2 .a-btn {text-align: center; color: #fff; background: #404040; width: 130px;}
.nr-login .area-mail .d-row-3 .a-btn {background: #f75a4b; color: #fff; font-size: 19px; line-height: 21px; font-weight: 700; width: 100%; text-align: center; margin-top: 10px; letter-spacing: 0;}

.nr-login .area-login {font-size: 0;}
.nr-login .area-login {}
.nr-login .area-login + .area-mail {margin-top: 40px;}
.nr-login .area-login .pull-left {position: relative; width: 260px;}
.nr-login .area-login .nr-text {font-size: 14px; color: #5f5f5f; width: 100%; height: 50px; text-indent: 15px; line-height: 3em; letter-spacing: 0;}
.nr-login .area-login .nr-text:first-child {margin-bottom: 10px;}
.nr-login .area-login .a-btn {position: relative; display: inline-block; width: 130px; height: 110px; font-size: 19px; background: #404040; color: #fff; text-align: center;}
.nr-login .area-login .a-btn:after {content: ""; display: inline-block; height: 110%; vertical-align: middle;}

.nr-login .area-login .pull-left {width: 100%;}
.nr-login .area-login .a-btn {position: relative; display: inline-block; width: 100%; height: 48px; font-size: 16px; background: #f75a4b; margin-top: 10px;}
.nr-login .area-login .a-btn.bg-blue {background:#398fe1}

.nr-login .d-ps {margin-top: 30px; text-align: center; word-break: keep-all;}
.nr-login .d-ps .p-1 {font-size: 20px; font-weight: 600; color: #0468c8;}
.nr-login .d-ps .p-2 {margin-top: 15px; line-height: 1.5; font-size: 15px;}

.nr-login .d-ps {margin-top: 30px; text-align: center;}
.nr-login .d-ps .p-1 {font-size: 20px; font-weight: 600; color: #0468c8;}
.nr-login .d-ps .p-2 {margin-top: 15px; line-height: 1.5; font-size: 15px;}


/* 20180321_로그인수정_다솜 */
.nr-login .login-box {position: relative; width: 400px; margin: 0 auto; margin-top:-17px;}
.nr-login .login-box.type-sns {margin-bottom:-17px;}
.nr-login .login-box .login-tit {font-size:24px; font-weight:bold; color:#0468c8;}
.nr-login .login-box .login-txt {padding:12px 0 33px; font-size:16px; line-height:18px; color:#4c4b4b;}
.nr-login .login-box.type-sns .login-txt {padding:12px 0 21px;}
.nr-login .login-box .d-ps {margin-top:11px}
/* 20180329_회원가입 수정 및 추가_다솜 */
.nr-login .login-box .p-2 {margin-bottom:-17px;}
.nr-login .login-box .d-row-2 .a-btn {font-size:13px;}
.nr-login .login-box .d-row-cer {margin-top:10px;}
.nr-login .login-box .d-row-cer .nr-text {font-size:15px;}
.nr-login .login-box .d-row-cer .a-btn {background:#7a7a7a;}
.nr-login .login-box .area-password {}
.nr-login .login-box .area-password .join-password {display:table; width:100%; margin-top:10px;}
.nr-login .login-box .area-password .join-password:first-of-type {margin-top:0}
.nr-login .login-box .area-password .join-txt {display:table-cell; width:100px; font-size:15px;}
.nr-login .login-box .area-password .nr-text {display:table-cell; width:100%; font-size: 14px; color: #5f5f5f; height: 50px; text-indent: 15px; line-height: 3em; letter-spacing: 0;}
.nr-login .login-box .area-password .a-btn {position: relative; display: inline-block; width: 100%; height: 48px; font-size: 16px; line-height: 48px; background: #f75a4b; margin-top: 10px; color: #fff; text-align: center;}

.mi-box.com-box {width: 800px; padding: 50px 160px;}
.mi-box.com-box .c-red, .mi-box.com-box .c-gray {padding-left:5px;}
.mi-box.com-box .mib-p2 {word-break:keep-all; border-bottom:0; padding-bottom:0;}
.mi-box.com-box .phone-cert {display:table; position:relative; width:100%; margin-top:10px;}
.mi-box.com-box .phone-cert:first-of-type {margin-top:0;}
.mi-box.com-box .phone-cert .nr-text {display:table-cell; border: 0; border-bottom: 1px solid #ddd; width:90%; padding-bottom: 5px; margin-right:10px; font-size: 16px; font-weight: 400; vertical-align:text-bottom}
.mi-box.com-box .phone-cert .a-btn {display:table-cell; height: 38px; padding:0 13px; font-size: 14px; font-weight:normal; line-height: 38px; text-align: center; vertical-align:text-top; color: #fff; background: #404040;}
.mi-box.com-box .phone-cert.cert-check .a-btn {background: #7a7a7a; }
.mi-box.com-box .phone-cert .a-btn.passed {position:relative; left:-30px; color:#f45454; background:#fff}
/* 20180402_가상계좌 생성_다솜 */
.mi-box.com-box .bank.dropdown .dropdown-menu {max-height:235px; overflow-y:auto}
.mi-box.com-box .tit-mt {margin-top:50px;}
.mi-box.com-box .mib-p2-mt {margin-top:25px}
.mi-box.com-box .mib-p1 {position:relative;}
.mi-box.com-box .mib-p1 .btn-message {position:absolute; height:30px; right:0; bottom:10px; padding:0 20px; font-size:13px; line-height:30px; color:#fff; background:#7a7a7a; }