<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>누리펀딩</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
    <!--추가 css경로-->
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/nivo-lightbox-theme/default.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/nivo-lightbox.css">
    
    <!--<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/service/service2.css">-->
    <link rel="stylesheet" href="../../src/css/common.css">
    <link rel="stylesheet" href="../../src/css/service/service2.css">

    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
    <!--추가 js경로-->
    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/nivo-lightbox.min.js"></script>
    
    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/common.js"></script>
    <!--<script type="text/javascript" src="https://nurifunding.co.kr/static/service/service.js"></script>-->
    <!--추가 js경로-->
    <script type="text/javascript" src="../../src/js/service/service.js"></script>
    

    <!--<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/service/service2_ie9lt.css">-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/grid_ie9lt.min.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common_ie9lt.css">
    <link rel="stylesheet" href="../../src/css/service/service2_ie9lt.css">

    <script type="text/javascript" src="https://nurifunding.co.kr/static/js/ie9_lt.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <h1 class="skip">누리펀딩</h1>
    <div class="wrap">
        <!-- 일반 해더 -->
        <header class="header" id="header">
            <div class="container header-box">
                <div class="navbar-header">
                    <button type="button" class="nav-tab show-xs">
                        <span class="icon-bar b1"></span>
                        <span class="icon-bar b2"></span>
                        <span class="icon-bar b3"></span>
                    </button>
                    <h2><a href="../index.html" class="navbar-brand"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고"></a></h2>
                    <a href="#" class="my-tab show-xs"><img src="https://nurifunding.co.kr/img/myp_icon.png" alt="마이페이지"></a>
                </div>
                <div class="navbar-collapse pull-right hidden-xs">
                    <ul class="main-nav clearfix">
                        <li><a href="../loan/loan_00.html">대출신청</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../invest/invest_01.html">투자하기</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../service/index.html">회사소개</a>
                            <nav class="sub-nav">
                                <ul>
                                    <li><a href="../service/index.html">회사소개</a></li>
                                    <li><a href="../notice/index.html">공지사항</a></li>
                                </ul>
                            </nav>
                        </li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../faq/index.html">이용안내</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="../join/join_01.html">회원가입</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="../login/index.html">로그인</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- 모바일 네비게이션 -->
        <section class="mlnb-wrap show-xs" id="mlnb-wrap">
            <div class="mlnb-container">
                <header class="mlnb-header">
                    <p>
                        <a href="" class="mh-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
                        <a href="javascript:void(0)" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
                    </p>
                    <div class="t-box">
                        <p>지금 바로 로그인하고</p>
                        <p>누리펀딩의 투자서비스를 이용하세요!</p>
                        <p class="nth-3"><a href="">로그인</a><a href="" class="nth-2">회원가입</a></p>
                    </div>
                </header>
                <ul class="mlnb">
                    <li><a href="">대출신청<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">투자하기<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">회사소개<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">이용안내<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
                </ul>
            </div>
        </section>

        <section class="page-sect">
            <div class="container">
                <div class="ps-wrap com-box">
                    <!--변경내용 제목변경-->
                    <h2 class="ps-h2">회사소개</h2>
                </div>
            </div>
        </section>

        <section class="info-sect">
            <div class="container">

                <!--변경내용 시작 전체변경-->
                <div class="is-wrap com-box low">
                    <!--(div.is-box.nth-$.col-xs-12>h3.is-h3+ul.is-ul>li.is-li)*2-->
                    <div class="is-box nth-1 col-xs-12 col-sm-12">
                        <h3 class="is-h3">대출이 쉬운 P2P금융은?</h3>
                        <p class="is-p">
                            <span class="sm-block">온라인 플랫폼에서 개인 간에 필요 자금을 지원하고 대출하는 서비스를 말합니다.</span>
                            <span class="sm-block">덕분에 대출과 목돈 마련이 쉬워졌죠. 그런데 말입니다. <span class="c-blue f-bd">큰 돈이 오가는 대출과 투자,</span></span> <span class="c-blue f-bd">과연 어떤 회사에 맡겨야 할까요?</span>
                        </p>
                        <p class="is-p2">
                            <img src="https://nurifunding.co.kr/img/service/service_ill_01.png" alt="누리펀딩">
                        </p>
                    </div>
                    <div class="is-box nth-2 col-xs-12 col-sm-12">
                        <h3 class="is-h3">누리펀딩은 이렇게 만들어졌습니다</h3>
                        <p class="is-p">
                            <span class="sm-block">30년 경력 탄탄한 <span class="c-blue f-bd">금융 전문가</span>와 <span class="c-blue f-bd">토탈 IT 서비스 전문 기업</span>으로</span> 10년 동안 <span class="c-blue f-bd">온라인 사이트의 보안</span>을 책임져온 (주)이비즈네트웍스가 <br><span class="c-blue f-bd">누리펀딩</span>에서 만났습니다.
                        </p>
                        <p class="is-p2">
                            <img src="https://nurifunding.co.kr/img/service/service_ill_02.png" alt="누리펀딩">
                        </p>
                    </div>
                    <!--변경내용_20170620 위치 변경-->
                    <div class="is-box nth-4 col-xs-12 col-sm-12">
                        <!--변경내용_20170620 법률검토삭제-->
                        <h3 class="is-h3">웹 &#43; 보안 &#43; 금융 경험<br><span class="c-blue">P2P 금융</span>의 <span class="c-blue">최고</span>의 인력입니다</h3>
                        <p class="is-p">
                            <span class="sm-block">담보가 있어도 대출받기 어려운 현실, 은행에 돈을 맡겨도 느는 듯 마는 듯한 이자</span>
                            <span class="sm-block">대출은 까다롭고, 예금 이자는 낮고 ‘누리펀딩’과 새로운 인생을 설계해보세요.</span> 대출자와 투자자가 모두가 만족할 수 있는 금융을 만들겠습니다．
                        </p>
                        <p class="is-p2">
                            <img src="https://nurifunding.co.kr/img/service/service_ill_04.png" alt="누리펀딩">
                        </p>
                    </div>
                    <!--변경내용_20170620 끝-->
                    <div class="is-box nth-3 col-xs-12 col-sm-12">
                        <h3 class="is-h3"><span class="c-blue xs-block">쉬운 투자, 쉬운 대출</span> 누리펀딩은 이렇게 말합니다</h3>
                        <div class="row d1">
                            <div class="col-xs-12 col-sm-4 nth-1">
                                <img src="https://nurifunding.co.kr/img/service/service_ill_03_1.png" alt="직접보는투자상품">
                                <h3>내 눈으로<br>직접 보는 투자 상품</h3>
                                <p>
                                    <span class="sm-block md-inline">투자상품의 리스크를 직접</span> 확인할 수 있습니다.
                                    <br> 권리분석, 시세, 가치, 변동 등
                                    
                                    <span class="c-blue f-bd">
                                        <br> 내가 투자하는 부동산에 대한 모든
                                        <br> 정보를 한눈에 볼 수 있습니다.
                                    </span>
                                    
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 nth-2">
                                <img src="https://nurifunding.co.kr/img/service/service_ill_03_2.png" alt="전문가의설명">
                                <h3>30년 금융 전문가의<br>금융 분석 쉬운 설명</h3>
                                <p>
                                    <span class="sm-block md-inline">STAR Loan Rating </span>심사 알고리즘을 적용해
                                    <span class="c-blue f-bd">
                                        <br> 믿을 수 있는 신용평가 시스템, 전문가의
                                        <br> 철두철미한 분석</span> 그리고 <span class="c-blue f-bd">쉬운 설명</span>은
                                        <br> 투자 상품에 대한 이해를 높여줍니다.
                                    
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-4 nth-3">
                                <img src="https://nurifunding.co.kr/img/service/service_ill_03_3.png" alt="쉬운투자">
                                <h3>강력한 보안 &amp;<br>쉬운 투자</h3>
                                <p>
                                    <span class="c-blue f-bd">개인정보 유출 방지 시스템</span>을
                                    <br> 도입해 안전합니다. 그리고 누리펀딩은
                                    <br> 복잡하지 않은 절차로
                                    <br> <span class="c-blue f-bd">간편하게 투자</span>할 수 있습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="is-box nth-6 col-xs-12 col-sm-12">
                        <h3 class="is-h3">이비즈네트웍스의 <span class="c-blue">강력한 보안</span></h3>
                        <p class="is-p">
                            30년 경력 탄탄한 금융 전문가와 <span class="xs-block"></span>토탈 IT서비스 전문기업으로 온라인 사이트의<br>
                            보안을 책임져온 이비즈네트웍스가 <span class="xs-block"></span>누리펀딩에서 만났습니다 
                        </p>
                        <img src="https://nurifunding.co.kr/img/service/certifi_img.jpg" alt="안툴즈">
                    </div>
                    <!--<div class="is-box nth-5 col-xs-12 col-sm-12">
                        <div class="d1">
                            <h3 class="is-h3"><span class="c-blue">금융전문가</span> 자격증</h3>
                            <div class="certifi-box">
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_01_big.jpg" title="신용분석사 자격증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_01.jpg" alt="신용분석사 자격증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">신용분석사 자격증</span>
                                </a>
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_02_big.jpg" title="대출심사역 자격증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_02.jpg" alt="대출심사역 자격증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">대출심사역 자격증</span>
                                </a>
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_03_big.jpg" title="여신법률 수료증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_03.jpg" alt="여신법률 수료증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">여신법률 수료증</span>
                                </a>
                            </div>
                        </div>
                        <div class="d2">
                            <h3 class="is-h3"><span class="c-blue">변호사</span> 주요 경력사항</h3>
                            <p class="p1">변호사 김<span class="won"></span><span class="won"></span></p>
                            
                            <ul class="history nth-1">
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1985</div>
                                    <div class="pull-right">사법시험 (27회) 합격</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1986</div>
                                    <div class="pull-right">서울대법과대학 졸업</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1991</div>
                                    <div class="pull-right">법무부 송무과장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2001</div>
                                    <div class="pull-right">서울동부지검 부장검사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2007</div>
                                    <div class="pull-right">법무법인 우현 대표변호사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2016</div>
                                    <div class="pull-right">현, 법무법인 대륙 아주변호사</div>
                                </li>
                            </ul>
                        </div>
                    </div>-->
					<div class="is-box nth-5 type-2 col-xs-12 col-sm-12">
						<div class="d2">
                            <h3 class="is-h3"><span class="c-blue">영업/심사</span> 총괄 김정권</h3>
							<p class="p1-1">최종학력 : 헬싱키 경제경영대학원 MBA</p>
                            
                            <ul class="history nth-1">
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1985</div>
                                    <div class="pull-right">국민은행 입행</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1989</div>
                                    <div class="pull-right">외환업무 (11년)</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1991</div>
                                    <div class="pull-right">여신심사역 과정</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2000</div>
                                    <div class="pull-right">심사센터 여신심사역 (전업종)</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2002</div>
                                    <div class="pull-right">마포기업금융지점 팀장 (RM/여신/PF)</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2007</div>
                                    <div class="pull-right">기업여신심사부 팀장<br>(투자금융/SOC/유동화/해외투자)</div>
                                </li>
								<li class="clearfix">
                                    <div class="c-blue pull-left">2010</div>
                                    <div class="pull-right">지점장 (망원동/시화공단/목동)</div>
                                </li>
								<li class="clearfix">
                                    <div class="c-blue pull-left">2014</div>
                                    <div class="pull-right">기관영업부 부장<br>(정부기관/시도금고/학교/병원)</div>
                                </li>
								<li class="clearfix">
                                    <div class="c-blue pull-left">2015</div>
                                    <div class="pull-right">지역본부장<br>(충무로역종금센터/가좌공단종금센터)</div>
                                </li>
								<li class="clearfix">
                                    <div class="c-blue pull-left">2018</div>
                                    <div class="pull-right">퇴직 (국민은행, 30년 재직)</div>
                                </li>
                            </ul>
                        </div>
                        <div class="d1">
                            <h3 class="is-h3"><span class="c-blue">금융전문가</span> 자격증</h3>
                            <div class="certifi-box">
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_01_big.jpg" title="신용분석사 자격증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_01.jpg" alt="신용분석사 자격증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">신용분석사 자격증</span>
                                </a>
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_02_big.jpg" title="대출심사역 자격증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_02.jpg" alt="대출심사역 자격증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">대출심사역 자격증</span>
                                </a>
                                <a data-lightbox-gallery="reg" href="https://nurifunding.co.kr/img/service/certificate_03_big.jpg" title="여신법률 수료증" target="_blank">
                                    <img src="https://nurifunding.co.kr/img/service/certificate_03.jpg" alt="여신법률 수료증">
                                    <img class="mag" src="https://nurifunding.co.kr/img/magnify.png" alt="확대하기">
                                    <span class="cap">여신법률 수료증</span>
                                </a>
                            </div>
                        </div>
                    </div>
					<div class="is-box nth-5 col-xs-12 col-sm-12">
                        <div class="d2">
                            <h3 class="is-h3"><span class="c-blue">변호사</span> 주요 경력사항</h3>
                            <p class="p1">변호사 김<span class="won"></span><span class="won"></span></p>
                            
                            <ul class="history nth-1">
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1985</div>
                                    <div class="pull-right">사법시험 (27회) 합격</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1986</div>
                                    <div class="pull-right">서울대법과대학 졸업</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">1991</div>
                                    <div class="pull-right">법무부 송무과장</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2001</div>
                                    <div class="pull-right">서울동부지검 부장검사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2007</div>
                                    <div class="pull-right">법무법인 우현 대표변호사</div>
                                </li>
                                <li class="clearfix">
                                    <div class="c-blue pull-left">2016</div>
                                    <div class="pull-right">현, 법무법인 대륙 아주변호사</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <!--변경내용 끝-->

            </div>
        </section>

        <footer class="footer container-fluid">
			<div class="container footer-box">
				<div class="row d-logo">
					<img class="fLogo-m show-xs" src="https://nurifunding.co.kr/img/fLogo_m.png" alt="푸터로고">
					<img class="fLogo hidden-xs" src="https://nurifunding.co.kr/img/fLogo.png" alt="푸터로고">
				</div>
				<div class="row a-txt">
					<a href="#">회사소개</a>
					<a href="#">이용약관</a>
					<a href="#">개인정보취급방침</a>
					<a href="#">대부거래기본약관</a>
				</div>
				<div class="row f-txt">
					<address>
						<span class="min-xs-br"><span class="xs-br">(주)누리펀딩</span><span class="hidden-xs"> ㅣ </span>대표이사: 박기범 ㅣ 사업자등록번호 000-00-00000 ㅣ 통신판매업신고: 제 2017-서울강남-00000호</span>
						고객센터 1544-2499 ㅣ E-mail 000@ebiznetworks.co.kr ㅣ 주소: 서울특별시 강남구 선릉로 99길 12, 4층(역삼동, 모노타워)
					</address>
				</div>
				<div class="row c-txt"><small>COPYRIGHT <span class="fc-yellow">NURIFUNDING</span> ALL RIGHTS RESERVED.</small></div>
				<div class="row f-txt">
					당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다. <span class="c-blue">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</span> 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다.
				</div>
				<div class="row f-txt mt-2">
					대출금리 연 19% 이내 (연체이자율 연 24% 이내)<br>
					중개수수료를 요구하거나 받는 행위는 불법입니다. "과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다"
				</div>
			</div>
		</footer>
    </div>
</body>

</html>