/*전체*/
body {background: #fff;}

.com-box {position: relative; margin: 0 auto;}
.br4 {border-radius: 4px;}
.sm-block {display: block;}

.page-sect {width: 100%; height: 200px; background: url(https://nurifunding.co.kr/img/service_bg.jpg) no-repeat center; background-size: cover;}
.ps-h2 {position: relative; top: 82px; font-size: 34px; color: #fff;}

.info-sect {padding: 60px 0;}
.is-box {position: relative; border-bottom: 1px solid #dcdcdc; padding-bottom: 80px}
.is-box.nth-3 {text-align: center;}
.is-h3 {font-size: 28px; font-weight: 500; margin-top: 45px; line-height: 1.3em; color: #111;}
.is-box.nth-1 .is-h3, .is-p {word-break: keep-all;}
.is-box.nth-1 .is-h3 {margin-top: 0;}
.is-p {margin-top: 15px; font-size: 16px; font-weight: 300; line-height: 1.6em;}
.is-p2 {position: absolute; line-height: 0; right: 0; bottom: 0;}
.is-p2 img {width: 100%;}

.is-box.nth-3 .d1 {margin-top: 30px;}
.is-box.nth-3 .d1 img {position: relative; display: inline-block; width: 160px; margin-top: 12px; margin-bottom: 15px;}
.is-box.nth-3 .d1 h3 {font-size: 24px; font-weight: 500; line-height: 1.2em; margin-bottom: 15px;}
.is-box.nth-3 .d1 p {font-size: 14px; line-height: 1.3em; word-break: keep-all; font-weight: 300;}

/*PC영역*/
.md-inline {display: inline;}

.info-sect {padding: 0px 0 65px;}
.is-box {position: relative; border-bottom: 1px solid #dcdcdc; margin-top: 75px; padding-bottom: 80px}
.is-box.nth-3 {text-align: center;}
.is-box.nth-4 {border-bottom: 0; padding-bottom: 60px;}
.is-h3 {font-size: 36px; font-weight: 500; margin-top: 0px; line-height: 1.3em; color: #111;}
.is-box.nth-2 .is-h3 {margin-top: 20px;}
.is-p {margin-top: 15px; font-size: 18px; font-weight: 300; line-height: 1.6em;}
.is-p2 {position: absolute; line-height: 0; right: 0; bottom: 0; width: 275px; text-align: right;}
.is-box.nth-1 .is-p2 img {width: 241px;}
.is-box.nth-2 .is-p2 img {width: 262px;}
.is-box.nth-3 .is-p2 img {width: 192px;}
.is-box.nth-4 .is-p2 img {width: 275px;}

.is-box.nth-3 {margin-top: 55px;}
.is-box.nth-3 .d1 {margin-top: 30px;}
.is-box.nth-3 .d1 img {position: relative; display: inline-block; width: auto; margin-top: 12px; margin-bottom: 30px;}
.is-box.nth-3 .d1 h3 {font-size: 24px; font-weight: 500; line-height: 1.2em; margin-bottom: 15px;}
.is-box.nth-3 .d1 p {font-size: 16px; line-height: 1.4em; word-break: keep-all; font-weight: 300;}
.is-box.nth-3 .d1 > div.nth-1 p {letter-spacing: -1.5px;} /*ie8 별도 폰트 간격 조절*/

.is-box.nth-5 {padding-left: 0; padding-right: 0; padding-bottom: 55px; margin-top: 55px;}
.is-box.nth-5 h3 {text-align: center;}
.is-box.nth-5 > div .certifi-box a, .is-box.nth-5 .d2 .p1 {margin-top: 90px;}
.is-box.nth-5 > div {position: relative; text-align: center;}
.is-box.nth-5 > div img {display: block;}
.is-box.nth-5 > div .certifi-box a {position: relative; display: inline-block; width: 175px; margin-left: 3px; margin-right: 3px; text-align: center;}
.is-box.nth-5 > div .certifi-box a:first-child {margin-left: 0;}
.is-box.nth-5 > div .certifi-box a:last-child {margin-right: 0;}
.is-box.nth-5 > div .certifi-box a .mag {display: none; position: absolute; left: 50%; top: 50%; margin-left: -42px; margin-top: -42px; width: 84px; height: 84px;}
.is-box.nth-5 > div .certifi-box a:hover .mag {display: block;}
.is-box.nth-5 .d1 {padding-bottom: 40px; width: 65%; float: left; left: -28px;}
.is-box.nth-5 .d2 {width: 35%; float: right;}
.is-box.nth-5 .d2 h3 {letter-spacing: -1.5px;}
.is-box.nth-5 .d2:before {content: ""; display: block; position: absolute; top: 0px; left: -25px; height: 396px; border-left: 1px dashed #d1d1d1;}
.is-box.nth-5 .d2 .p1 {position: relative; text-align: left; font-weight: 400; color: #111; font-size: 30px; padding-left: 5px;}
.is-box.nth-5 .d2 .p1:after {content: ""; display: inline-block; position: relative; top: -10px; margin-left: 10px; height: 1px; width: 135px; background: #398fe1;}
.is-box.nth-5 .d2 .p1 .won {position: relative; top: 2px; margin-left: 3px; display: inline-block; width: 25px; height: 25px; border-radius: 50%; border: 1px solid #111; }
.is-box.nth-5 .d2 .history {font-size: 18px; padding-left: 10px; font-weight: 300; margin-top: 35px;}
.is-box.nth-5 .d2 .history li > div {text-align: left; line-height: 1.5em; letter-spacing: 0;}
.is-box.nth-5 .d2 .history .pull-left {width: 20%;}
.is-box.nth-5 .d2 .history .pull-right {width: 77%;}

.is-box.nth-6 > h3, .is-box.nth-6 > p {text-align: center;}
.is-box.nth-6 > img {display: block; margin: 55px auto 0; width: 762px;}