/*전체*/
body {background: #fff;}

.com-box {position: relative; margin: 0 auto;}
.br4 {border-radius: 4px;}

.page-sect {width: 100%; height: 120px; background: url(../../img/service_bg.jpg) no-repeat center; background-size: cover;}
.ps-h2 {position: relative; top: 50px; font-size: 28px; color: #fff;}

.info-sect {padding: 60px 0;}
.is-h3 {font-size: 28px; font-weight: 500; margin-top: 45px; line-height: 1.3em;}
.is-box.nth-1 .is-h3, .is-box.nth-2 .is-h3 {margin-top: 0;}
.is-ul {margin-top: 15px;}
.is-li {line-height: 1.6em; font-weight: 300; font-size: 16px;}
.is-li .dot {position: relative; top: 1px; margin-right: 10px; font-size: 24px; font-weight: 500;}
.is-p {margin-top: 20px; font-size: 16px; font-weight: 300; line-height: 1.5em;}
