<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- 180702 모바일에서 전화링크 걸리게 메타태그 숨김 -->
	<!--<meta name="format-detection" content="telephone=no">-->
	<title>후순위담보대출</title>
	<link rel="shortcut icon" href="https://nurifunding.co.kr/img/32x32.ico">
	<link rel="canonical" href="www.nurifunding.co.kr">

	<link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
<!--	<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<!--css 추가-->
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/animate.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/jquery.bxslider.css">

	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/override.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common.css">
	<!-- 180702 누리페이 css -->
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/pay/pay.css">

<!--	<link rel="stylesheet" href="../src/css/override.css">-->
<!--
	<link rel="stylesheet" href="../src/css/common.css">
-->
	<!--<link rel="stylesheet" href="../../src/css/pay/pay.css">-->


	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
	<!--js 추가-->
	<!--<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.lazyload.min.js"></script>-->
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.bxslider.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.animateNumber.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/waypoints.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery.easing.min.js"></script>

	<!--<script type="text/javascript" src="https://nurifunding.co.kr/static/js/components_custom.js"></script>-->
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/common.js"></script>
    
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/pay/pay.js"></script>
	<!--<script type="text/javascript" src="../../src/js/pay/pay.js"></script>-->

	<!--<script type="text/javascript" src="https://nurifunding.co.kr/static/js/ie9_lt.js"></script>
    <script type="text/javascript" src="../src/js/ie9_lt.js"></script>
	-->
    <!--
	<link rel="stylesheet" href="../../src/css/pay/pay_ie9lt.css">-->
	
	<!--[if lt IE 9]>
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/grid_ie9lt.min.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common_ie9lt.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/css/pay/pay_ie9lt.css">
   
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<!-- 180810 제목 -->
	<h1 class="skip">후순위담보대출</h1>
	
	<!-- 180810 후순위담보대출 / 멀티클래스 추가 -->
	<div class="wrap mrgg-wrap">
		<!-- 헤더 -->
		<header class="header pay-header" id="header">
			<div class="container header-box">
                <h2><a href="#none" class="navbar-brand"><img src="https://www.nurifunding.co.kr/img/logo.png" alt="누리펀딩 로고"></a></h2>
                <div class="navbar-collapse pull-right">
                    <ul class="main-nav clr">
                        <li><a href="tel:1666-4570">고객센터<span class="img-call">☎</span>1666-4570</a></li>
                        <li class="last"><a href="javascript:;" class="btn-pay btn-move">후순위담보대출 신청하기</a></li>
                    </ul>
                </div>
            </div>
		</header>
		
		<!-- 메인 -->
		<section class="pay-sec1">
            <div class="pay-area">
                <h3 class="pay-tit">후순위담보대출 걱정마세요 !</h3>
                <p class="pay-sub-tit">보유하신 담보물건으로 필요자금을<span class="show-xs"></span>원하시는 만큼 지원해 드립니다.</p>
                <p class="pay-img"><img src="https://www.nurifunding.co.kr/img/nuripay/mrgg/logo_w.png" alt="누리펀딩 로고"></p>
                <p class="pay-txt-1">보유하고 계신 물건에 대출이 있어도 추가대출이 가능하며<br>신속한 대출을 약속드립니다.</p>
                <a href="javascript:;" class="btn-pay btn-move">후순위담보대출 신청하기</a>
                <p class="pay-txt-2">※ 후순위담보대출 서비스는 핀테크 전문 P2P금융회사인 누리펀딩이 함께 하는 서비스입니다.</p>
            </div>
		</section>
		
		<!-- 서비스 설명 -->
		<section class="pay-sec2 pay-sv-sec">
            <div class="pay-area clr">
                <h3 class="pay-tit fc-green">누리펀딩 후순위담보대출 서비스는?</h3>
                <p class="pay-txt-1">
                    보유하고 계신 담보물건에 담보대출이 있는 상태에서 그 뒤에 추가로 받는 담보대출을 말합니다.<br>
                    <span class="fc-green">금융전문가의 1:1 맞춤 대출 설계</span>를 통해 최적의 조건을 제시해 드립니다.
                </p>
                
                <div class="pay-sv-area">
                    <div class="pay-sv-box">
                        <p class="pay-sv-tit">
                            대출금액 : 최대 금액 제한없이 자유롭게 !<br>
                            대금금리 : 연 8~15% (월 0.67 ~ 1.25%)
                        </p>
                        
                        <ul class="pay-sv-list">
                            <li>
                                <p class="list-0 fc-green">이용대상</p>
                                <p class="list-1">전국 주택, 부동산, 아파트 소유자 또는 담보제공이 가능한 분 누구나 !<br>감정가의 95%까지 가능</p>
                            </li>
                            <li>
                                <p class="list-0 fc-green">약정기간</p>
                                <p class="list-1">1년 또는 그 이상</p>
                            </li>
                            <li>
                                <p class="list-0 fc-green">상환방법</p>
                                <p class="list-1">만기일상환, 분할상환 (중도상환가능)</p>
                            </li>
                            <li>
                                <p class="list-0 fc-green">구비서류</p>
                                <p class="list-1">
                                    등기권리증 없어도 본인신청 가능<br>
                                    인감도장, 신분증, 전입세대열람원, 인감증명서 3부, 주민등록등본 2부, 주민등록초본 3부 (과거 주소 포함)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <p class="pay-txt-ico">
                    본 후순위담보대출 서비스는 대한민국 핀테크 P2P금융업계를 선도하는 <span class="show-md"></span>누리펀딩이 함께하는 금융서비스입니다.
                </p>
            </div>
		</section>
		
		<!-- 상담신청 -->
		<section id="sec-move" class="pay-sec5 pay-form-sec">
            <div class="pay-area">
                <h3 class="cal-tit fc-green">후순위담보대출 <span class="hidden-xs">전담</span> 금융전문가와 상담하세요 !</h3>
                <p class="cal-txt show-md">신청서 확인 후 금융전문가의 빠른 연락을 약속드립니다.</p>
                <p class="cal-txt show-xs">신청서 확인후 빠른시일내에 연락드리고 상담해 드리겠습니다.</p>
                
                <div class="input-box clr">
                    <p class="input-tit"><label for="label01">고객명</label></p>
                    <div class="input-txt-box">
                        <input type="text" class="nr-text" id="label01" value="" placeholder="고객명을 입력해주세요." />
                    </div>
                </div>

                <div class="input-box clr">
                    <p class="input-tit"><label for="label02">희망금액</label></p>
                    <div class="input-txt-box">
                        <input type="number" class="nr-text" id="label02" value="" placeholder="'원'단위로 입력해 주세요." />
                    </div>
                </div>

                <div class="input-box clr">
                    <p class="input-tit"><label for="label03">전화번호</label></p>
                    <div class="input-txt-box">
                        <input type="tel" class="nr-text" id="label03" value="" placeholder="전화번호를 입력해주세요." />
                    </div>
                </div>
                
                <a href="#none" class="btn-pay">후순위담보대출 상담신청</a>
            </div>
		</section>
		
		<!-- 푸터 -->
		<footer class="footer pay-footer" id="footer">
		    <div class="container footer-box ">
		        <div class="clr">
                    <div class="f-txt-box">
                        <p class="f-pay-txt">
                            <span class="f-pay-txt-0 show-md">궁금하시면 전화주세요 !</span>
                            <span class="f-pay-txt-0 show-xs">지금 전화주세요 !</span>
                            
                            <span>상담시간 평일 10:00 ~ 18:00</span>
                        </p>
                        <a href="https://www.nurifunding.co.kr/notice/view.php?var=HUY=&page=1" target="_blank" class="btn-kakao"><img src="https://nurifunding.co.kr/img/bt_kakaotalk.png" alt="카톡 플러스 친구 @누리펀딩"></a>
                    </div>
                    <p class="f-cs-txt"><a href="tel:1666-4570">고객센터 1666-4570</a></p>
		        </div>
		        
		        <div class="show-xs clr">
                   <p class="f-pay-txt2">
                       서울시 강남구 테헤란로 82길 15, 10층<br>
                       (대치동,디아이타워)   (주)누리펀딩대부 
                   </p>
		           <img src="https://nurifunding.co.kr/img/nuripay/m/f_logo.png" alt="누리펀딩 푸터 로고">
		        </div>
		    </div>
		</footer>
	</div>
</body>

</html>