<!doctype html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="format-detection" content="telephone=no">
	<title>누리펀딩</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/pop/wpop.css">

	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/pop/fee_ver180622.css">
<!--	<link rel="stylesheet" href="../../src/css/pop/fee_ver180622.css">-->

	<script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/common.js"></script>
	<script type="text/javascript" src="https://www.nurifunding.co.kr/static/js/mypage/mypage.js"></script>

	
		<script>
			$(function() {
				window.setTimeout(window.print(), 5000); 
			});
		</script>

</head>

<body>
	<div id="wrap">
		<img class="bgImg" src="https://www.nurifunding.co.kr/img/pop/fee_background.jpg" alt="배경">
		<p class="top_title">[증서No] 제 180620-0000000-00030</p>
		<h1>원리금수취증서</h1>
		<p class="end_txt">Certificate of Principal and Interest</p>

		
		<div class="container-full">
			<p>수익자&nbsp;&nbsp;:&nbsp;&nbsp; ( -****** ) 귀하</p>
			
			
			<div class="container-table">
				<table class="fee_table fee_t1">
					<colgroup>
						<col width="50%">
						<col width="50%">
					</colgroup>
					<tbody>
						<tr>
							<th>수익한도금액</th>
							<td>金 원정 (₩0)</td>
						</tr>
						<tr>
							<th>원리금수취기간</th>
							<td>투자 확정일로부터 채권 소멸 시까지</td>
						</tr>
					</tbody>
				</table>
			
				<table class="fee_table fee_t2">
					<colgroup>
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
						<col width="20%">
					</colgroup>
					<tbody>
						<tr>
							<th rowspan="6">투자상품<br>(대출채권의 표시)</th>
							<th colspan="4">투자상품명</th>
						</tr>
						<tr>
							<td colspan="4">[ 제 30호 ] 매출채권 + 동산 담보대출( 컬러 TV) 4호 (채권 30호)</td>
						</tr>
						<tr>
							<th colspan="4">대출금액</th>
						</tr>
						<tr>
							<td colspan="4">200,000,000 원</td>
						</tr>
						<tr>
							<th>금리(연)</th>
							<th>대출기간</th>
							<th>상환방식</th>
							<th>대출금지급일</th>
						</tr>
						<tr>
							<td>12.0%</td>
							<td>3개월</td>
							<td>원금수시상환</td>
							<td>2018-06-20</td>
						</tr>
					</tbody>
				</table>
			
				<p style="height:30px; line-height:30px;">* 대출채권에 대한 상세내용은 투자설명서에서 확인 가능합니다.</p>
			
				<table class="fee_table fee_t3">
					<colgroup>
						<col width="50%">
						<col width="50%">
					</colgroup>
					<tbody>
						<tr>
							<th>채권자</th>
							<td>(주) 누리펀딩 대부</td>
						</tr>
						<tr>
							<th>채무자</th>
							<td>(주) 이엔전자</td>
						</tr>
						<tr>
							<th>투자금액</th>
							<td>40,000 원</td>
						</tr>
						<tr>
							<th>투자기간</th>
							<td>2018-06-20 ~ 2018-09-19</td>
						</tr>
						<tr>
							<th>이자지급일</th>
							<td>매월 첫 영업일</td>
						</tr>
						<tr>
							<th>수취권증서 발행자</th>
							<td>(주) 누리펀딩 대부</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="ps">
				<p><b>1. [발행근거]</b> 이 수익권증서는 여신회사와의 원리금수취권 매매 계약에 의하여 작성 발행하는 것이며 동 계약에 따라 취급됩니다.</p>
				<p><b>2. [발행목적]</b> 이 증서는 투자자의 투자원리금 한도액을 증명하기 위하여 발행하는 것입니다.</p>
				<p><b>3. [양도 등]</b> 이 증서는 당사의 사전 승인 없이는 타인에게 양도 또는 질권설정 등 처분행위를 할 수 없습니다.</p>
				<p><b>4. [유효기간]</b> 이 증서의 유효기간은 원리금 수취기간과 같습니다.</p>
				<p><b>5. [정산금액]</b> 채무자 채무 불이행시, 본 대출채권 범위내에서만 충당하며, 손실액에 대해서는 보전 불가능 합니다</p>
			</div>
		</div>

		<div class="blank"></div>

		<p class="end_txt">(주)누리펀딩대부는 본 증서를 통해 "원리금수취권"에 대해 권리를</p>
		<p class="end_txt">위와 같이 인증하며, 정당한 권리를 가지고 있음을 증명합니다.</p>
		<p class="end_txt"><b>2018년 06월 20일</b></p>
		
		<div class="row-stamp cf">
			<span class="name">(주) 누리펀딩</span>
			<img src="https://nurifunding.co.kr/img/etc/stamp_nuri.jpg" alt="누리펀딩도장" class="stamp">
			<span class="name db">(주) 누리펀딩 대부</span>
			<img src="https://nurifunding.co.kr/img/etc/stamp_nuriDb.jpg" alt="누리펀딩대부도장" class="stamp">
		</div>
	</div>


</body>

</html>