/* css 초기화 */
@import url(reset.css);
@import url(../fonts/NanumBarunGothic/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body, * {margin:0; padding:0; font-family: 'Noto Sans Kr', 'Nanum Gothic', 'Malgun Gothic', Arial, sans-serif; box-sizing: border-box; letter-spacing: -1px;}
body {background: #f5f5f5; color: #333;}
button {cursor: pointer; border: none; background: none;}
a {text-decoration:none; color: #434343;}

/* 공통속성 css */
.dropdown .btn {position: relative; border: 1px solid #d4d4d4; background: #fff; padding: 8px 20px; border-radius: 6px; text-align: left;}
.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #d4d4d4; background: #fff; border-radius: 6px; margin-top: -1px; z-index: 1;}
.dropdown .dropdown-menu li a {display: block; padding: 5px 20px; line-height: 1.2em;}
.dropdown .dropdown-menu li a:hover {color: #398fe2;}
/* 색상 */
.c-blue {color: #398FE2;}

/* header영역 */
.header {background: #fff; border-bottom: 1px solid #ddd; height: 90px; padding-top: 34px;}
.header-box {position: relative;}
.header-box > div {position: relative; float: left;}
.navbar-header {top: -10px;}
.navbar-brand {position: relative; display: inline-block; width: 216px;}
.navbar-brand img {width: 216px;}

.main-nav li {float: left; font-size: 18px; margin-left: 20px;}
.main-nav li:first-child {margin-left: 0;}

/* footer영역 */
.footer {margin-top: 100px; padding: 40px 0; background: #282828; color: #b4b4b4;}
.footer .footer-box > div {margin-top: 15px;}
.footer .footer-box > div:first-child {margin-top: 0px;}
.footer .a-txt > a {display: inline-block; margin-left: 20px; color: #b4b4b4;}
.footer .a-txt > a:first-child {margin-left: 0;}
.footer .f-txt > p {font-size: 14px;}
.footer .f-txt address {display: inline; font-size: 14px; line-height: 1.5em;}
.footer .c-txt small {font-size: 12px;}

@media all and (min-width: 768px){
  .main-nav .hidden-margin {height: 20px;}
  .footer .f-txt .min-xs-br {display: block;}
}
@media (max-width: 767px){
  .header {background: #fff; border-bottom: 4px solid #398FE1; height: 90px; padding-top: 34px;}
  .header-box {position: relative;}
  .header-box > div {position: relative; clear: both; width: 100%;}
  .navbar-header {top: -10px;}
  .navbar-header h2 {text-align: center;}
  .navbar-brand {position: relative; display: inline-block; width: 216px;}
  .navbar-brand img {width: 216px;}
  
  .nav-tab {position: absolute; left: 15px; top: 5px;}
  .nav-tab .icon-bar {display: block; width: 36px; height: 4px; background: #000;}
  .nav-tab .b2,.nav-tab .b3 {margin-top: 8px;}
  
  .my-tab {position: absolute; right: 15px; top: 0px; width: 29px; height: 38.66px;}
  .my-tab img {width: 100%;}
  
  .mlnb-wrap {display: none !important; position: fixed; z-index: 1; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.819);}
  .mlnb-wrap.on {display: block !important;}
  .mlnb-container {position: absolute; top: 0; left: 0px; width: 280px; height: 100%; background: #fff;}
  .mlnb-header {background: #398fe1; padding: 15px 20px 30px 20px;}
  .mh-logo img {width: 150px}
  .mlnb-header .cls-btn {position: relative; top: 0px; float: right;}
  .mlnb-header .cls-btn img {width: 26px;}
  
  .t-box {margin-top: 30px; color: #fff; font-size: 14px; line-height: 1.5em;}
  .t-box p, .t-box a {letter-spacing: 0;}
  .t-box p.nth-3 {margin-top: 10px;}
  .t-box a {display: inline-block; color: #fff; width: 80px; padding: 3px 0; text-align: center; border: 1px solid #fff;}
  .t-box a.nth-2 {margin-left: 5px;}
  
  .mlnb {}
  .mlnb > li {position: relative; border-bottom: 1px solid #ddd;}
  .mlnb > li > a { display: block; padding: 15px 20px 15px 20px; color: #333; letter-spacing: 0;}
  .mlnb > li > a > img {position: absolute; width: 9px;  right: 20px; top: 16px;}
  
  .footer .f-txt .xs-br {display: block;}
}
@media (max-device-width: 360px){
  .navbar-brand img {width: 200px;}
  .nav-tab {left: 10px;}
  .nav-tab .icon-bar {width: 28px;}
  .nav-tab .b2,.nav-tab .b3 {margin-top: 6px;}
  .my-tab {top: 2px; right: 10px; width: 24px; height: 32px;}
}
@media (max-device-width: 320px){
  .nav-tab {left: 6px;}
  .my-tab {right: 6px;}
}