/*body, html, * {font-family: 'Noto Sans KR', sans-serif;}*/

.hidden-md {display:none !important;}
.show-md {display: block !important;}

.wrap {min-width: 1044px;}

.container {
 /* width: 945px;*/
    width: 1024px;
}
.container.header-box, .container.footer-box {
    width: 1024px;
    /*width: 1125px;*/
}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.row {
	
}
.row-col {
  margin-right: -10px;
  margin-left: -10px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.wrap {padding-top: 90px;}
.header, .sub-nav {z-index: 11;}
.header {position: fixed; width: 100%; left: 0; top: 0; background: #fff; border-bottom: 1px solid #ddd; height: 90px;}
.header-box {position: relative; top: 35px;}
.header-box > div {position: relative; float: left;}
.navbar-header {top: -10px;}
.navbar-brand {position: relative; display: inline-block; width: 200px;}
.navbar-brand img {width: 200px;}

.main-nav > li, .main-nav > li > a {padding-bottom: 20px;}
.main-nav > li {position: relative; float: left; font-size: 17px; margin-left: 8px;}
.main-nav > li:first-child {margin-left: 0;}
.main-nav > li:hover .sub-nav {display: block;}
.main-nav .h-link {margin-top: -10px;}
.main-nav .h-link.fir {margin-left:20px;} 
.main-nav .h-link img {width:130px;}

.sub-nav {display: none; position: absolute; width: 120px; left: 50%; margin-top: 10px; margin-left: -60px; border: 1px solid #eaeaea; background: #fff; padding-bottom: 15px;}
.sub-nav a {width: 100%; display: block; text-align: center; margin-top: 15px; font-size: 15px; color: #545454;}
.sub-nav a:hover, .sub-nav a:active {color: #398fe1;}

.footer {padding: 40px 0; background: #282828; color: #b4b4b4; margin-top: 0;}
.footer .a-txt, .footer .f-txt {margin-top: 15px;}
.footer .c-txt {margin-top: 10px;}
.footer .footer-box div[class*="-txt"]:first-child {margin-top: 0px;}
.footer .a-txt > a {display: inline-block; margin-left: 20px; color: #d3d3d3}
.footer .a-txt > a:first-child {margin-left: 0;}
.footer .f-txt address {display: inline; font-size: 14px; line-height: 1.5em;}
.footer .c-txt small {font-size: 12px;}
.fc-yellow {color: #ffea00;}

.footer .a-link {}
.footer .a-link > a {display: inline-block; margin: 0 7px;}
.footer .a-link > a:first-child {margin-left: -5px;}

.main-nav .hidden-margin {height: 20px;}
.footer .f-txt .min-xs-br {display: block;}

.footer-01 {position:relative; padding:25px 0 70px; color: #b4b4b4; background: #282828;}
.footer-01 .footer-box {width:1000px; padding-left:25px;}
.footer-01 .mt10 {margin-top:10px}
.footer-01 .f-link-box {margin-top:30px; padding:0 0 95px 8px;}
.footer-01 .f-link-list {}
.footer-01 .f-link-list li {float:left; margin-left:12px}
.footer-01 .f-link-list li:first-child {margin-left:0}
.footer-01 .logo {position:absolute; display:inline-block; top:0;}
.footer-01 .a-txt {position:relative; display:inline-block; padding:10px 0 0 200px;}
.footer-01 .a-txt a {margin-left: 20px; color: #d3d3d3}
.footer-01 .f-adr-box {position:relative; margin-top:40px; margin-left:8px}
.footer-01 .f-adr-box .f-adr {float:left; margin-right:35px}
.footer-01 .f-adr-box .f-adr.last {margin-right:0}
.footer-01 .f-adr-box .f-adr address {font-size:14px; line-height:23px;}
.footer-01 .f-adr-box .f-adr address span {display:block; margin-bottom:2px; font-size:20px;}
.footer-01 .f-adr-box .f-link-list {margin-top:10px;}
.footer-01 .f-txt-box {position:absolute; bottom:0;}
.footer-01 .f-txt {margin-left:8px; font-size:14px; line-height:23px;}
.footer-01 .f-txt span {display:inline-block}

.side-banner {z-index: 99999; position:fixed; display:inline-block; width: auto; top:200px; left: 50%; margin-left: 645px;}
.side-banner a {position:relative; display:inline-block;}
.side-banner a img {max-width: none;}

/* 180622_툴팁박스_다솜 */
.tooltip-box {display:inline-block; }
.tooltip-box .tooltip-txt {padding-right:5px; vertical-align:middle; font-size:16px; color:#3f3f3f}
.btn-tooltip {position:relative; display:inline-block; width:17px; height:17px; vertical-align:middle; border-radius:100%; background:#c2c9d0;}
.btn-tooltip span {position:absolute; display:block; width:100%; height:100%; top:50%; margin-top:-8px; left:50%; margin-left:-6px; font-size:14px; line-height:17px; font-weight:bold; vertical-align:middle; color:#fff;}
.tooltip-detail {z-index:995; position:absolute; width:205px; margin-top:5px; margin-left:-40px; padding:17px 19px;  border:1px solid #bab8b9; border-radius:2px; background:#fff; -webkit-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); -moz-box-shadow: 4px 4px 17px -6px rgba(140,140,140,0.6); box-shadow:4px 4px 17px -6px rgba(140,140,140,0.6);}
.tooltip-detail p {font-size:14px; line-height:20px; color:#3f3f3f; word-break:keep-all}
.tooltip-detail .f-bd {margin-bottom:8px; color:#000}

/* 180704_팝업_다솜 */
.pop-com {z-index: 10000; display:block; position:fixed; overflow-y:auto; width:100%; height:100%; top:0; left:0; background:rgba(0, 0, 0, 0.7)}
.pop-com .pop-wrap {z-index: 10001; display:block; position:relative; box-sizing:border-box; width:570px; height:auto; left:50%; /*top:50%;*/ margin-top:180px; margin-bottom:100px; margin-left:-275px; padding:30px 14px 13px; background:#f5f5f5;}
.pop-com .pop-top-box {}
.pop-com .pop-top-box .pop-tit {font-size:30px; font-weight:600; line-height:30px; text-align:center; color:#3b3b3b}
.pop-com .pop-container {margin-top:15px; padding:36px 44px 30px; border:1px solid #ddd; border-radius:4px; background:#fff}
.pop-com .pop-container .pop-txt-0 {margin-top:15px; font-size:28px; line-height:28px; font-weight:600}
.pop-com .pop-container .pop-txt-1 {margin-top:13px; font-size:16px; line-height:24px; color:#505050}
.pop-com .pop-container .btn-com {margin-top:20px; display:inline-block; width:100%; height:54px; font-size:18px; line-height:54px; text-align:center; border-radius:4px}
.pop-com .pop-container .btn-com.btn-wid-1 {width:193px;}
.pop-com .pop-container .btn-box {text-align:center; margin:0 auto}
.pop-com .pop-container .btn-box.btn-box-wid2 {margin:20px auto 30px; padding:0 20px}  
.pop-com .pop-container .btn-box.btn-box-wid2 a {float:right; width:48.5%;}
.pop-com .pop-container .btn-box.btn-box-wid2 a:first-child {float:left;}

.pop-com .btn-close {display:inline-block; position:absolute; width:auto; height:24px; top:32px; right:16px; background:url(https://nurifunding.co.kr/img/btn_close.png) no-repeat 0 center;}
.pop-com .btn-close span {padding-left:30px; font-size:18px; font-weight:600; line-height:24px; color:#696969}

/* 180727 한글표기를 위한 텍스트 추가_다솜 */
.nr-money-txt {display:block; margin-top:10px; padding-right:25px; font-size:16px; line-height:16px; color:#686868; text-align:right;}