@font-face {
    font-family: 'Nanum Gothic';
    src: url("../../fonts/NanumGothic.eot");
    src: local("☺"), url("../../fonts/NanumGothic.woff") format("woff");
}
@font-face {
    font-family: 'NanumGothicBold';
    src: url("../../fonts/NanumGothicBold.eot");
    src: local("☺"), url("../../fonts/NanumGothicBold.woff") format("woff");
}
@font-face {
    font-family: 'NanumGothicExtraBold';
    src: url("../../fonts/NanumGothicExtraBold.eot");
    src: local("☺"), url("../../fonts/NanumGothicExtraBold.woff") format("woff");
}
@font-face {
    font-family: 'NanumBarunGothic';
    src: url("../../fonts/NanumBarunGothic.eot");
    src: local("☺"), url("../../fonts/NanumBarunGothic.woff") format("woff");
}
@font-face {
    font-family: 'NanumBarunGothicBold';
    src: url("../../fonts/NanumBarunGothicBold.eot");
    src: local("☺"), url("../../fonts/NanumBarunGothicBold.woff") format("woff");
}

body {font-family: 'Nanum Gothic', Arial , sans-serif;}

.container, .container-fluid {overflow: hidden;}
