.com-pd {padding: 98px 10px 95px;}
.com-ft {text-align: center; font-size: 42px; font-family: "Noto Sans KR", sans-serif; line-height: 1.2em;}
.com-box {position: relative; margin: 0 auto; margin-top: 20px;}
.arr-icon {display: inline-block; position: relative; background: url(https://nurifunding.co.kr/img/nrm_icon.png) no-repeat;}
.br4 {border-radius: 4px;}
.md-block {display: block;}

.main {width: 100%; background: #126cc4;}
.main-box.main-common {position: relative; width: 945px; height: 272px;}
.main-box.main-common > div.s1-div-1 {width: 100%; text-align: center;}
.main-box.main-common > div.s1-div-1 p {position: relative; display: inline-block;}
.main-box.main-common > div.s1-div-1 p.nth-1 {width: 608px; height: 52px; font-size: 30px; background: #09345f; color: #fff; font-weight: 200; line-height: 1.66em;
  margin-top: 60px; letter-spacing: 1px;}
.main-box.main-common > div.s1-div-1 p.nth-1:after {position: absolute; content: ""; display: block; left: 50px; bottom: -27px; width: 1px; border: 14px solid #09345f; border-color: transparent; border-top-color: #09345f;}
.main-box.main-common > div.s1-div-1 p.nth-1 .f-bd {font-weight: 400;}
.main-box.main-common > div.s1-div-1 p.nth-2 {font-size: 71px; color: #fff; font-weight: 400; letter-spacing: -2px; font-weight: 400; margin-top: 20px;}
.main-box.main-common > div.s1-div-1 p.nth-2 i {font-style: italic;}
.main-box.main-common > div.s1-div-1 p.nth-3 {font-size: 38px; color: #fff; font-weight: 200; margin-top: 24px;}
.main-box.swiper-container {position: relative;  padding: 0 0px; margin: 0 auto; text-align: center;}
.main-box .swiper-slide {position: relative; width: 945px; height: 375px;}
.main-box .swiper-slide img {display: block;}
.main-box .swiper-slide > div {position: absolute;}
.main-box .swiper-slide > div.s1-div-2 {top: 68px; left: 20px; color: #fff; text-align: left;}
.main-box .swiper-slide.nth-1 > div.s1-div-2 .d1 p.nth-2, .main-box .swiper-slide.nth-1 > div.s1-div-2 .d1 p.nth-2 span {letter-spacing: -3px;}
.main-box .swiper-slide > div.s1-div-2 .d1 {font-size: 40px; font-weight: 200;}
.main-box .swiper-slide > div.s1-div-2 .d1 p.nth-2 {font-weight: 400; margin-top: 10px;}
.main-box .swiper-slide > div.s1-div-2 .d2 {font-size: 24px;}
.main-box .swiper-slide > div.s1-div-2 .d2 p {margin-top: 10px; font-weight: 300; letter-spacing: 0px;}
.main-box .swiper-slide > div.s1-div-2 .d2 p:first-child {margin-top: 20px;}
.main-box .swiper-slide > div.s1-div-2 .d2 p img {display: inline-block; position: relative; top: 2px; margin-right: 10px; width: 19px;}
.main-box .swiper-slide > div.s1-div-3  {top: 42px; right: 0px;}
.main-box .swiper-slide > div.s1-div-3 img {}
.main-box .swiper-slide > div.s2-div-3  {top: 53px; right: 64px;}
.main-box .swiper-slide > div.s3-div-3  {top: 59px; right: 50px;}

.main-box .swiper-slide > div.s2-div-2 {top: 100px;}
.main-box .swiper-slide > div.s3-div-2 {top: 100px; left: 30px;}

.main-box .swiper-slide > div.s2-div-2 .d1, .main-box .swiper-slide > div.s3-div-2 .d1 {font-size: 40px;}

.main-box .swiper-slide > div.s2-div-2 .d2 p.nth-2, .main-box .swiper-slide > div.s2-div-2 .d2 p.nth-4 {float: left; margin-right: 3px;}
.main-box .swiper-slide > div.s3-div-2 .d2 p.nth-2, .main-box .swiper-slide > div.s3-div-2 .d2 p.nth-3 {display: none;}
.main-box .swiper-slide > div.s3-div-2 .d2 p.nth-1:after {content: " 부동산 가치 상승,"}
.main-box .swiper-slide > div.s3-div-2 .d2 p.nth-4:before {content: "임대료, 기타 수익 등 꼼꼼꼼한 "}

.rate {padding: 42px 0px;}
.rr-nth-1 {width: 17%;}
.rr-nth-2 {width: 28%;}
.rr-nth-3 {width: 28%;}
.rr-nth-4 {width: 27%;}
.r-f, .r-f2 {text-align: center; color: #fff; font-family: "Nanum Gothic", sans-serif; letter-spacing: 0;}
.r-f {font-size: 18px;}
.r-f .q-w {position: relative; top: 0px; display: inline-block; margin-left: 4px; width: 22px; height: 22px; border-radius: 50%; background: #fff; text-align: center; cursor: pointer;}
.r-f .q {position: relative; top: 2px; left: 0px; color: #09345f; font-weight: 600; font-family: "Noto Sans KR", sans-serif;}
.r-f .q .q-t {display: none; position: absolute; width: 120px; height: 28px; left: -53px; top: -36px; color: #fff; font-weight: 400; background: #000; border-radius: 4px; 
  line-height: 1.6em; font-size: 16px;}
.r-f .q .q-t:after {position: absolute; content: ""; bottom: -14px; left: 51px; display: block; width: 1px; border: 8px solid #000; border-color: transparent; border-top-color: #000;}
.r-f .q:hover .q-t {display: block;}
.r-f2 {font-size: 28px; margin-top: 12px; font-weight: 500;}
.rr-nth-4 .r-f2 {position: relative; top: -4px;}

.benefit {background: #EBF4FB;}
.benefit h2 {font-weight: 500; margin-bottom: 20px;}
.benefit .container > .p1 {text-align: center; font-size: 18px; word-break: keep-all; line-height: 1.2em; margin-bottom: 50px; font-weight: 300;}
.benefit .com-box {height: 482px;}.benefit .com-box > div {position: absolute; bottom: 0; left: 0; float: left; width: 184px;}
.benefit .com-box .nth-1 {left: 0;}
.benefit .com-box .nth-2 {left: 186px;}
.benefit .com-box .nth-3 {left: 372px;}
.benefit .com-box .nth-4 {left: 558px;}
.benefit .com-box .nth-5 {left: 744px;}
.benefit .com-box .p-per, .benefit .com-box .p-tit {font-size: 12.5px; text-align: center; word-break: keep-all; color: #a0b6c8;}
.benefit .com-box .p-per {margin-bottom: 5px; font-size: 38px; font-weight: 300;}
.benefit .com-box .p-tit {margin-top: 5px; line-height: 1.1em; font-size: 24px; font-weight: 300;}
.benefit .com-box .p-chart {display: inline-block; width: 100%; vertical-align: bottom; background: #bdcfde;}
.benefit .com-box .nth-5 .p-per, .benefit .com-box .nth-5 .p-tit {color: #126cc3;}
.benefit .com-box .nth-5 .p-per {font-size: 55px; font-weight: 400;}
.benefit .com-box .nth-1 .p-chart {height: 41px;}
.benefit .com-box .nth-2 .p-chart {height: 54px;}
.benefit .com-box .nth-3 .p-chart {height: 137px;}
.benefit .com-box .nth-4 .p-chart {height: 291px;}
.benefit .com-box .nth-5 .p-chart {height: 367px; background: #126cc3;}

.easy {background: #fff;}
.easy h2 {font-weight: 500; margin-bottom: 20px;}
.easy .container > .p1 {text-align: center; font-size: 18px; word-break: keep-all; line-height: 1.2em; margin-bottom: 50px; color: #414141;}
.easy .com-box {text-align: center;}
.easy .com-box img {position: relative; display: inline-block; width: 160px; margin-top: 52px; margin-bottom: 30px;}
.easy .com-box div.nth-1 img {}
.easy .com-box div.nth-2 img {left: 17px;}
.easy .com-box div.nth-3 img {margin-bottom: 41px;}
.easy .com-box div.nth-1 {left: 15px;}
.easy .com-box div.nth-1 img.plus,  .easy .com-box div.nth-2 img.plus {position: absolute; top: 34px; width: 76px;}
.easy .com-box div.nth-1 img.plus {left: 250px;}
.easy .com-box div.nth-2 img.plus {left: 296px;}
.easy .com-box h3 {font-size: 24px; font-weight: 500; line-height: 1.2em; margin-bottom: 8px;}
.easy .com-box div.nth-3 h3 {margin-bottom: 25px;}
.easy .com-box p {font-size: 16px; line-height: 1.2em; word-break: keep-all; font-weight: 300;}
.easy .ip-more-btn {width: 65%;}

.ingProduct {background: #f5f5f5;}
.ip-wrap {}
.ip-outer {padding: 0; margin-top: 30px;}
.ip-outer:nth-child(odd) {padding-right: 15px;}
.ip-outer:nth-child(even) {padding-left: 15px;}
.ip-box { margin: 0 auto; background: #fff; border: 1px solid #ddd; overflow: hidden;}
.thumb-box {position: relative; width: 445.5px; height: 178.19px;}
.thumb-box img {width: 100%;}
.thumb-box .new {position: absolute; top: 10px; left: 10px; font-size: 14px; background: rgba(38, 196, 183, 0.88); background: #30C0BA; padding: 11px 5px; color: #fff; border: 2px solid #fff; z-index: 1;}
.thumb-box .end {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #cdcdcd; text-align: center;}
.thumb-box .end span {position: relative; color: #fff; display: inline-block; padding: 10px 40px; top: 72px; border: 1px solid #fff; letter-spacing: 0; font-size: 20px;}
.iph3 {padding: 10px 25px; font-size: 24px;}
.ip-inner {padding: 0 25px; margin-top: -2px;}
.ip-inner li[class*=ipli] {line-height: 1.5em; font-size: 18px;}
li[class*=ipli] .pull-right {font-weight: 600; }
.ipli-nth-5 {margin: 10px 0 6px; background: #dadada;}
.ip-per-bar {width: 80%; height: 7px; }
.ip-per-num {font-size: 16px; color: #777; margin-left: 2px;}
.ip-percent {position: relative; font-size: 24px; font-weight: 600;}
li[class*=ipli] .pull-right.day {font-weight: 500; font-size: 23px;}
.ip-btn-box {text-align: center; margin: 15px 0 25px;}
.ip-btn {display: inline-block; width: 88.5%; color: #fff; line-height: 2.8em; font-size: 18px; letter-spacing: 0;}
.ip-more-outer {margin: 50px auto 0;}
.ip-more-box {text-align: center;}
.ip-more-btn {position: relative; left: -10px; display: inline-block; width: 65%; border: 1px solid #dcdcdc; line-height: 2.8em; font-size: 20px; background: #126cc3; color: #fff;}
.black-r-icon {width: 10px; height: 16px; background: url(https://nurifunding.co.kr/img/i_whiteArr.png) no-repeat; left: 8px; top: 1px;}

.faq {background: #dae7f3;}
.fq-outer {margin-top: 30px;}
.fq-box {padding: 20px 15px; background: #fff;}
.fqh3, .fq-a {position: relative; padding-left: 40px;}
.fqh3 {padding-bottom: 15px; border-bottom: 1px solid #e5e5e5; font-size: 18px; line-height: 1.2em; letter-spacing: 0; min-height: 58px;}
.fq-a {padding-top: 13px; font-size: 16px; line-height: 1.3em; min-height: 116px;}
.q-icon, .a-icon {position: absolute; top: 0; left: 0; width: 30px; height: 33px;}
.q-icon {background-position: -100px; top: 4px;}
.a-icon {background-position: -150px; top: 18px;}
.fq-btn-outer {margin: 50px auto 0px;}
.fq-btn-box {text-align: center;}
.fq-btn {display: inline-block; width: 65%; border:1px solid #dcdcdc; line-height: 2.8em; font-size: 20px; background: #126cc3; color: #fff;}

/* ie9 선택자 안먹는 오류 수정 */
.ip-outer {padding: 10px;}