.br4 {border-radius: 4px;}

.contents {position: relative;}
.lon-h2 {margin-top: 35px;}
.lon-box {position: relative; width: 500px; margin: 15px auto 50px;}
.lon-box {border: 1px solid #ddd; background: #fff; padding: 30px 50px;}

.loan {}
.lon-h2 {display: block; text-align: center; width: 100%; font-size: 28px; font-weight: 300; letter-spacing: -1px;}
.lon-dot, .lh3-dot {position: relative; font-family: "Nanum Gothic", sans-serif;}
.lon-dot {position: relative; top: -5px; margin: 0 3px; font-size: 14px;}
.lon-em {text-align: center; font-weight: 400; font-size: 16px; line-height: 1.5em;}
.lon-ul {padding: 0px 0 20px;}
.lh3-dot {margin: 0 -2px; top: -1px;}
.lon-li {position: relative; font-size: 16px; margin-top: 20px;}
.lon-li:first-child {margin-top: 25px;}
.lon-li:before, .lon-li:after {content: ""; display: block;}
.lon-li:after {clear: both;}
.lon-li > .half.nth-2 {margin-top: 20px;}
.lon-p {color: #494949;}
.lon-p span {font-size: 14px; margin-left: 2px;}
.lon-d {margin-top: 12px; height: 46px;}
.lon-d.radio {height: auto;}
.lon-d.radio > p {display: inline-block; width: 49.5%; margin-top: 8px;}
.lon-d.radio > p.nth-1, .lon-d.radio > p.nth-2 {margin-top: 0;}
.lon-d.radio input[type="radio"] {width: 20px; height: 20px; border-radius: 50%; margin-right: 5px; border-color: #dcdcdc;}
.lon-d.radio input[type="radio"]:checked {background: url(http://img.nurifunding.co.kr/radio_icon.png) no-repeat -1px; background-size: 20px; }
.lon-d.txtarea {height: auto;}
.dropdown .btn, .dropdown .dropdown-menu, .nr-text, .nr-bg-txt, .nr-ph {font-size: 16px; font-family: "Nanum Gothic", sans-serif;}
.dropdown .btn {position: relative; border: 1px solid #ddd; background: #fff; padding: 8px 15px; border-radius: 4px; text-align: left; width: 100%; height: 100%; color:#999;}
.dropdown .btn:focus, .dropdown .btn:active, .dropdown .btn.on {color: #333;}
.dropdown .btn span {position: relative; top: 4px;}
.dropdown .dropdown-menu {display: none; position: absolute; border: 1px solid #d4d4d4; background: #fff; border-radius: 4px; margin-top: -1px; z-index: 1; width: 100%; padding: 3px 0;}
.dropdown .dropdown-menu li a {display: block; padding: 5px 15px; line-height: 1.2em;}
.dropdown .dropdown-menu li a:hover {color: #398fe2;}
.nr-text {width: 100%; height: 100%; text-indent: 15px; letter-spacing: 0; background-color: transparent; line-height: 3em;}
.nr-bg-txt + .nr-text {text-align: right; padding-right: 60px;}
.nr-bg-txt + .nr-text + .nr-ph {text-align: right; right: 60px;}
.nr-area {height: 98px; padding: 8px; text-indent: 0;}
.nr-ph {display: none; position: absolute; top: 16px; left: 1px; text-indent: 15px; color: #999; letter-spacing: 0;}
.dropdown .btn:hover, .dropdown .btn:active,
.nr-box .nr-text:hover, .nr-box .nr-text:active {background-color: rgba(219,219,219,0.1);}
.nr-bg-txt {position: absolute; right: 15px; top: 15px;}
.lon-ps {position: relative; padding-left: 15px; font-size: 14px; margin-top: 8px; color: #999; font-weight: 300;}
.lon-ps:before {position: absolute; content: "※"; left: 0;}
.nr-check {width: 17px; height: 17px;}
.nr-check:checked {width: 17px; height: 17px; background: url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 2px; background-size: 10px; background-color: #fff;}
.alow3 {text-align: center;}
.alow3 {margin-top: 25px;}
.a-btn {display: inline-block; width: 100%; color: #fff; font-size: 16px; line-height: 3.2em; height: 50px; letter-spacing: 0;}
.a-btn span {position: relative; right: 20px;font-size: 11px;}
.a-ps {font-size: 15px; text-align: center; margin-top: 15px; color: #545454;}

.loan.nth-1 {}
.loan.nth-1 .p-1, .loan.nth-1 .p-2 {text-align: center; line-height: 1.3;}
.loan.nth-1 .p-1 {font-size: 22px; margin-top: 15px;}
.loan.nth-1 .p-2 {font-size: 18px;}

.loan.nth-4 {}
.loan.nth-4 .lon-em {font-size: 16px;}
.loan.nth-4 .ps {font-size: 14px; text-align: center; color: #636363; margin-top: 3px;}
.submit-box {margin-top: 25px; border: 1px solid #ddd; padding-top: 20px;}
p[class*=sb-] {text-align: center; font-size: 15px; line-height: 1.5em;}
.sb-p1 .fc-blue {text-decoration: underline;}
p[class*=sb-].sb-p2 {color: #999; font-size: 14px;}
.sb-p3, .sb-p5, .sb-p7 {margin: 8px 0;}
.sb-p3 img, .sb-p5 img, .sb-p7 img {width: 20px;}
.sb-p9 {background: #f5f5f5; padding: 10px 0;}
.sb-p8 {margin-bottom: 20px;}
.nr-check, .a-fc {vertical-align: middle;}

.loan.nth-5 {}
.sub_01 {display: block; margin: 0 auto; width: 140px; margin-top: 30px;}
.loan.nth-5 .lon-h3 {text-align: center; font-size: 22px; font-weight: 500;}
.l5-ps {text-align: center; color: #888; font-size: 16px; margin-top: 5px;}
.l5-ps-2 {margin-top: 30px; padding-top: 30px; border-top: 1px solid #ddd;}
.l5-ps-2, .l5-ps-3 {font-size: 14px; line-height: 1.4em; font-family: "Nanum Gothic", sans-serif;}
.l5-ps-2 {}
.l5-ps-3 {color: #888;}


/*PC영역*/
.lon-h2 {margin-top: 45px;}
.lon-box {position: relative; width: 800px; margin: 45px auto 65px;}
.lon-box {border: 1px solid #ddd; background: #fff; padding: 40px 100px;}

.loan {}
.lon-h2 {display: block; text-align: center; width: 100%; font-size: 34px; font-family: "Noto Sans KR", sans-serif; font-weight: 400; letter-spacing: -1px;}
.lon-dot, .lh3-dot {position: relative; font-family: "Nanum Gothic", sans-serif;}
.lon-dot {position: relative; top: -5px; margin: 0 -3px; font-size: 20px;}
.lon-em {text-align: center; font-weight: 400; font-size: 17px; line-height: 1.5em;}
.lh3-dot {margin: 0 -2px; top: -1px;}
.lon-ul {padding: 0px 0 30px;}
.lon-li {position: relative; font-size: 17px; margin-top: 20px;}
.lon-li:first-child {margin-top: 30px;}
.lon-li > .half {width: 49%;}
.lon-li > .half.nth-1 {float: left;}
.lon-li > .half.nth-2 {float: right; margin-top: 0;}
.lon-p {color: #434343;}
.lon-d.radio > p {display: inline-block; width: 33%; margin-top: 8px;}
.lon-d.radio > p.nth-1, .lon-d.radio > p.nth-2, .lon-d.radio > p.nth-3 {margin-top: 0;}
.lon-d.radio input[type="radio"] {width: 23px; height: 23px; border-radius: 50%; margin-right: 5px; border-color: #dcdcdc;}
.lon-d.radio input[type="radio"]:checked {background: url(http://img.nurifunding.co.kr/radio_icon.png) no-repeat -1px; background-size: 23px; }
.dropdown .btn, .dropdown .dropdown-menu, .nr-text, .nr-bg-txt, .nr-ph {font-size: 17px;}

.a-btn {display: inline-block; width: 100%; color: #fff; font-size: 18px; line-height: 3.2em; height: 58px; letter-spacing: 0;}
.a-btn span {position: relative; right: 20px;font-size: 11px;}

.loan.nth-4 {}
.loan.nth-4 .lon-em {font-size: 22px;}
.loan.nth-4 .ps {font-size: 17px; text-align: center; color: #636363; margin-top: 3px;}
.submit-box {margin-top: 35px; border: 1px solid #ddd; padding-top: 40px;}
p[class*=sb-] {text-align: center; line-height: 1.5em; font-size: 17px;}
p[class*=sb-].sb-p2 {color: #999; font-size: 15px;}
.sb-p8 {margin-bottom: 40px;}
.sb-p3 img, .sb-p5 img, .sb-p7 img {width: 22px;}
.loan.nth-4 .nr-check {width: 20px; height: 20px; margin-right: 5px;}
.loan.nth-4 .nr-check:checked {width: 20px; height: 20px; background: url(http://img.nurifunding.co.kr/check-icon.png) no-repeat 3px 3px; background-size: 12px; background-color: #fff;}
.loan.nth-4 .alow3 {margin-top: 40px; margin-bottom: 30px;}

.loan.nth-5 {}
.sub_01 {display: block; margin: 0 auto; width: 172px; margin-top: 30px;}
.loan.nth-5 .lon-h3 {text-align: center; font-size: 32px;}
.loan.nth-5 .alow3 {margin-top: 35px;}
.l5-ps {text-align: center; color: #888; font-size: 17px; margin-top: 10px;}
.l5-ps-2 {margin-top: 35px; padding-top: 30px; border-top: 1px solid #ddd;}
.l5-ps-2, .l5-ps-3 {font-size: 15px; line-height: 1.4em; font-family: "Nanum Gothic", sans-serif;}
