<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>누리펀딩</title>

</head>

<body style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%; height: 100%;  margin: 0; padding: 0; background: #fff;">

	<table class="full-wrap" style="width: 650px; border-spacing: 0; margin: 0 auto; padding: 0 20px; color: #303030; font-family: 'Nanum Gothic', sans-serif; font-size: 16px;">
		<tbody>
			<tr>
				<td class="header container" style="display: block !important; margin: 0 auto; clear: both !important;">

					<div class="content" style="display: block; margin: 0 auto;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="padding: 20px 0 15px;">
									<img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고" style="width: 160px; vertical-align: middle; position: relative;"/><br/>
									<span style="font-size: 24px; color: #1268BE; display: inline-block; vertical-align: middle;">이메일 인증</span>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td class="body container" style="display: block !important; margin: 0 auto; clear: both !important;">

					<div class="content" style="display: block; margin: 0 auto;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;"><img src="https://nurifunding.co.kr/img/mail/nr_01.jpg" alt="P2P금융의 노하우 누리펀딩" style="display: block; width: 100%;"/></td>
							</tr>
							<tr>
								<td>
									<div style="text-align: center; font-size: 16px; line-height: 1.5; font-weight: 700; padding: 32px 0 12px;">
										<span style="color: #696969;">고객님의 개인정보보호를 위해 이메일 인증을 거치고 있습니다.</span><br/>
										<span style="color: #f4614d;">아래 이메일 수신확인 버튼을 클릭해주세요.</span><br/>
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: center;">
									<div style="margin: 12px 0;">
										<a href="#" style="text-decoration: none; color: #fff; background: #539EE5; display: inline-block !important; padding: 10px 30px 13px; font-size: 18px;">이메일 수신확인</a>
									</div>
									<div style="color: #696969; font-weight: 700;">인증 유효시간 : 2018.03.06 AM 10:22까지</div>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td class="footer container" style="display: block !important; margin: 0 auto; clear: both !important;">

					<div class="content" style="display: block; margin: 0 auto;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td>
									<div style="font-size: 12.5px; color: #777; border-top: 1px solid #d7d7d7; padding: 12.5px 0; margin-top: 12px;">
										본 메일은 발신정용입니다.<br/>
										문의사항은 help@nurifunding.co.kr 으로 보내주시기 바랍니다.<br/>
										Copyright Nurifunding. All rights reserved.
									</div>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			
		</tbody>
	</table>

</html>