<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>누리펀딩</title>

</head>

<body style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%; height: 100%;  margin: 0; padding: 0; background: #fff;">

	<table class="full-wrap" style="width: 650px; border-spacing: 0; margin: 0 auto; color: #303030; font-family: 'Nanum Gothic', sans-serif; font-size: 16px;">
		<tbody>
			<tr>
				<td class="header container" style="display: block !important; margin: 0 auto; clear: both !important;">

					<div class="content" style="display: block; margin: 0 auto; padding: 0 20px;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="padding: 25px 0 15px;"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고" style="float: left; width: 160px;"/></td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td class="body container" style="display: block !important; margin: 0 auto; clear: both !important; padding: 0 20px;">

					<div class="content" style="display: block; margin: 0 auto;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="border-top: 1px solid #d4d4d4; border-bottom: 1px solid #d4d4d4;"><img src="https://nurifunding.co.kr/img/mail/nr_01.jpg" alt="P2P금융의 노하우 누리펀딩" style="display: block; width: 100%;"/></td>
							</tr>
							<tr>
								<td style="letter-spacing: -0.5px;">
									<div style="text-align: center; font-size: 22px; line-height: 1.7; padding: 25px 0; margin-top: 20px">
										<span style="font-weight: 700;">감사합니다.</span><br>
										누리펀딩 회원으로 가입되셨습니다.
									</div>
									<div style="font-size: 14px; line-height: 2; padding: 12px 0;">
										금융의 노하우! 누리펀딩에 가입이 완료되었습니다.<br/>
										지금부터 회원님께서는 누리펀딩에서 고금리 혜택에 참여하실 수 있습니다.<br/>
										누리펀딩은 ( 웹 보안 + 금융 노하우 + 법률 자문 ) P2P 금융의 최고의 인력입니다.<br/>
										지금바로 투자해보세요!
									</div>
								</td>
							</tr>
							<tr>
								<td style="text-align: center; letter-spacing: -1px;">
									<div style="padding: 30px 0; ">
										<a href="#" target="_blank" style="text-decoration: none; color: #fff; background: #09345f; display: inline-block !important; padding: 14px 50px; line-height: 1.3; font-size: 18px; border-radius: 5px;">누리펀딩 바로가기</a>
									</div>
									<div style="font-size: 14px; color: #808080;">본 메일은 누리펀딩 획원가입 시 고객님의 가입확인 메일입니다.</div>
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			<tr>
				<td class="footer container" style="display: block !important; margin: 50px auto 0; clear: both !important;">

					<div class="content" style="display: block; margin: 0 auto;">
						<table style="width: 100%; border-spacing: 0;">
							<tr>
								<td style="color: #d1d1d1; font-size: 14px; letter-spacing: -1px; line-height: 1.7; padding: 30px; background: #282828;">
									당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며,<br/>
									투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다.<br/>
									<span style="color: #00a8ff">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</span><br/>
									또한 대출 시 귀하의 신용등급이 하락할 수 있습니다.
								</td>
							</tr>
						</table>
					</div>

				</td>
			</tr>
			
		</tbody>
	</table>

</html>