<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>메일링</title>

</head>

<body style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%; height: 100%;  margin: 0; padding: 0; background: #fff;">

	<!-- HEADER, body, footer -wrap -->
	<table class="head-wrap" style="background: #999; width: 100%;">
		<tr>
			<td></td>
			<td class="header container" style="display: block !important; margin: 0 auto; clear: both !important;">
	
				<div class="content" style="display: block; margin: 0 auto;">
					<table bgcolor="#999999">
						<tr>
							<td><img src="http://placehold.it/200x50/" /></td>
							<td align="right">
								<h6 class="collapse">Basic</h6>
							</td>
						</tr>
					</table>
				</div>
	
			</td>
			<td></td>
		</tr>
	</table>
	<!-- /HEADER -->


</html>