<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>누리펀딩</title>

</head>

<body style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; width: 100%; height: 100%;  margin: 0; padding: 0; background: #fff;">

	<table class="full-wrap" style="width: 650px; margin: 0 auto;">
		<tr>
			<td class="header container" style="display: block !important; margin: 0 auto; clear: both !important;">
	
				<div class="content" style="display: block; margin: 0 auto;">
					<table style="width: 100%;">
						<tr>
							<td style="padding: 15px 0; border-bottom: 1px solid #d4d4d4;"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고" style="float: left; width: 150px;"></td>
						</tr>
					</table>
				</div>
	
			</td>
		</tr>
		<tr>
			<td class="body container" style="display: block !important; margin: 0 auto; clear: both !important;">
	
				<div class="content" style="display: block; margin: 0 auto;">
					<table style="width: 100%;">
						<tr>
							<td><img src="http://placehold.it/200x50/" /></td>
							<td align="right">
								<h6 class="collapse">Basic</h6>
							</td>
						</tr>
					</table>
				</div>
	
			</td>
		</tr>
		<tr>
			<td class="footer container" style="display: block !important; margin: 0 auto; clear: both !important;">
	
				<div class="content" style="display: block; margin: 0 auto;">
					<table style="width: 100%;">
						<tr>
							<td><img src="http://placehold.it/200x50/" /></td>
							<td align="right">
								<h6 class="collapse">Basic</h6>
							</td>
						</tr>
					</table>
				</div>
	
			</td>
		</tr>
	</table>

</html>