
.wrap {padding-top:70px}
.show-xs {display:none}
.btn-pay {position:relative; display:inline-block; padding:0 13px; height:53px; font-size:16px; line-height:53px; font-weight:600; color:#fff; text-align:center; border-radius:4px; background:#0898e7}
section[class*="pay-sec"] {position:relative;}
section[class*="pay-sec"] .pay-area {position:relative; width:960px; margin:0 auto;}
section[class*="pay-sec"] .pay-area img {}
/*ie8 별도*/
.pay-sec2 .nr-select {display:inline-block; height:40px; padding:0 0 0 15px; font-size:20px; line-height:40px; font-weight:500; color:#0069cb; border: 1px solid #bdbdbd; border-radius:1px;}

/* 헤더 */
.pay-header {padding-top:17px; height:70px; border-bottom:0; background:#e5e5e5}
.pay-header h2 {float:left; position:relative; display:inline-block; width:155px}
.pay-header h2 a {width:100%;}
.pay-header .container.header-box {width:960px; top:0; padding:0}
.pay-header .main-nav > li, .main-nav > li > a {padding-bottom:0; line-height:34px;}
.pay-header .main-nav > li {margin-left:14px; font-size:18px; color:#616161}
.pay-header .main-nav .img-call {display:none}
.pay-header .main-nav .btn-pay {height:34px; font-size:14px; line-height:34px}

/* 메인 */
.pay-sec1 {padding:95px 0 86px; background:url(https://nurifunding.co.kr/img/nuripay/m/bg_sec1.jpg) no-repeat center center; background-size:cover}
.pay-sec1 .btn-pay {margin:36px 0 118px; width:165px; height:53px; font-size:14px; line-height:53px}

/* 누리페이 선정산 */
.pay-sec2 {padding:45px 0; background:#f4f4f4}
.pay-sec2 .pay-cal {float:left; position:relative; box-sizing:border-box; width:348px; height:437px; margin:0 auto; padding:30px 15px; text-align:center; border:1px solid #c8c6c7; border-radius:1px; background:#fff}
.pay-sec2 .pay-cal .cal-tit {position:relative; display:block; width:163px; height:52px; margin:0 auto}
.pay-sec2 .pay-cal .cal-tit img {height:40px;}
.pay-sec2 .pay-cal .cal-tit:after {content:''; position:absolute; display:inline-block; width:189px; height:1px; left:-13px; bottom:0; background:#d9d9d9}
.pay-sec2 .pay-cal .cal-txt {margin:13px auto 25px; font-size:16px; line-height:16px; color:#0069cb}
.pay-sec2 .pay-sel-box {}
.pay-sec2 .select-box {position:relative; display:inline-block; } 
.pay-sec2 .nr-select.sel-money {width:134px;}
.pay-sec2 .nr-select.sel-day {width:88px;}
.pay-sec2 .pay-sel-box span {display:inline-block; font-size:22px; line-height:40px; color:#3d3d3d}
.pay-sec2 .pay-sel-box .pay-sel-txt {font-size:22px; line-height:45px; color:#3d3d3d}
.pay-sec2 .pay-sel-box .pay-cal-money, .pay-sec2 .pay-sel-box .pay-cal-money span {font-size:44px; line-height:44px; color:#128bce}
.pay-sec2 .pay-sel-box .pay-cal-money {padding:10px 0 15px}
.pay-sec2 .btn-pay {width:280px; }
.pay-sec2 .pay-txt2 {margin-top:14px; font-size:14px; line-height:22px; color:#3d3d3d}

.pay-sec2 .pay-info {float:right; padding-top:15px;}

/* 누리페이에서 먼저 정산받으세요 */
.pay-sec3 {padding:50px 0 75px; background:#fff}
.pay-sec3 .pay-max {padding-top:58px;}

/* FAQ 안내 */
.pay-sec4 {padding:46px 0 55px; background:#f4f4f4}

/* 누리페이 선정산 서비스를 신청하세요! */
.pay-sec5 {padding:50px 0 53px; margin:0 auto; background:#fff}
.pay-sec5 .pay-area { margin:0 auto; text-align:center}
.pay-sec5 .cal-tit {margin-bottom:10px; font-size:28px; font-weight:600; text-align:center; line-height:28px; color:#0076b8}
.pay-sec5 .cal-txt {margin-bottom:30px; font-size:20px; text-align:center; line-height:24px; color:#3d3d3d}
.pay-sec5 .input-box {position:relative; width:515px; margin:0 auto; margin-top:9px}
.pay-sec5 .nr-text {display:inline-block; width:375px; height:40px; padding:0 14px; font-size:18px; line-height:40px; font-weight:500; color:#3d3d3d; border: 1px solid #bbb9b9; border-radius:1px;}
.pay-sec5 .input-tit {position:relative; float:left; width:135px; font-size:18px; text-align:left; line-height:40px; color:#3d3d3d}
.pay-sec5 .input-tit label {cursor:pointer}
.pay-sec5 .input-txt-box {position:relative; float:left}
.pay-sec5 .input-num-box .nr-text {width:86px}
.pay-sec5 .input-num-box .nr-text.fir {width:101px}
.pay-sec5 .input-num-box .nr-text.last {width:150px}
.pay-sec5 .input-num-box .line {display:inline-block; position:relative; width:5px; height:2px; margin:0 4px; vertical-align:middle; background: #b1b1b1}
.pay-sec5 .btn-pay {width:507px; margin-top:30px}

/* 푸터 */
.pay-footer {box-sizing:border-box; padding-top:55px; height:135px; background:#555}
.pay-footer .container.footer-box {position:relative; width:960px; margin:0 auto;}
.pay-footer p, .pay-footer span, .pay-footer a {color:#fff}
.pay-footer .f-pay-txt {float:left; font-size:26px}
.pay-footer .f-pay-txt span {display:inline-block; margin-left:4px; font-size:18px}
.pay-footer .f-cs-txt {float:right; font-size:26px; font-weight:600}