.container {width: 700px;}
.footer {margin-top: 125px;}

.com-ft {text-align: center; font-size: 36px; font-family: "Noto Sans KR", sans-serif; margin-top: 55px;}
.com-pd {margin-bottom: 20px;}
.com-pd.last {margin-bottom: 125px;}
.com-box {margin: 0 auto; margin-top: 0px; padding: 50px 40px; background: #fff; border: 1px solid #ddd;}
.com-box.nth-1 {margin-top: 40px;}
.br4 {border-radius: 4px;}

.nr-login .snsLarge, .nr-login hr.sun, .nr-login .area-mail {position: relative; width: 400px; margin: 0 auto;}
.nr-login h4 {font-size:18px; color:#5a2400; font-weight: 400; margin-bottom: 25px;}
.nr-login .snsLarge li {text-align:center; letter-spacing:-0.3px; font-weight:600; line-height:55px; font-size:15px; margin-bottom: 10px;}
.nr-login .snsLarge li a {position: relative; display:block; width:268px; height:55px; box-sizing: border-box; border-radius: 4px;}
.nr-login .snsLarge li a img {position: absolute; top: 19px; left: 19px;}
.nr-login .snsLarge li a span {position: relative; display: inline-block; width: 210px;
	float:right; border-left: 1px solid; text-align: center; border-left: 1px solid rgba(0,0,0,.196);}
.nr-login .snsLarge li.daum a span {width: 207px;}
.nr-login .snsLarge .naver a {color:#fff; background:#1ec800;}
.nr-login .snsLarge .kakao a {color:#3b1e1e; background:#ffeb00;}
.nr-login .snsLarge .facebook a {color:#fff; background:#3b5998;}
.nr-login .snsLarge .daum a {color:#4681bd; border:3px solid #4681bd; line-height:50px;}
.nr-login .snsLarge .twitter a {color:#fff; background:#32ccfe;}
.nr-login .snsLarge .google a {color:#fff; background:#d34837;}
.nr-login .snsLarge .naver a img {width: 20px;}
.nr-login .snsLarge .daum a img {width: 25px; top: 12px; left: 15px;}
.nr-login .snsLarge .facebook a img {width: 25px; top: 13px; left: 16px;}
.nr-login .snsLarge .kakao a img {top: 17px; left: 17px;}

.nr-login hr.sun {margin: 40px auto; border-color: #d7d7d7;}

.nr-login .nr-text, .nr-login .a-btn {border-radius: 4px;}
.nr-login .area-mail .d-row-1 {}
.nr-login .area-mail .d-row-1 .p-1 {font-size: 20px; color: #3b3f43; font-weight: 700;}
.nr-login .area-mail .d-row-1 .p-2 {color: #a0a0a0; line-height: 1.5; margin-top: 5px;}
.nr-login .area-mail .d-row-2 {margin-top: 20px; font-size: 0;}
.nr-login .area-mail .d-row-2 .nr-text, 
.nr-login .area-mail .d-row-2 .a-btn,
.nr-login .area-mail .d-row-3 .a-btn {display: inline-block; padding: 15px 12px; height: 48px; vertical-align: middle; font-size: 16px; line-height: 18px; box-sizing: border-box;}
.nr-login .area-mail .d-row-2 .nr-text {margin-right: 10px; width: 260px; letter-spacing: 0; color: #444;}
.nr-login .area-mail .d-row-2 .a-btn {text-align: center; color: #fff; background: #404040; width: 130px;}
.nr-login .area-mail .d-row-3 .a-btn {background: #f75a4b; color: #fff; font-size: 19px; line-height: 21px; font-weight: 700; width: 100%; text-align: center; margin-top: 10px; letter-spacing: 0;}

.nr-login .area-login {font-size: 0;}
.nr-login .area-login {}
.nr-login .area-login + .area-mail {margin-top: 40px;}
.nr-login .area-login .pull-left {position: relative; width: 260px;}
.nr-login .area-login .nr-text {font-size: 14px; color: #5f5f5f; width: 100%; height: 50px; text-indent: 15px; line-height: 3em; letter-spacing: 0;}
.nr-login .area-login .nr-text:first-child {margin-bottom: 10px;}
.nr-login .area-login .a-btn {position: relative; display: inline-block; width: 130px; height: 110px; font-size: 19px; background: #404040; color: #fff; text-align: center;}
.nr-login .area-login .a-btn:after {content: ""; display: inline-block; height: 110%; vertical-align: middle;}

.nr-login .area-login .pull-left {width: 100%;}
.nr-login .area-login .a-btn {position: relative; display: inline-block; width: 100%; height: 48px; font-size: 16px; background: #f75a4b; margin-top: 10px;}

.nr-login .d-ps {margin-top: 30px; text-align: center; word-break: keep-all;}
.nr-login .d-ps .p-1 {font-size: 20px; font-weight: 600; color: #0468c8;}
.nr-login .d-ps .p-2 {margin-top: 15px; line-height: 1.5; font-size: 15px;}

.nr-login .d-ps {margin-top: 30px; text-align: center;}
.nr-login .d-ps .p-1 {font-size: 20px; font-weight: 600; color: #0468c8;}
.nr-login .d-ps .p-2 {margin-top: 15px; line-height: 1.5; font-size: 15px;}