<!DOCTYPE html>
<html lang="ko-KR">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>누리펀딩</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/common.css">
    <link rel="stylesheet" href="https://www.nurifunding.co.kr/static/css/notice/notice.css">
    <!--<link rel="stylesheet" href="../../src/css/common.css">
	<link rel="stylesheet" href="../../src/css/notice/notice.css">-->

    <script type="text/javascript" src="http://static.nurifunding.co.kr/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="http://static.nurifunding.co.kr/js/common.js"></script>
    <script type="text/javascript" src="http://static.nurifunding.co.kr/js/notice/notice.js"></script>
    <!-- <script type="text/javascript" src="../../src/js/notice/notice.js"></script> -->

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/grid_ie9lt.min.css">
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/common_ie9lt.css">
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/notice/notice_ie9lt.css">

    <script type="text/javascript" src="http://static.nurifunding.co.kr/js/ie9_lt.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <h1 class="skip">누리펀딩</h1>
    <div class="wrap">
        <!-- 일반 해더 -->
        <header class="header" id="header">
            <div class="container header-box">
                <div class="navbar-header">
                    <button type="button" class="nav-tab show-xs">
                        <span class="icon-bar b1"></span>
                        <span class="icon-bar b2"></span>
                        <span class="icon-bar b3"></span>
                    </button>
                    <h2><a href="../index.html" class="navbar-brand"><img src="http://img.nurifunding.co.kr//logo.png" alt="누리펀딩로고"></a></h2>
                    <a href="#" class="my-tab show-xs"><img src="http://img.nurifunding.co.kr//myp_icon.png" alt="마이페이지"></a>
                </div>
                <div class="navbar-collapse pull-right hidden-xs">
                    <ul class="main-nav clearfix">
                        <li><a href="../loan/loan_00.html">대출신청</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../invest/invest_01.html">투자하기</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../service/index.html">회사소개</a>
                            <nav class="sub-nav">
                                <ul>
                                    <li><a href="../service/index.html">회사소개</a></li>
                                    <li><a href="../notice/index.html">공지사항</a></li>
                                </ul>
                            </nav>
                        </li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a href="../faq/index.html">이용안내</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="">회원가입</a></li>
                        <li class="hidden-xs hidden-sm hidden-margin"></li>
                        <li><a class="c-blue" href="">로그인</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!-- 모바일 네비게이션 -->
        <section class="mlnb-wrap show-xs" id="mlnb-wrap">
            <div class="mlnb-container">
                <header class="mlnb-header">
                    <p>
                        <a href="" class="mh-logo"><img src="http://img.nurifunding.co.kr//lnb_logo.png" alt="누리펀딩"></a>
                        <a href="javascript:void(0)" class="cls-btn"><img src="http://img.nurifunding.co.kr//cls_icon.png" alt="닫기"></a>
                    </p>
                    <div class="t-box">
                        <p>지금 바로 로그인하고</p>
                        <p>누리펀딩의 투자서비스를 이용하세요!</p>
                        <p class="nth-3"><a href="">로그인</a><a href="" class="nth-2">회원가입</a></p>
                    </div>
                </header>
                <ul class="mlnb">
                    <li><a href="">대출신청<img src="http://img.nurifunding.co.kr//arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">투자하기<img src="http://img.nurifunding.co.kr//arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">회사소개<img src="http://img.nurifunding.co.kr//arrow_r_icon.png" alt="바로가기"></a></li>
                    <li><a href="">이용안내<img src="http://img.nurifunding.co.kr//arrow_r_icon.png" alt="바로가기"></a></li>
                </ul>
            </div>
        </section>

        <h2 class="com-ft">이용약관</h2>

        <!-- 01.개인정보 취급방침 -->
        <section class="privacy com-pd">
            <div class="container">

                <div class="com-box priv-txt br4">
					<span class="f-bd">제1조(목적)</span><br>
					이 약관은 ㈜누리펀딩(이하 “회사”라고 합니다)가 운영하는 https://www.nurifunding.co.kr(이하 “사이트”라고 합니다)에서 제공되는 금융시스템 및 기타 정보서비스(이하 “서비스”라고 합니다)와 관련하여 회사, 여신회사와 투자자간의 권리와 의무, 책임 사항을 규정함을 목적으로 합니다. 회사는 시스템에 관한 제반 기술과 운영에 대한 모든 권한을 갖고 있으며, 투자자에게 제공하는 여신업무는 회사와 제휴된 여신회사가 전담합니다.<br>
					제휴된 여신업체 : ㈜누리펀딩대부(이하 “여신회사”)<br>
					<br>
					<span class="f-bd">제2조(정의)</span><br>
					(1) 본 계약에서 사용되는 용어는 각각 다음과 같은 의미를 갖습니다.<br>
					 1.투자자라 함은 회사가 운영하는 사이트에 공시된 여신회사의 대출채권에 대한 원리금 수취권 취득을 목적으로 투자신청 및 투자금을 제공한 회원을 의미합니다.<br>
					 2.대출채권이라 함은 여신회사가 대출 실행을 통해 취득하게 되는 채무자에 대한 채권을 의미합니다. <br>
					 3.채무자라 함은 대출약정에 의해 여신회사에 대하여 채무를 부담하는 자를 말합니다.<br>
					 4.여신회사라 함은 회사와 특정한 제휴 및 협약을 맺고 채무자에 대하여 대외적으로 대출을 실행하고, 이에 대한 채권관리 및 채권회수 등의 업무를 수행하는 회사를 말합니다.<br>
					 5.투자금이라 함은 투자자가 대출채권의 원리금수취권을 취득하기 위하여 회사를 통해 여신회사에게 지급하는 금전을 의미합니다.<br>
					 6.원리금수취권이라 함은 투자자가 대출채권에 투자함으로써 여신회사가 채무자로부터 원리금을 회수하는 경우에 한하여 투자금에 비례하여 원리금을 여신회사로부터 지급받을 수 있는 권리를 말합니다. 이는 여신회사가 발행하여 회사가 투자자에게 교부합니다.<br>
					 7. 누리펀딩(NURIFUNDING)은 회사와 여신회사가 영위하는 사업에 관하여 공통하여 사용하는 서비스 명칭입니다.<br>
					(2) 본 약관에서 사용하는 용어 중 전항에서 규정하고 있지 않은 것은 회사의 서비스 이용약관, 관계법령 등에 따르도록 합니다.<br>
					<br>
					<span class="f-bd">제3조(회사의 업무범위)</span><br>
					(1) 회사는 시스템에 관한 제반 기술 및 운영에 대한 모든 권한을 보유하고 있습니다.<br>
					(2) 회사는 투자자가 투자하고자 하는 여신회사의 대출채권(이하 투자대상채권이라고합니다)에 대한 원리금수취권 취득을 중개하며, 이와 관련하여 회사는 투자자로부터 원리금 수취권에 대한 투자금을 수령한 다음 이를 여신회사에게 지급합니다.<br>
					(3)회사는 여신회사로부터 투자자의 투자금 원금 및 수익금을 수령한 다음, 이를 투자자에게 지급합니다.<br>
					(4) 회사는 약관의 규제에 관한 법률, 전자금융거래법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 소비자기본법 등 관련 법을 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.<br>
					<br>
					<span class="f-bd">제4조(여신회사의 지위 및 권한)</span><br>
					(1)여신회사는 투자자에게 투자대상채권에 대한 원리금수취권을 양도한 이후에도 투자대상채권의 채무자 등에 대한 대외적인 채권자의 지위를 그대로 유지합니다.<br>
					(2)채무자에 대한 대출채권의 권리행사, 채무자 등에 대한 연체이자 부과 및 추심 등 투자대상채권과 관련된 모든 권한은 오로지 여신회사만이 가집니다.<br>
					<br>
					<span class="f-bd">제5조(투자자의 지위 및 권리양도제한)</span><br>
					(1)투자자는 여신회사와 투자대상채권의 채권참가 계약을 통해 원리금수취권을 취득한 것으로 채무자 등에 대하여 직접적인 권리를 행사할 수 있는 대외적인 채권자의 지위에 있지 않습니다.<br>
					(2)투자자는 회사의 사이트에 게시된 모든 투자대상채권에 대한 대외적인 채권자는 여신회사라는 사실을 인지하고 투자에 참가한 것입니다.<br>
					(3) 투자자는 회사의 약관에 따라 투자하여 획득한 회사와 여신회사가 제공한 지위와 권리를 투자자가 아닌 제3자에게 전부 또는 일부라도 양도할 수 없습니다. 다만, 회사의 사전승인을 받을 경우 다른 투자자에게 양도하는 것은 가능합니다. 회사는 양수인이 투자회원 가입 등 결격사유가 없고 정상적인 투자회원 가입이 될 경우에는 승인하는 것을 원칙으로 합니다. 양도인은 거래대금의 3%를 회사에 수수료로 지급하고, 투자자 이용수수료는 양수도일을 기준으로 양도인과 양수인이 일할 계산(월0.1%)하여 부담합니다.<br>
					<br>
					<span class="f-bd">제6조(투자자 등록과 투자신청 제한 등)</span><br>
					(1) 투자자는 본 약관을 숙지하였음을 확인하고, 본 약관에 동의함으로써 회사가 제공하는 서비스에 투자자로서 등록하여 사이트에 게시된 투자대상채권에 투자 신청(채권참가 예약의 전자적 표시)하여 해당 대출채권의 원리금수취권리의 일부 또는 전부에 참가할 수 있습니다.<br>
					(2)회사는, 투자자가 위 참가거래에 따라 회사에게 지급할 투자 금액의 수령(교부)채권을 투자자인 귀하의 보호를 위하여 금융회사(이하 수탁자)에게 신탁하며, 귀하는 이를 승낙합니다. 동 신탁에 따라 귀하는 위 투자 금액을 금융회사에 개설된 수탁자 명의의 예금계좌로 입금하여야 합니다. 위 수탁자 명의의 예금계좌 이외의 계좌로 투자 금액을 입금하는 경우 이외에는 유효한 투자금(액)으로 인정받을 수 없고 귀하는 그 지급(입금)액을 신탁에 따라 보호받을 수 없습니다.<br>
					(3) 회사는 재량 내에서 회사가 정한 기준에 부합하지 않거나 미달하는 특정인이 서비스를 사용하는 것을 금지할 수 있는 권한을 갖습니다.<br>
					(4)투자자는 회원 가입 후 회사가 제공하는 금융회사 계좌 또는 가상계좌에 예치금 입금 후 투자신청을 할 수 있습니다. 아울러, 귀하가 참여한 투자대상채권은 다수의 투자자가 참여하여 총 모집금액이 달성이 된 이후에는 중도해지 및 중도인출이 불가능합니다. <br>
					(5) 투자자는 사이트에서 투자 신청 전 귀하 본인 명의의 은행계좌 정보를 제공하여야 하며, 해당 은행계좌는 귀하에게 수익금과 원금이 가상계좌로 지급된 후 출금신청 시 해당 은행계좌로 지급됩니다.(단, 가상계좌 미 개설시는 본인 계좌로 지급)<br>
					(6) 귀하의 투자신청은 서비스 이용약관에 의거하여 회사의 제한을 받을 수 있습니다. 회사는 귀하가 사이트를 활용하여 투자 행위를 함에 있어서 귀하의 투자 위험을 최소화하기 위해서 필요할 경우 특정 신용등급의 대출자가 신청한 대출 신청이나 기타 특정 대출 신청에 대한 투자 신청행위의 제한 또는 투자 신청금액의 제한, 사이트 내에서 투자자가 투자하는 투자 신청금액 총액의 제한, 투자 신청한 투자 건수에 대한 제한, 기타 투자 신청과 관련된 여하한 종류의 제한을 할 수 있습니다.<br>
					(7) 귀하는 회사와 여신회사가 정한 서비스 이용약관에 근거하여 개인정보 제공(이름, 주민등록번호, 주소, 계좌번호, 연락처, 이메일 등)을 하여야 하고, 회사와 여신회사는 필요할 경우 귀하가 제공한 개인정보에 근거하여 원리금 지급, 세금 원천징수 처리 등 관련 업무를 처리합니다.<br>
					(8) 투자자가 미성년자일 경우, 법정대리인의 동의가 있거나 처분이 허락된 재산의 범위 내에서 투자가 가능하고, 해당 법정대리인은 미성년자의 법정대리인임을 증명하는 문서(예: 가족관계증명서)와 별도의 투자동의서를 작성하여 회사에 제출하여야 합니다. 법정대리인의 투자동의서는 미성년자 회원의 탈퇴, 자격상실, 별도의 투자의사 철회 등이 있기 전까지 투자상품에 대한 투자가 계속 유효합니다.<br>
					<br>
					<span class="f-bd">제7조(투자금 및 수익금에 대한 미보장)</span><br>
					<br>
					(1)여신회사의 대출채권에 대한 투자는 채무자가 여신회사에게 원리금을 상환하지 않는 경우, 해당 대출 채권에 투자한 투자자에게 원리금 지급이 불가능하며, 이와 같은 경우 투자자의 투자금액에 대한 원금손실 가능성이 있습니다. 회사와 여신회사는 귀하가 투자한 투자대상채권에 대하여 원리금 상환이나 수익발생을 보장하지 않습니다.<br>
					(2)채무자 등이 여신회사에 대하여 원리금의 전부 또는 일부를 상환하지 못할 경우 발생하게 되는 투자금 손실 등 투자위험은 투자자가 부담합니다.<br>
					(3) 투자자는 이러한 투자금 손실 등에 대한 법적 책임을 회사와 여신회사에게 요구할 수 없습니다. 단 회사의 고의 또는 중대한 과실로 잘못된 정보 제공, 투자상품에 대한 관리소홀 등으로 인한 경우는 그러하지 않습니다. <br>
					<br>
					<span class="f-bd">제8조(대출 실행의 방법 등)</span><br>
					(1)회사의 사이트를 통한 투자신청은 총 모집금액이 달성되면 남은 마감시간과 관계없이 투자신청이 종료될 수 있습니다. 투자신청은 선착순으로 진행됩니다.<br>
					(2) 대출의 실행은 회사와 제휴된 여신회사를 통하여 채무자의 은행계좌 또는 대환은행, 채무자와 약정된 신탁계정으로 대출금을 입금하는 방식으로 실행됩니다. <br>
					(3) 해당 대출채권에 대해 채무자 등의 대출신청 철회 또는 추후 회사가 투자대상채권의 부적합함을 발견한 경우 등 회사가 대출신청을 철회한 경우 등 대출금실행(대출금 분할 실행 포함)이 일어나지 않은 경우 투자자의 투자는 더 이상 유효하지 않습니다. 대출실행이 철회될 경우 회사는 투자자의 투자금을 투자자에게 환급하며 별도의 이자는 지급하지 않습니다.<br>
					<br>
					<span class="f-bd">제9조(투자금 및 수익금의 지급)</span><br>
					(1)채무자 등이 여신회사와 체결한 대출약정의 변제기 또는 변제기 이전 중도 상환할 경우 여신회사는 채무자 등으로부터 원리금을 상환받습니다. (단, 중도상환수수료 지급 약정이 있는 경우는 제외)<br>
					(2)여신회사가 채무자 등으로부터 원리금을 상환 받게 되면 여신회사는 투자자가 얻는 이자수익 부분에 대한 세금을 원천징수한 후 투자자에게 지급하게 됩니다. 채무자 등이 원리금의 일부만을 상환한 경우 투자자의 투자금액에 비례하여 원리금의 일부 상환이 이루어질 수 있습니다.<br>
					(3) 대출실행되는 해당월 1일부터 24일까지 대출 실행된 경우, 투자상품의 이자수익은 익월 첫 영업일에 지급되며, 해당월 25일부터 해당월 말일까지 대출 실행된 투자상품의 이자수익은 익익월 첫 영업일에 지급됩니다.<br>
					(4)채무자 등은 여신회사와 대출약정에서 원리금 상환방식에 관하여 분할상환과 일부상환 또는 만기일시상환 방식 중 선택할 수 있으며 상환이 발생하는 익영업일 회사가 지정한 가상계좌 또는 본인계좌로 상환금액이 지급됩니다. (단, 상환일이 휴일 및 공휴일인 경우에는 그 다음날 지급합니다)<br>
					(5)회사와 여신회사는 채무자 등이 상환을 하지 못할 경우, 투자자 보호를 위하여 연체 중인 대출채권을 회수하기 위하여 별도의 법무법인, 채권추심 회사를 통해서 회수합니다. 이 경우 변호사 비용을 포함한 수수료는 대출약정 금액의 5% 이내에서 처리하기로 합니다(추가 비용 발생시 문자 등으로 별도 협의후 진행합니다). 이때 발생하는 수수료, 법적 조치 비용은 회사가 채무자 등으로 부터 우선적으로 정산받을 수 있습니다. (상환순서는 비용, 원금, 이자 순으로 지급 합니다) 여신회사는 연체 상황이 발생하지 않더라도 채무자 등 이 대출약정을 위반한 경우 대출약정서에서 규정한 법적 조치를 진행할 수 있습니다. 이때, 채권추심 과정에서 투자 당시의 투자기간보다 경매, 공매 절차 등에 의해 투자금 회수에 상당기간이 소요될 수 있으며 경매, 공매 낙찰가격이 대출원금을 하회할 경우 원금손실이 발생할 수 있습니다.<br>
					<br>
					<span class="f-bd">제10조(상환지연 및 연체, 대출약정 위반시 조치 등에 관하여)</span><br>
					<br>
					(1)상환지연이란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기가 도래되었음에도 불구하고 여신회사에 원리금을 상환하지 못한 상태가 30일 미만인 것을 말합니다.<br>
					(2)연체란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기가 도래되었음에도 불구하고 여신회사에 원리금을 상환하지 못한 상태가 30일 이상인 것을 말합니다.<br>
					(3)부실이란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기로부터 90일 이상 장기 연체되는 것을 말합니다.<br>
					(4)회사는 연체 또는 부실 발생 시 해당 사항을 사이트에 연체율 또는 부실률로 공시합니다. <br>
					※ 연체율 = 연체 중인 채권의 잔여 원금 / 대출잔액 (취급총액 중 미상환 금액)<br>
					※ 부실률 = 90일 이상 장기 연체 중인 채권의 잔여 원금 / 총 누적 대출 취급액<br>
					(5)여신회사는 채무자 등의 상환지연 또는 연체가 발생할 경우 대출약정서에 명기된 연체이자(연 25%)를 부과하고, 대출약정서에 명기된 담보권 실행조치 (경매 또는 공매 등)를 할 수 있습니다.<br>
					(6)위 5항의 경우 투자자에게 지급되는 연체이자는 매월1일에 지급되는 것이 아닌 대출원금 회수시점에 지급받고 여신회사가 받은 연체이자는 원천징수 후 투자자에게 지급됩니다.<br>
					(7) 채권추심 도중에 상환 된 경우, 채권추심 과정에서 발생한 법무비용 등 각종 비용을 원리금에서 차감 후 지급할 수 있습니다.<br>
					(8)여신회사는 연체상황이 발생하지 않더라도 채무자 등이 대출약정을 위반한 경우 대출약정을 해제하고 채권추심을 진행할 수 있습니다. 이때, 채권추심 과정에서 투자 당시의 투자기간보다 경매, 공매 절차 등에 의해 투자금 회수에 상당기간이 소요될 수 있으며 경매, 공매 낙찰가격이 대출원금을 하회할 경우 원금손실이 발생할 수 있습니다. <br>
					(9)여신회사는 연체 또는 기한의 이익상실 등의 사유 발생 시 해당 대출채권을 제3자에게 매각할 수 있으며, 그 매각대금으로 투자자에게 원리금을 지급할 수 있습니다. 다만, 채권 매각과정에서 여신회사의 판단에 의해 대출원금 이하의 금액으로 매각될 수 있으며 그로인해 투자자의 원금손실이 발생할 수 있습니다. 대출채권의 매각은 채무자의 파산 등으로 상환 불가능할 경우 등 채권매각이 투자자의 손실을 최소화하는 경우에 진행하고, 위와 같은 매각진행시, 해당 투자자에게 별도의 안내를 합니다.<br>
					<br>
					<span class="f-bd">제11조(플랫폼 이용수수료의 지급 등)</span><br>
					(1)플랫폼 이용수수료란 회사가 제공하는 서비스를 이용해 투자자가 여신회사의 대출채권에 참가신청을 하고, 원리금수취권 취득을 통해 투자자가 여신회사로부터 받게 될 원리금 수취를 회사가 대행함에 있어 회사에 지불하는 비용을 말합니다.<br>
					(2)플랫폼 이용수수료는 투자대상채권의 투자 신청일로부터 원리금을 회수하는 시점까지 부과되며 수수료는 매월 약0.1%로 일할 계산되어 청구됩니다.<br>
					(3)플랫폼 이용수수료는 채무자 등이 여신회사에 원리금을 상환하고, 여신회사가 투자자에게 원리금을 지급하는 시점까지 일할 계산되어 원리금에서 차감 후 지급됩니다.<br>
					(4)플랫폼 이용수수료는 상환지연, 연체시에도 부과되며 여신회사가 채권추심을 통해 원리금의 전부 또는 일부를 회수하여 투자자에게 지급하는 날까지 일할 계산됩니다.<br>
					<br>
					<span class="f-bd">제12조(투자자의 의무사항과 투자자 지위의 상실)</span><br>
					투자자가 아래 각호의 행위를 한 경우, 회사는 상당한 기간을 정하여 이행 내지 시정을 요청하고, 이러한 이행 내지 시정이 없는 경우 해당 투자자와 계약을 해지하거나 투자자 자격을 박탈하거나 서비스 이용을 하지 못하도록 제한 조치를 할 수 있습니다. 다만, 투자자의 회원자격이 박탈된 시점 이전에 투자가 완료되어 투자자가 유효한 “원리금수취권”을 보유하고 있는 경우에는 해당 투자대상채권에 대한 권리는 여전히 유효하며 투자자는 기존 약관 등에 근거하여 채권참가자로서의 의무를 여전히 보유합니다. <br>
					(1) 타인 명의로 투자신청을 할 경우<br>
					(2) 회사에 본인의 은행계좌정보 등을 허위로 제출하는 경우<br>
					(3) 투자대상채권의 채무자 등에게 상환요청, 추심을 하거나 어떠한 명목으로도 금원을 요구하거나 영리행위를 하는 경우<br>
					(4)회사의 사전 동의 없이 원리금수취권을 포함한 투자자의 지위나 권리를 양도하는 경우<br>
					(5)투자자가 회사와 여신회사에 대하여 대출채권의 변제기 도래 전 투자금의 반환을 요청하는 경우<br>
					(6)투자자가 회사 또는 여신회사의 신용도에 부정적인 영향을 미치는 경우 또는 경제적 손실을 입히는 경우<br>
					(7)투자자가 회사 또는 여신회사의 영업비밀 등을 침해하는 경우<br>
					(8)투자자가 회사가 징구한 문서(투자동의서 등)의 명시적 문언에 반하는 주장을 하거나 해당 증빙의 문서가 허위인 경우<br>
					(9)기타 회사가 확인 요청하는 투자자 정보 제공 등에 정당한 사유 없이 불응할 경우<br>
					<br>
					<br>
					<span class="f-bd">제13조(약관의 개정 등)</span><br>
					<br>
					(1)회사와 여신회사는 본 약관을 약관의 규제에 관한 법률, 전자금융거래법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 소비자기본법 등 관련 법을 위반하지 않는 범위에서 개정할 권한을 갖습니다.<br>
					(2)회사와 여신회사가 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 회사의 홈페이지에 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 회사는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.  이에 관하여 손실 등의 이해관계 이용자에게는 이용자가 제공한 전자우편, SMS 등을 통하여 개별통지를 합니다.<br>
					(3)회사가 이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 개정약관의 공지기간 내에 회사에 송신하여 회사의 동의를 받은 경우에는 개정약관 조항이 적용됩니다. <br>
					(4)이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상 관례에 따릅니다. <br>
					<br>
					<br>
					<span class="f-bd">제15조(법적 조치의 진행)</span><br>
					회사의 부도, 여신회사가 보유한 대출채권의 연체 등이 발생할 경우, 투자자가 투자한 투자상품에 대해 이루어지는 경매나 공매진행을 포함한 모든 법적 조치는 회사와 여신회사가 업무협약을 체결한 법무법인을 통하여 진행됩니다. 원리금 회수 등 추심업무의 편의상 필요할 경우 회사 또는 여신회사는 대출채권을 업무 협약된 법무법인에게 채권을 양도하여 원리금을 회수하고, 투자자에게 반환할 수 있습니다.<br>
					<br>
					<span class="f-bd">제16조(준거법 및 관할법원)</span><br>
					본 약관의 해석 등에 관하여는 대한민국 관계 법령을 적용하며, 본 약관과 관련하여 분쟁이 발생할 경우, 투자자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만 투자자의 주소 또는 거소가 불분명할 경우 또는 외국 거주자의 경우에는 민사소송법상 관할에 따라 분쟁을 해결하기로 합니다. <br>
					<br>
					<br>
					부칙<br>
					1.이 약관은 2017년 10월 1일부터 적용됩니다.<br>
					2.본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다.
                    
                </div>

            </div>
        </section>

        <footer class="footer container-fluid">
            <div class="container footer-box">
                <div class="row a-txt">
                    <a href="#">회사소개</a>
                    <a href="#">이용약관</a>
                    <a href="#">개인정보취급방침</a>
                </div>
                <div class="row f-txt">
                    <address>
            <span class="min-xs-br"><span class="xs-br">(주)누리펀딩</span><span class="hidden-xs"> ㅣ </span>대표이사: 박기범 ㅣ 사업자등록번호 000-00-00000 ㅣ 통신판매업신고: 제 2017-서울강남-00000호</span>
            고객센터 1544-2499 ㅣ E-mail 000@ebiznetworks.co.kr ㅣ 주소: 서울특별시 강남구 선릉로 99길 12, 4층(역삼동, 모노타워)
          </address>
                </div>
                <div class="row c-txt"><small>COPYRIGHT <span class="fc-yellow">NURIFUNDING</span> ALL RIGHTS RESERVED.</small></div>
            </div>
        </footer>
    </div>
</body>

</html>