<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <title>누리펀딩</title>
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../src/css/grid_1024.css">
  <link rel="stylesheet" href="../src/css/common.css">
  <link rel="stylesheet" href="../src/css/index.css">

  <script type="text/javascript" src="../src/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="../src/js/components_custom.js"></script>
  <script type="text/javascript" src="../src/js/index.js"></script>
  <!-- <script type="text/javascript" src="../src/js/owl.carousel.min.js"></script>
	<script type="text/javascript" src="../src/js/jquery.lazyload.min.js"></script> -->
  <!-- <script type="text/javascript" src="../src/js/index.js"></script> -->
  <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <h1 class="skip">누리펀딩</h1>
  <div class="wrap">
    <!-- 일반 해더 -->
    <header class="header" id="header">
      <div class="container header-box">
        <div class="navbar-header">
          <button type="button" class="nav-tab show-xs" data-target="mlnb-wrapper" data-toggle="slide-left">
            <span class="icon-bar b1"></span>
            <span class="icon-bar b2"></span>
            <span class="icon-bar b3"></span>
          </button>
          <h2><a href="./index.html" class="navbar-brand"><img src="../src/img/logo.png" alt="누리펀딩로고"></a></h2>
          <a href="#" class="my-tab show-xs"><img src="../src/img/myp_icon.png" alt="마이페이지"></a>
        </div>
        <div class="navbar-collapse pull-right hidden-xs">
          <ul class="main-nav clearfix">
            <li>대출신청</li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li>투자하기</li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li>회사소개</li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li>이용안내</li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li class="c-blue">회원가입</li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li class="c-blue">로그인</li>
          </ul>
        </div>
      </div>
    </header>
    <!-- 모바일 네비게이션 -->
    <section class="mlnb-wrap show-xs" id="mlnb-wrap">
      <div class="mlnb-container">
        <header class="mlnb-header">
          <p>
            <a href="" class="mh-logo"><img src="../src/img/lnb_logo.png" alt="누리펀딩"></a><a href="javascript:void(0)" class="cls-btn"><img src="../src/img/cls_icon.png" alt="닫기"></a>
          </p>
          <div class="t-box">
            <p>지금 바로 로그인하고</p>
            <p>누리펀딩의 투자서비스를 이용하세요!</p>
            <p class="nth-3"><a href="" >로그인</a><a href="" class="nth-2">회원가입</a></p>
          </div>
        </header>
        <ul class="mlnb">
          <li><a href="">대출신청<img src="../src/img/arrow_r_icon.png" alt="바로가기"></a></li>
          <li><a href="">투자하기<img src="../src/img/arrow_r_icon.png" alt="바로가기"></a></li>
          <li><a href="">회사소개<img src="../src/img/arrow_r_icon.png" alt="바로가기"></a></li>
          <li><a href="">이용안내<img src="../src/img/arrow_r_icon.png" alt="바로가기"></a></li>
        </ul>
      </div>
    </section>
    
    <section class="main">
      <div class="container main-box">
        <button class="more-btn bg-blue" type="button">대출 더 알아보기 <img class="yellow-r-icon" src="../src/img/yellow_r_icon.png" alt="더알아보기"></button>
      </div>
    </section>
    
    <footer class="footer container-fluid">
      <div class="container footer-box">
        <div class="row a-txt">
          <a href="#">회사소개</a>
          <a href="#">이용약관</a>
          <a href="#">개인정보취급방침</a>
        </div>
        <div class="row f-txt">
          <address><span class="min-xs-br"><span class="xs-br">(주)누리펀딩</span><span class="hidden-xs"> ㅣ </span>대표이사: 박기범 ㅣ 사업자등록번호 000-00-00000 ㅣ 통신판매업신고: 제 2017-서울강남-00000호</span>
			    고객센터 1544-2499 ㅣ E-mail 000@ebiznetworks.co.kr ㅣ 주소: 서울특별시 강남구 선릉로 99길 12, 4층(역삼동, 모노타워)</address>
        </div>
        <div class="row c-txt"><small>COPYRIGHT NURIFUNDING ALL RIGHTS RESERVED.</small></div>
      </div>
    </footer>
  </div>
</body>

</html>