<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <title>누리펀딩</title>
  <link rel="canonical" href="www.nurifunding.co.kr">
  <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/common.css">
  <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/index.css">
  <!-- <link rel="stylesheet" href="../src/css/common.css"> 
   <link rel="stylesheet" href="../src/css/index.css"> --> 

  <script type="text/javascript" src="http://static.nurifunding.co.kr/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="http://static.nurifunding.co.kr/js/components_custom.js"></script>
  <script type="text/javascript" src="http://static.nurifunding.co.kr/js/common.js"></script>
  <script type="text/javascript" src="http://static.nurifunding.co.kr/js/index.js"></script>
  
    <!-- <link rel="stylesheet" href="../src/css/common_ie9lt.css"> --> 
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/grid_ie9lt.min.css">
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/common_ie9lt.css">
    <link rel="stylesheet" href="http://static.nurifunding.co.kr/css/index_ie9lt.css">
   
    <script type="text/javascript" src="http://static.nurifunding.co.kr/js/ie9_lt.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <h1 class="skip">누리펀딩</h1>
  <div class="wrap">
    <!-- 일반 해더 -->
    <header class="header" id="header">
      <div class="container header-box">
        <div class="navbar-header">
          <button type="button" class="nav-tab show-xs">
            <span class="icon-bar b1"></span>
            <span class="icon-bar b2"></span>
            <span class="icon-bar b3"></span>
          </button>
          <h2><a href="./index.html" class="navbar-brand"><img src="http://img.nurifunding.co.kr/logo.png" alt="누리펀딩로고"></a></h2>
          <a href="#" class="my-tab show-xs"><img src="http://img.nurifunding.co.kr/myp_icon.png" alt="마이페이지"></a>
        </div>
        <div class="navbar-collapse pull-right hidden-xs">
          <ul class="main-nav clearfix">
            <li><a href="">대출신청</a></li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li><a href="">투자하기</a></li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li><a href="">회사소개</a>
              <nav class="sub-nav">
                <ul>
                  <li><a href="">서비스소개</a></li>
                  <li><a href="">공지사항</a></li>
                </ul>
              </nav>
            </li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li><a href="">이용안내</a></li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li><a class="c-blue" href="">회원가입</a></li>
            <li class="hidden-xs hidden-sm hidden-margin"></li>
            <li><a class="c-blue" href="">로그인</a></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- 모바일 네비게이션 -->
    <section class="mlnb-wrap show-xs" id="mlnb-wrap">
      <div class="mlnb-container">
        <header class="mlnb-header">
          <p>
            <a href="" class="mh-logo"><img src="http://img.nurifunding.co.kr/lnb_logo.png" alt="누리펀딩"></a><a href="javascript:void(0)" class="cls-btn"><img src="http://img.nurifunding.co.kr/cls_icon.png" alt="닫기"></a>
          </p>
          <div class="t-box">
            <p>지금 바로 로그인하고</p>
            <p>누리펀딩의 투자서비스를 이용하세요!</p>
            <p class="nth-3"><a href="" >로그인</a><a href="" class="nth-2">회원가입</a></p>
          </div>
        </header>
        <ul class="mlnb">
          <li><a href="">대출신청<img src="http://img.nurifunding.co.kr/arrow_r_icon.png" alt="바로가기"></a></li>
          <li><a href="">투자하기<img src="http://img.nurifunding.co.kr/arrow_r_icon.png" alt="바로가기"></a></li>
          <li><a href="">회사소개<img src="http://img.nurifunding.co.kr/arrow_r_icon.png" alt="바로가기"></a>
            <nav class="m-sub-nav">
              <ul>
                <li><a href="">서비스소개</a></li>
                <li><a href="">공지사항</a></li>
              </ul>
            </nav>
          </li>
          <li><a href="">이용안내<img src="http://img.nurifunding.co.kr/arrow_r_icon.png" alt="바로가기"></a></li>
        </ul>
      </div>
    </section>
    
    <section class="main">
      <div class="container main-box">
        <button class="main-more-btn bg-blue" type="button">대출 더 알아보기 <span class="arr-icon yellow-r-icon"></span></button>
      </div>
      
    </section>
    <section class="rate bg-blue">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3 rr-nth-1">
            <h2 class="r-f">평균금리</h2>
            <p class="r-f2">12.13%</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 rr-nth-2">
            <h2 class="r-f">누적대출 취급액</h2>
            <p class="r-f2">8,456,456,000원</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 rr-nth-3 mt">
            <h2 class="r-f">누적 상환액</h2>
            <p class="r-f2">29,543,000,000원</p>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 rr-nth-4 mt">
            <h2 class="r-f">투자 부실률 / 연체율</h2>
            <p class="r-f2">0% / 0%</p>
          </div>
        </div>
      </div>
    </section>
    <section class="benefit com-pd">
      <div class="container">
        <h2 class="fc-white com-ft">누리펀딩에서 드리는 혜택</h2>
        <div class="row com-box">
          <div class="col-xs-12 col-md-6 bd-nth-1 fc-white">
            <div class="pull-left pl-nth-1">
              <span class="benefit-icon bi-nth-1"></span>
            </div>
            <div class="pull-left pl-nth-2">
              <h3 class="bh3">줄어드는 조달비용</h3>
              <p class="bp">건축 관련 사업노하우 전수, 중도상환수수료<br/>없이 만기전 대출금 상환 가능</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 bd-nth-2">
            <div class="pull-left pl-nth-1">
              <span class="benefit-icon bi-nth-2"></span>
            </div>
            <div class="pull-left pl-nth-2">
              <h3 class="bh3">발 빠른 의사결정</h3>
              <p class="bp">대출신청에서 대충심사 결정까지<br/>원스탑방식으로 신속하게 처리</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 bd-nth-3 fc-white">
            <div class="pull-left pl-nth-1">
              <span class="benefit-icon bi-nth-3"></span>
            </div>
            <div class="pull-left pl-nth-2">
              <h3 class="bh3">든든한 자금관리 및 권리침해 방지</h3>
              <p class="bp">신탁등기로 제2자 권리침해 방지 및 하도급<br/>업체 직접 공사비 지급으로 기성고에 따른<br/>자금관리로 건물 준공까지 공동 협업 관리</p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 bd-nth-4 fc-white">
            <div class="pull-left pl-nth-1">
              <span class="benefit-icon bi-nth-4"></span>
            </div>
            <div class="pull-left pl-nth-2">
              <h3 class="bh3">1금융기관 시설자금 연결과</h3><h3 class="bh3-2">매각 및 임대 홍보 서비스 제공</h3>
              <p class="bp">준공 후 1금융기관 대출알선 및 인터넷<br/>홈페이지를 통한 매각 및 임대 활성화 지원</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ingProduct com-pd">
      <div class="container">
       
        <h2 class="com-ft">진행중인 투자상품</h2>
        <div class="row com-box ip-wrap">
          <!--(div.col-xs-12.ip-box>h3.iph3+ul.ip-inner>(li.ipli-nth-$>p.pull-left+p.pull-right)*4)*2-->
          <div class="col-xs-12 col-sm-6 ip-outer">
            <div class="ip-box br4">
              <div class="thumb-box"><img src="http://img.nurifunding.co.kr/pro_sample_1.jpg" alt="해운대 아파트"></div>            
              <h3 class="iph3">해운대 아파트</h3>
              <ul class="ip-inner">
                <li class="ipli-nth-1 clearfix">
                  <p class="pull-left">예상수익률</p>
                  <p class="pull-right">6.5%</p>
                </li>
                <li class="ipli-nth-2 clearfix">
                  <p class="pull-left">기간</p>
                  <p class="pull-right">12개월</p>
                </li>
                <li class="ipli-nth-3 clearfix">
                  <p class="pull-left">상환방식</p>
                  <p class="pull-right">혼합상환</p>
                </li>
                <li class="ipli-nth-4 clearfix">
                  <p class="pull-left">모집현황</p>
                  <p class="pull-right">4,000 / 4,000만원</p>
                </li>
                <li class="ipli-nth-5 clearfix">
                  <p class="ip-per-bar bg-blue"></p>
                </li>
                <li class="ipli-nth-6 clearfix">
                  <p class="pull-left">진행중<span class="ip-per-num">(852명)</span></p>
                  <p class="pull-right ip-percent fc-blue">80%</p>
                </li>
              </ul>
              <p class="ip-btn-box"><a href="" class="ip-btn bg-blue br4">투자하기</a></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ip-outer">
            <div class="ip-box br4">
              <div class="thumb-box"><img src="http://img.nurifunding.co.kr/pro_sample_1.jpg" alt="해운대 아파트"></div>            
              <h3 class="iph3">해운대 아파트</h3>
              <ul class="ip-inner">
                <li class="ipli-nth-1 clearfix">
                  <p class="pull-left">예상수익률</p>
                  <p class="pull-right">6.5%</p>
                </li>
                <li class="ipli-nth-2 clearfix">
                  <p class="pull-left">기간</p>
                  <p class="pull-right">12개월</p>
                </li>
                <li class="ipli-nth-3 clearfix">
                  <p class="pull-left">상환방식</p>
                  <p class="pull-right">혼합상환</p>
                </li>
                <li class="ipli-nth-4 clearfix">
                  <p class="pull-left">모집현황</p>
                  <p class="pull-right">4,000 / 4,000만원</p>
                </li>
                <li class="ipli-nth-5 clearfix">
                  <p class="ip-per-bar bg-blue"></p>
                </li>
                <li class="ipli-nth-6 clearfix">
                  <p class="pull-left">진행중<span class="ip-per-num">(852명)</span></p>
                  <p class="pull-right ip-percent fc-blue">80%</p>
                </li>
              </ul>
              <p class="ip-btn-box"><a href="" class="ip-btn bg-blue br4">투자하기</a></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ip-outer">
            <div class="ip-box br4">
              <div class="thumb-box"><img src="http://img.nurifunding.co.kr/pro_sample_1.jpg" alt="해운대 아파트"></div>            
              <h3 class="iph3">해운대 아파트</h3>
              <ul class="ip-inner">
                <li class="ipli-nth-1 clearfix">
                  <p class="pull-left">예상수익률</p>
                  <p class="pull-right">6.5%</p>
                </li>
                <li class="ipli-nth-2 clearfix">
                  <p class="pull-left">기간</p>
                  <p class="pull-right">12개월</p>
                </li>
                <li class="ipli-nth-3 clearfix">
                  <p class="pull-left">상환방식</p>
                  <p class="pull-right">혼합상환</p>
                </li>
                <li class="ipli-nth-4 clearfix">
                  <p class="pull-left">모집현황</p>
                  <p class="pull-right">4,000 / 4,000만원</p>
                </li>
                <li class="ipli-nth-5 clearfix">
                  <p class="ip-per-bar bg-blue"></p>
                </li>
                <li class="ipli-nth-6 clearfix">
                  <p class="pull-left">진행중<span class="ip-per-num">(852명)</span></p>
                  <p class="pull-right ip-percent fc-blue">80%</p>
                </li>
              </ul>
              <p class="ip-btn-box"><a href="" class="ip-btn bg-blue br4">투자하기</a></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 ip-outer">
            <div class="ip-box br4">
              <div class="thumb-box"><img src="http://img.nurifunding.co.kr/pro_sample_1.jpg" alt="해운대 아파트"></div>            
              <h3 class="iph3">해운대 아파트</h3>
              <ul class="ip-inner">
                <li class="ipli-nth-1 clearfix">
                  <p class="pull-left">예상수익률</p>
                  <p class="pull-right">6.5%</p>
                </li>
                <li class="ipli-nth-2 clearfix">
                  <p class="pull-left">기간</p>
                  <p class="pull-right">12개월</p>
                </li>
                <li class="ipli-nth-3 clearfix">
                  <p class="pull-left">상환방식</p>
                  <p class="pull-right">혼합상환</p>
                </li>
                <li class="ipli-nth-4 clearfix">
                  <p class="pull-left">모집현황</p>
                  <p class="pull-right">4,000 / 4,000만원</p>
                </li>
                <li class="ipli-nth-5 clearfix">
                  <p class="ip-per-bar bg-blue"></p>
                </li>
                <li class="ipli-nth-6 clearfix">
                  <p class="pull-left">진행중<span class="ip-per-num">(852명)</span></p>
                  <p class="pull-right ip-percent fc-blue">80%</p>
                </li>
              </ul>
              <p class="ip-btn-box"><a href="" class="ip-btn bg-blue br4">투자하기</a></p>
            </div>
          </div>
          
        </div>
        
        <div class="row com-box ip-more-outer">
          <div class="col-xs-12 com-sm-4 ip-more-box"><a href="" class="ip-more-btn br4">투자상품 모두 보러가기<span class="arr-icon black-r-icon"></span></a></div>
        </div>
        
      </div>
    </section>
    <section class="faq com-pd">
      <div class="container">
        <h2 class="com-ft">자주하는 질문</h2>
        <div class="row com-box fq-wrap">
         
          <div class="col-xs-12 col-sm-4 fq-outer">
            <div class="fq-box br4">
              <h3 class="fqh3"><span class="arr-icon q-icon"></span>고금리의 대출을 갈아탈 수 있나요?</h3>
              <p class="fq-a"><span class="arr-icon a-icon"></span>가능합니다. 年 45~20%의 고객별 최적화된 중/저금리로 상환 부담을 덜어드리며 기존 고금리 대출을 전환하시는 고객께는 더 나은 조건의 금리와 한도 혜택을 드립니다.</p>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-4 fq-outer">
            <div class="fq-box br4">
              <h3 class="fqh3"><span class="arr-icon q-icon"></span>고금리의 대출을 갈아탈 수 있나요?</h3>
              <p class="fq-a"><span class="arr-icon a-icon"></span>가능합니다. 年 45~20%의 고객별 최적화된 중/저금리로 상환 부담을 덜어드리며 기존 고금리 대출을 전환하시는 고객께는 더 나은 조건의 금리와 한도 혜택을 드립니다.</p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 fq-outer">
            <div class="fq-box br4">
              <h3 class="fqh3"><span class="arr-icon q-icon"></span>고금리의 대출을 갈아탈 수 있나요?</h3>
              <p class="fq-a"><span class="arr-icon a-icon"></span>가능합니다. 年 45~20%의 고객별 최적화된 중/저금리로 상환 부담을 덜어드리며 기존 고금리 대출을 전환하시는 고객께는 더 나은 조건의 금리와 한도 혜택을 드립니다.</p>
            </div>
          </div>
          
        </div>
        
        <div class="row com-box fq-btn-outer">
          <div class="col-xs-12 com-sm-4 fq-btn-box"><a href="" class="fq-btn br4">질문 전체 보러가기<span class="arr-icon black-r-icon"></span></a></div>
        </div>
        
      </div>
    </section>
    <footer class="footer container-fluid">
      <div class="container footer-box">
        <div class="row a-txt">
          <a href="#">회사소개</a>
          <a href="#">이용약관</a>
          <a href="#">개인정보취급방침</a>
        </div>
        <div class="row f-txt">
          <address>
            <span class="min-xs-br"><span class="xs-br">(주)누리펀딩</span><span class="hidden-xs"> ㅣ </span>대표이사: 박기범 ㅣ 사업자등록번호 000-00-00000 ㅣ 통신판매업신고: 제 2017-서울강남-00000호</span>
            고객센터 1544-2499 ㅣ E-mail 000@ebiznetworks.co.kr ㅣ 주소: 서울특별시 강남구 선릉로 99길 12, 4층(역삼동, 모노타워)
          </address>
        </div>
        <div class="row c-txt"><small>COPYRIGHT <span class="fc-yellow">NURIFUNDING</span> ALL RIGHTS RESERVED.</small></div>
      </div>
    </footer>
  </div>
</body>

</html>