<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<title>누리펀딩</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
	
<!--
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/invest/invest2.css">
-->

	<link rel="stylesheet" href="../../src/css/common.css">
	<link rel="stylesheet" href="../../src/css/invest/invest2.css">

	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/Chart.bundle.min.js"></script>
	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/common.js"></script>
<!--		<script type="text/javascript" src="https://nurifunding.co.kr/static/js/invest/invest.js"></script>-->
	<script type="text/javascript" src="../../src/js/invest/invest.js"></script>

	<!--[if lt IE 9]>
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/grid_ie9lt.min.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/common_ie9lt.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/css/invest/invest2_ie9lt.css">

	<script type="text/javascript" src="https://nurifunding.co.kr/static/js/ie9_lt.js"></script>
	<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
	<h1 class="skip">누리펀딩</h1>
	<div class="wrap">
		<!-- 일반 해더 -->
		<header class="header" id="header">
			<div class="container header-box">
				<div class="navbar-header">
					<button type="button" class="nav-tab show-xs">
                        <span class="icon-bar b1"></span>
                        <span class="icon-bar b2"></span>
                        <span class="icon-bar b3"></span>
                    </button>
					<h2><a href="./index.html" class="navbar-brand"><img src="https://nurifunding.co.kr/img/logo.png" alt="누리펀딩로고"></a></h2>
					<a href="mypage/mypage_01.html" class="my-tab show-xs"><img src="https://nurifunding.co.kr/img/myp_icon.png" alt="마이페이지"></a>
				</div>
				<div class="navbar-collapse pull-right hidden-xs">
					<ul class="main-nav clearfix">
						<li><a href="loan/loan_00.html">대출신청</a></li>
						<li class="hidden-xs hidden-sm hidden-margin"></li>
						<li><a href="invest/invest_01.html">투자하기</a></li>
						<li class="hidden-xs hidden-sm hidden-margin"></li>
						<li><a href="service/index.html">회사소개</a>
							<nav class="sub-nav">
								<ul>
									<li><a href="service/index.html">서비스 소개</a></li>
									<li><a href="notice/index.html">공지사항</a></li>
								</ul>
							</nav>
						</li>
						<li class="hidden-xs hidden-sm hidden-margin"></li>
						<li><a href="faq/index.html">이용안내</a></li>
						<li class="hidden-xs hidden-sm hidden-margin"></li>
						<li><a class="c-blue" href="join/join_01.html">회원가입</a></li>
<!--
						<li><a class="c-blue" href="mypage/mypage_01.html">내정보</a>
							<nav class="sub-nav">
								<ul>
									<li><a href="myinvest/index.html">나의투자정보</a></li>
									<li><a href="mypage/mypage_01.html">회원정보수정</a></li>
								</ul>
							</nav>
						</li>
-->
						<li class="hidden-xs hidden-sm hidden-margin"></li>
						<li><a class="c-blue" href="login/index.html">로그인</a></li>
                       
		                <!-- 180528 헤더 추가 -->
                        <li class="h-link fir"><a href=" http://www.fss.or.kr" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_main_2.png" alt="금융감독원 승인기업 2018-금감원-1486"></a></li>
                        <li class="h-link"><a href="https://www.nurifunding.co.kr/notice/view.php?var=HUY=&page=1" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_kakaotalk.png" alt="카카오톡 플러스 친구 @누리펀딩"></a></li>
					</ul>
				</div>
			</div>
		</header>
		<!-- 모바일 네비게이션 -->
		<section class="mlnb-wrap show-xs" id="mlnb-wrap">
			<div class="mlnb-container">
				<header class="mlnb-header">
					<p>
						<a href="./index.html" class="mh-logo"><img src="https://nurifunding.co.kr/img/lnb_logo.png" alt="누리펀딩"></a>
						<a href="javascript:void(0)" class="cls-btn"><img src="https://nurifunding.co.kr/img/cls_icon.png" alt="닫기"></a>
					</p>
					<div class="t-box">
						<p>지금 바로 로그인하고</p>
						<p>누리펀딩의 투자서비스를 이용하세요!</p>
						<p class="nth-3"><a href="login/index.html">로그인</a><a href="join/join_01.html" class="nth-2">회원가입</a></p>
					</div>
				</header>
				<ul class="mlnb">
					<li><a href="loan/loan_00.html">대출신청<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
					<li><a href="invest/invest_01.html">투자하기<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
					<li><a href="service/index.html">회사소개<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a>
						<nav class="m-sub-nav">
							<ul>
								<li><a href="service/index.html">서비스 소개</a></li>
								<li><a href="notice/notice_01.html">공지사항</a></li>
							</ul>
						</nav>
					</li>
					<li><a href="faq/index.html">이용안내<img src="https://nurifunding.co.kr/img/arrow_r_icon.png" alt="바로가기"></a></li>
				</ul>
			</div>
		</section>

		<!-- 03. 투자신청서 -->
		<section class="proposal com-pd">
			<div class="container">

				<h2 class="com-ft"><span class="fc-blue">임준수</span> 님의 투자 신청서</h2>
				<div class="com-box br4">
					<div class="prps-d-0 clearfix">
						<p class="m pull-left">한번에 금액을 변경하세요</p>
						<p class="pc pull-left">
							<span class="nth-1">채권명</span>
							<span class="nth-2">등급</span>
							<span class="nth-3">금리</span>
							<span class="nth-4">기간</span>
						</p>
					</div>


					<div class="prps-d-1">
						<ul class="prps-d1-ul clearfix">
							<li class="prps-d1-li1">
								<div class="nth-1">채권명</div>
								<div class="nr-box nth-2">
									<input type="checkbox" id="chk_0" value="30" name="chk_0" checked="" onclick="javascript:total_price();" class="nr-check"><span>30호 매출채권 + 동산 담보대출( 컬러 TV) 4호</span>
								</div>
							</li>
							<li class="prps-d1-li2">
								<div class="nth-1">등급</div>
								<div class="nth-2">A-</div>
							</li>
							<li class="prps-d1-li3">
								<div class="nth-1">금리</div>
								<div class="nth-2">12.0%</div>
							</li>
							<li class="prps-d1-li4">
								<div class="nth-1">기간</div>
								<div class="nth-2">3개월</div>
							</li>
						</ul>
					</div>

					<div class="prps-d-2 br4">
						<ul class="prps-d2-ul">
							<li class="prps-d2-li2 clearfix">
								<p class="pull-left">투자금</p>
								<p class="pull-right">
									<span class="fc-blue">
						<input type="text" name="use_cash" value="" style="text-align:right; padding:5px; padding-right:10px; width:80px; font-size:15px;" onkeyup="javascript: checktype('number', 'use_cash')">
					</span> 만원
								</p>
								<input type="hidden" name="price_0" value="">
							</li>
						</ul>
						<!--p class="prps-d2-p1">
			              예치금 계좌를 발급 받아야 투자에 참여할 수 있습니다.<a href="/member/member_info.php" class="btn fc-white">발급받기 <span>&gt;</span></a>
			            </p-->
					</div>

					<p class="prps-p1"><a href="javascript: void(0);" onclick="javascript: app_submit();" class="btn br4 fc-white bg-blue">투자 동의</a></p>

					<p class="prps-ps c-orange" id="money_txt" style="display:none">예치금 계좌에 잔여금액이 부족합니다.</p>
					<input type="hidden" name="info_cash" value="0">
					<input type="hidden" name="event_cash" value="0">

					<h3 class="prps-h3" style="text-align:right;"><input type="checkbox" name="all_chk" id="all_chk" onclick="javascript: policy_all_chk();">&nbsp;<label for="all_chk">전체 동의합니다.</label></h3>

					<h3 class="prps-h3" onclick="javascript: policy_show('1');" style="background:#666; color:#fff; padding:2%;">투자시 주의사항 안내</h3>

					<div class="prps-d-3 br4" style="display: none;" id="policy_1">
						<p class="prps-d3-p1">
							1. 당사는 원금 및 수익을 보장하지 않습니다. 다만, 채권 추심에 도의적 책임을 다합니다.<br> 2. 상환 일정 및 지급액 안내, 연체 시 연체이율안내, 연체 시 불이익 안내에 최선을 다하며 장기 연체시 채권 추심 (매각 등) 후 투자자에게 배분합니다.<br> 3. 투자 신청 취소는 해당 채권의 투자 모집이 마감되기 이전까지만 가능합니다. 마감 후에는 취소가 불가능합니다.<br> 4. 투자 지급액은 나의 예치금 계좌로 입금해 드립니다.<br> 5. 대출자가 대출을 취소할 경우, 투자금은 나의 예치금 계좌로 입금 됩니다.<br>
						</p>
						<p class="prps-d3-p2 nr-box"><input type="checkbox" name="chk" id="chk" class="nr-check"> <label for="chk"><span class="c-orange">[필수]</span><span class="f0">위 내용을 이해하였으며 이에 동의합니다.</span></label></p>
					</div>

					<h3 class="prps-h3" onclick="javascript: policy_show('2');" style="background:#666; color:#fff; padding:2%;">개인정보처리방침</h3>

					<div class="prps-d-3 br4" style="display:none;" id="policy_2">
						<p class="prps-d3-p1">
							<textarea style="width:98%; height:100px; resize:none; border:1px solid #c9c9c9; padding:1%; font-size:14px; color:#666; line-height:1.7em;">㈜누리펀딩(이하 “회사” 또는 “누리펀딩”)은 이용자들의 개인정보보호를 위하여, 개인정보 보호법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관련 법령상의 개인정보보호규정 및 정보통신부가 제정한 개인정보보호지침을 준수하며, 관련 법령에 의거한 개인정보처리지침을 정하여 이용자 권익보호에 최선을 다하고 있습니다. 회사의 개인정보취급지침의 내용은 다음과 같습니다.

1. 수집하는 개인(신용)정보의 항목 및 수집방법
1) 수집하는 개인(신용)정보의 항목
회사는 회원가입, 원활한 고객 상담 등 기본적인 서비스 제공을 위한 필수 정보와 고객 맞춤 서비스 제공을 위한 선택 정보로 구분하여 아래와 같은 개인(신용)정보를 수집하고 있습니다.
[수집정보] 
가. 회원가입시
-회원가입 정보: 이메일(ID), 비밀번호, 성명, 성별, 생년월일, e-mail주소,서비스이용기록, 접속로그, 쿠키, 접속IP, 상호, 휴대폰번호, 전화번호 
온라인 대출정보 중개를 위해 투자자에게 제공할 목적으로 ㈜누리펀딩대부로부터 제공받은 정보
-개인식별정보: 직장정보(직군), 병역관련사항, 학교정보 등
신용도정보: 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액, 발생, 해소 시기 등
-신용거래정보: 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류, 기간, 금액 및 한도 등 신용거래의 모든 사항 
-신용능력정보: 재산, 채무, 월, 년, 기간별 소득 금액, 소득정보와 관계된 납세실적 등 
-서비스 이용과정에서 자동으로 생성되어 수집된 정보: 서비스 이용 기록, 접속로그, 쿠키, 접속 IP정보 등 
-회원가입 시 선택적으로 입력한 추천코드, 유입경로 등 
나. 출금신청시 : (가입자 본인 명의의) 은행명, 거래계좌번호, 예금주명 등 

다. 서비스이용시 : 아래와 같음 
ㅇ투자회원 :
 – 소득세법 제 166조(주민등록 전산정보자료 등의 이용)를 근거로 투자자의 소득세를 원천징수하기 위한 주민등록번호 및 투자정보에 관련된 일체사항
 ㅇ 대출회원 : 
– 개인식별정보: 신용정보법의 ‘금융거래를 위하여 신용정보를 이용’하는 사무를 수행하기 위한 주민등록번호, 성명, 휴대전화번호, 주소, e-mail 주소, 계좌정보, 상호 등
– 신용도정보: 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액 및 발생•해소 시기 등 
– 신용거래정보: 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류•기간•금액 및 한도 등 신용거래의 모든 사항 
– 신용능력정보: 재산, 채무, 월•년•기간별 소득 금액, 소득정보와 관계된 주 거래, 납세실적 등 
– 기타 계약 관련하여 본인이 제공한 정보 

2) 개인(신용)정보의 수집 방법
회사는 다음과 같은 방법으로 고객님의 개인정보를 수집하고 있습니다.
홈페이지, 팩스, 전화를 통한 회원가입, 서비스 이용, 이벤트 응모, 회원정보 수정, 고객센터 문의 등과 생성정보 수집 툴을 통한 수집, 협력회사로부터의 제공

2. 개인(신용)정보의 수집 및 이용 목적
회사는 다음과 같은 목적을 위해 개인(신용)정보를 수집합니다.
이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 것입니다. 
1) 홈페이지 회원가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별•인증, 회원자격 유지•관리, 제한적 본인 확인제 시행에 따른 본인확인, 회원 탈퇴의사 확인, 서비스 부정이용 방지와 비인가 사용 방지, 만14세 미만 아동 개인정보 수집시 법정대리인 동의 여부 확인, 각종 고지•통지, 고충처리, 분쟁 조정을 위한 기록 보존 등 
2) 민원업무 처리
이용자를 위한 온라인 대출정보 중개(이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 대출채권의 원리금수취권 양수도 거래를 위한 중개 및 지원
3) 서비스 제공에 대한 계약이행 및 관리, 요금정산
민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락•통지, 처리결과 통보 등 
4) 통계학적 분석
이용자의 연령별/성별/지역별/소득별 통계분석, 통계분석서비스의 유효성 확인, 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계 등 
5) 마케팅 및 광고에의 활용
신규 상품 및 서비스 홍보 및 판매권유, 경품지급, 사은행사 등 이용자에 대한 편의 제공 등. 단, 본 항에 정한 목적은 이용자가 마케팅 정보 수신에 동의한 경우에 한하여 적용 됩니다.


3. 개인(신용)정보의 보유 및 이용 기간
회사는 이용자가 회사가 운영하는 플랫폼 서비스 회원으로 가입한 날로부터 서비스를 제공받는 기간 동안 이용자의 개인(신용)정보를 보유 및 이용합니다. 회사는 이용자가 개인(신용)정보의 수집 및 이용에 대한 동의를 철회하는 경우 해당 개인(신용)정보를 지체 없이 파기합니다. 다만, 회사는 이용자가 회사가 운영하는 플랫폼 서비스 회원에서 탈퇴하거나, 회사가 이용자를 제명하는 경우 권리남용, 악용방지, 권리침해, 명예훼손 분쟁 및 수사협조 의뢰에 대비하여 이용계약 해지일로부터 3년 동안 개인정보를 보관하고, 아래와 같이 관계법령의 규정에 따라 보존할 필요가 있는 경우 해당 기간 동안 개인정보를 보관합니다.
단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
1) 회사는 고객이 탈회하거나, 고객을 제명하는 경우 권리남용, 악용방지, 권리침해/명예훼손 분쟁 및 수사협조 의뢰에 대비하여 이용계약 해지일로부터 3년 동안 개인(신용)정보를 보존합니다.
2) 회사는 다음의 정보에 대해서 명시한 기간 동안 보존합니다.
①계약 또는 청약철회 등에 관한 기록 
보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 5년)
②대금결제 및 재화 등의 공급에 관한 기록 
보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 5년)
③소비자의 불만 또는 분쟁처리에 관한 기록 
보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 3년)
④표시/광고에 관한 기록
보존근거 : 전자상거래 등에서 소비자 보호에 관한 법률(보존기간 : 6개월)
⑤전자금융에 관한 기록 
보존근거 : 전자금융거래법(보존기간 : 5년)
⑥접속로그 등 서비스 이용에 관한 기록 
보존근거 : 통신비밀보호법(보존기간 : 5년)

4. 개인(신용)정보의 파기 절차 및 방법
회사는 원칙적으로 개인(신용)정보 수집 및 이용 목적이 달성된 후에는 해당정보를 지체없이 파기합니다. 파기 절차 및 방법은 다음과 같습니다.
1) 파기절차 : 이용자가 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (출력물, 서면 등의 경우 별도의 서류함) 내부지침 및 기타 관련법령에 의한 정보보호 사유에 따라 (보유 및 이용 기간 참조) 일정기간 저장된 후 파기됩니다. 
2) 파기방법 : 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다. 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다. 출력물, 서면 등은 분쇄기로 분쇄하거나 소각하는 방식 등으로 파기합니다.

5. 제3자에 대한 개인(신용)정보 제공
회사는 이용자에게 보다 나은 서비스를 제공하는 등의 목적으로 「개인정보를 제공받는 자, 개인정보를 제공받는 자의 개인정보 이용목적, 제공하는 개인정보의 항목, 개인정보를 제공받는 자의 개인정보 보유 및 이용 기간」을 명시하며, 동의받은 범위를 넘어서 제3자에게 제공하지 않습니다. 다만, 다음의 경우에는 예외로 합니다. 
1) (주)누리펀딩대부
①이용목적 
이용자와 (주)누리펀딩대부 및 이용자와 (주)누리펀딩대부 사이의 각 대출거래 중개와 관련 하여, 이용자의 대출 실행 및 유지 관리를 위해 (주)누리펀딩대부 가 각 수행하여야 하는 제반 업무를 위한 목적 
②제공하는 개인(신용)정보의 항목
회원가입 정보: 이메일(ID), 비밀번호
③보유 및 이용기간
이용자가 대출 신청을 한 날부터 모든 대출 원리금 상환이 종료되는 날까지의 기간 동안
2) (주)누리펀딩 투자회원
①이용목적 
이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 위 대출채권의 원리금수취권 양수도 거래를 위한 중개 및 지원
②제공하는 개인(신용)정보의 항목
개인식별정보 : 직장정보(직군), 병역관련사항, 대학정보 등
신용정보 : 신용등급, 신용조회, 채무재조정약정, 연체, 부도, 대위변제, 기타 신용질서 문란행위 관련 금액, 발생•해소 시기 등
신용거래 정보 : 본거래 이전 및 이후의 대출, 보증, 담보제공, 신용카드, 할부금융 등 상거래 관련 거래의 종류, 기간, 금액 및 한도 등 신용거래의 모든 사항
신용능력 정보 : 재산, 채무, 월, 년, 기간별 소득 금액, 소득정보와 관계된 주 거래, 납세실적 등
③보유 및 이용기간 
이용자와 (주)누리펀딩대부 사이의 대출계약에 따른 대출채권과 관련하여, 투자자와 (주)누리펀딩대부 간 위 대출채권의 원리금수취권 양수도 거래를 위한 중개 및 지원 업무가 종료되는 날까지의 기간 동안


6. 수집한 개인(신용)정보의 처리 위탁
회사는 서비스 향상 및 부대 업무의 대행 등 이용자 편의 제공 및 관리 등을 위하여 아래와 같이 개인(신용)정보 처리업무를 위탁하고 있으며, 관계 법령에 따라 위탁 계약 시, 회원들의 개인(신용)정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하여 엄격히 운영하고 있습니다. 회사의 개인(신용)정보 수탁자 및 위탁 업무 내용은 개인(신용)정보 처리지침에 공지합니다.

7. 이용자 및 법정대리인의 권리와 그 행사방법
1) 개인(신용)정보의 열람•정정
이용자 및 법정대리인은 언제든지 등록되어 있는 이용자의 개인(신용)정보를 열람하거나 정정할 수 있습니다. 개인(신용)정보 열람 및 정정은 “내정보: 회원정보수정”에서 직접 변경할 수 있으며, 개인정보 보호 책임자에게 서면, 전화 또는 E-mail을 통해서도 가능합니다.
이용자가 개인(신용)정보 오류 정정을 요청한 경우, 정정 완료 전까지 당해 개인(신용)정보를 이용 또는 제공하지 않습니다.
잘못된 개인(신용)정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정하도록 조치하겠습니다.
2) 개인(신용)정보의 수집•이용•제공 동의철회
이용자 및 법정대리인은 언제든지 개인(신용)정보의 수집, 이용, 제공에 대한 동의내용을 철회할 수 있습니다. 동의철회는 개인정보 보호 책임자에게 서면, 전화, E-mail을 통해서 신청할 수 있으며, 담당자는 접수 즉시 동의철회 등록, 개인정보 파기 등의 조치를 취한 후 해당사실을 이용자에게 통지합니다. 
회사는 이용자 혹은 법정 대리인의 요청에 의해 동의철회, 파기된 개인(신용)정보는 “개인(신용)정보 보유 및 이용기간” 및 “개인정보의 파기절차 및 방법”에 명시된 바에 따라 파기하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다. 


8. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항
"회사"는 이용자의 정보를 수시로 저장하고 불러오는 ‘쿠키(cookie)’를 운용합니다. 쿠키란 "회사"의 웹사이트를 운영하는데 이용되는 서버가 이용자의 컴퓨터 브라우저에 보내는 아주 작은 텍스트 파일이며 이용자의 컴퓨터 하드디스크에 저장되기도 합니다.
1) 쿠키의 사용목적
회원과 비회원의 접속빈도나 방문시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공 등
2) 쿠키의 설치/운영 및 거부
이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 
단, 이용자가 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.


9. 개인정보에 관한 민원서비스
"회사"는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.
1) 개인정보 보호책임자
성명 : 김 정 권
직책 : 영업총괄 대표
전화번호 : 1666-4570 (개인정보 보호 담당자 연결 요청)
회사의 서비스(또는 사업)를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 회사는 이용자의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.
2) 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
개인(신용)정보침해신고센터 (http://privacy.kisa.or.kr )국번없이 118(내선 2번)
정보보호마크인증위원회 (http://eprivacy.or.kr / 02-580-0533~4)
대검찰청 첨단범죄수사과 (http://spo.go.kr / 02-3480-2000)
경찰청 사이버안전국 (http://cyberbureau.police.go.kr / 1566-0112)
방송통신위원회 (http://kcc.go.kr / 02-750-1114)


10. 개인정보의 안전성 확보 조치
개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.
1) 개인정보 처리 직원의 최소화 및 교육
개인정보를 처리하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.
2) 정기적인 자체 감사 실시
개인정보 처리 관련 안정성 확보를 위해 정기적(분기 1회)으로 자체 감사를 실시하고 있습니다.
3) 내부관리계획의 수립 및 시행
개인정보의 안전한 처리를 위하여 내부관리계획을 수립하고 시행하고 있습니다.
4) 개인정보의 암호화
이용자의 개인정보는 비밀번호는 암호화 되어 저장 및 관리되고 있어, 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화 하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다. 
5) 해킹 등에 대비한 기술적 대책
회사는 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 주기적인 갱신•점검을 하며 외부로부터 접근이 통제된 구역에 시스템을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.
6) 개인정보에 대한 접근 제한
개인정보를 처리하는 데이터베이스시스템에 대한 접근권한의 부여, 변경, 말소를 통하여 개인정보에 대한 접근통제를 위하여 필요한 조치를 하고 있으며 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있습니다.
7) 접속기록의 보관 및 위변조 방지
개인정보처리시스템에 접속한 기록을 최소 6개월 이상 보관, 관리하고 있으며, 접속 기록이 위변조 및 도난, 분실되지 않도록 보안기능을 사용하고 있습니다.
8) 문서보안을 위한 잠금장치 사용
개인정보가 포함된 서류, 보조저장매체 등을 잠금장치가 있는 안전한 장소에 보관하고 있습니다.
9) 비인가자에 대한 출입 통제
개인정보를 보관하고 있는 물리적 보관 장소를 별도로 두고 이에 대해 출입통제 절차를 수립, 운영하고 있습니다.


11. 개인(신용)정보 처리지침의 개정 및 고지의무에 관한 사항
"회사"는 정부의 법률 및 지침 변경이나 회사의 내부 지침 변경 등으로 인하여 개인(신용)정보 처리지침을 개정하는 경우 변경된 내용을 "회사"가 운영하는 사이트, 이메일 혹은 추가적인 개인정보를 통해 7일 전에 공지하겠습니다. 변경된 약관은 게시한 날로부터 7일 후부터 효력이 발생합니다.


부칙
제 1조 (적용일자)
1. 본 약관은 2017년 10월 1일부터 시행됩니다. 
2. 본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다
</textarea> </p>
						<p class="prps-d3-p2 nr-box">
							<input type="checkbox" name="chk1" id="chk1" class="nr-check">
							<label for="chk1">
						<span class="c-orange">[필수]</span>
						<span class="f0">위 내용을 이해하였으며 이에 동의합니다.</span>
					</label>
						</p>
					</div>

					<h3 class="prps-h3" onclick="javascript: policy_show('3');" style="background:#666; color:#fff; padding:2%;">서비스이용약관</h3>

					<div class="prps-d-3 br4" style="display:none;" id="policy_3">
						<p class="prps-d3-p1">
							<textarea style="width:98%; height:100px; resize:none; border:1px solid #c9c9c9; padding:1%; font-size:14px; color:#666; line-height:1.7em;">제 1 장 총 칙
제 1 조 (목적)
이 약관은 주식회사 (주)누리펀딩(이하“회사”라고 합니다)가 인터넷사이트 (http://www.nurifunding.co.kr)를 통하여 제공하는 대출 서비스 및 기타 서비스(이하 “서비스”라고 합니다)와 관련하여 회사와 회원간의 권리와 의무, 책임사항 및 회원의 서비스이용절차에 관한 사항을 규정함을 목적으로 합니다. “회사”는 시스템에 관한 제반 기술과 운영에 대한 모든 권한을 갖고 있으며, 회원에게 제공하는 여신업무는 “회사”와 제휴된 “여신회사”가 전담합니다.
※ 제휴된 여신회사 : ㈜누리펀딩대부 (이하 “여신회사”)


제 2 조 (용어의 정의)
1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다. 
  (가) 회원 : 이 약관을 승인하고 회사와 서비스이용계약을 체결한 자를 말합니다. 회원은 개인회원과 법인회원으로 구분되며, 회사가 제시하는 정책에 의하여 회원의 등급을 구분하여 서비스 이용범위나 혜택 또는 서비스 사용료 징수 등을 다르게 적용할 수 있습니다.
  (나) 아이디(ID) : 회원의 식별과 서비스 이용을 위하여 회원이 설정하고 회사가 승인한 문자와 숫자의 조합을 말합니다. 
  (다) 비밀번호 : 회원의 동일성 확인과 회원정보의 보호를 위하여 회원이 설정하고 회사가 승인한 문자와 숫자의 조합을 말합니다.
  (라) 해지 : 회사 또는 회원이 이용계약의 효력을 장래를 향해 소멸시키는 것을 말합니다.
2. 이 약관에서 사용하는 용어 중 제1항에서 정하지 아니한 것은, 관계법령 및 서비스별 안내에서 정하는 바에 따르며, 그 외에는 일반 거래관행에 따릅니다.

제 3 조 (이용약관의 효력 및 변경)
1. 회사는 이 약관을, 회원 및 서비스를 이용하고자 하는 자가 알 수 있도록 서비스가 제공되는 인터넷 사이트(www.nurifunding.co.kr)에 게시합니다.
2. 이 약관은 회원의 동의와 회사의 승낙으로 효력을 발생하며, 회사는 관련 법령(약관의 규제에 관한 법률, 정보 통신망 이용 촉진 및 정보 보호 등에 관한 법률 등)에 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.
3. 회사가 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 회사의 홈페이지에 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 회사는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다. 또한 이에 관하여 이용자가 제공한 전자우편, SMS 등을 통하여 개별통지를 합니다.
4. 이 약관은 회사와 회원간에 성립되는 서비스이용계약의 기본약정입니다. 회사는 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 “개별약관”)을 정하여 미리 공지할 수 있습니다. 회원이 이러한 개별약관에 동의하고 특정 서비스를 이용하는 경우에는 개별약관이 우선적으로 적용되고, 이 약관은 보충적인 효력을 갖습니다. 개별약관의 변경에 관해서는 개별약관에 특별한 규정이 없는 한 위 3항을 준용합니다.

제 4 조 (관련 법령과의 관계)
1. 이 약관 또는 개별약관에서 정하지 않은 사항은 전기통신사업법, 전자거래기본법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률 등 관련 법령의 규정과 일반적인 상 관례에 의합니다.
2. 회원은 회사가 제공하는 서비스를 이용함에 있어서 전자상거래 등에서의 소비자보호에 관한 법률, 전자거래기본법, 소비자보호법, 표시광고의 공정화에 관한 법률, 정보통신망이용촉진 및 정보보호 등에 관한 법률 등 관련법령을 준수하여야 하며, 이 약관의 규정을 들어 관련법령 위반에 대한 면책을 주장할 수 없습니다.

제 5 조 (서비스의 종류)
회사가 회원에게 제공하는 서비스는 다음과 같습니다.
1. 금융 거래장소(Platform) 서비스: 회사가 인터넷사이트(http://www.nurifunding.com)를 통하여 대출자가 "여신회사"로부터 대출을 받음에 있어 대출 신청 및 실행과 관련된 모든 활동, 투자자가 해당채권에 대한 원리금수취권리의 참가가 성사되도록 하는 모든 활동에 대하여 온라인으로 제공하는 서비스 및 기타 이용 서비스, 관련 부가서비스 일체를 말합니다.
2. 기타서비스: 금융 거래장소(Platform) 이외에 회사가 인터넷사이트(http://www.nurifunding.com)를 통하여 제공하는 홍보서비스 등 기타 서비스를 말합니다.

제 6 조 (서비스의 성질과 목적)
회사가 제공하는 서비스는 회사가 회원 각자의 자기결정에 의하여 회원과 회사 간 또는 회원 상호간에 거래가 이루어질 수 있도록 사이버 거래장소(marketplace)를 온라인으로 제공하는 것입니다. 회사는 회원에게 자금을 대여하거나 회원으로부터 자금을 차용하지 않으며, 단지 회원간 또는 회원과 대출자 사이의 거래의 안전성, 신뢰성, 신속성, 편리성을 도모하기 위한 중개활동을 제공합니다. 회원간에 성립된 거래와 관련된 책임은 거래당사자인 회원들 스스로가 부담하여야 합니다.

제 2 장 서비스이용계약
제 7 조 (서비스 이용계약)
1. 회사가 제공하는 서비스에 관한 이용계약(이하 “이용계약”이라고 합니다)은 서비스를 이용하고자 하는 자가 회원가입신청을 하면 이를 이용신청으로 보고 이에 대하여 회사가 승낙함으로써 성립합니다. 회사는 이용승낙의 의사를 해당 서비스 화면에 게시하거나, E-mail 또는 기타 방법으로 이용신청자에게 통지합니다.
2. 이용신청자는 실명으로 가입신청을 하여야 하며, 실명이 아니거나 타인의 정보를 도용하여 회원으로 가입한 자는 회사가 제공하는 서비스를 이용할 수 없습니다..
3. 회원의 아이디(ID)는 실명 1인당 1개의 아이디를 사용하는 것을 원칙으로 합니다.
4. 실명이 아니거나 타인의 주민등록번호를 도용하여 허위 가입한 회원은 법적인 보호를 받을 수 없으며, 이에 따른 민사, 형사상의 모든 책임은 가입한 회원에게 있습니다. (주민등록법 제21조 제2항의 벌칙 참조.)
5. 회원이 이용계약 종료(탈퇴를 포함) 후 재가입하는 경우에는 종료 후 1개월이 경과하거나 회사의 승낙이 있어야 하며, 최종 이용 시에 사용한 아이디(ID)와 동일한 아이디(ID)를 사용하는 것은 원칙적으로 금지됩니다. 즉 이는 부정한 목적을 가지고 탈퇴 후 재가입하는 회원의 사이트 부정이용을 사전에 방지하고자 함에 그 목적이 있을 뿐, 탈퇴한 회원의 개인정보사항을 다른 목적으로 사용함을 의미하지는 않습니다.

제 8 조 (이용신청)
1. 서비스를 이용하고자 하는 자는 아래 사항을 회사가 온라인으로 제공하는 가입신청양식에 따라 기재하여야 합니다. 가입신청 시 기재사항은 이용신청자가 개인 또는 법인회원인지 여부에 따라 구분됩니다.
  (가) 개인/법인 회원의 경우 기재항목 
       이메일 (Email)
       비밀번호 (Password)
       성명 또는 상호명 (실명)
       전화번호1 (핸드폰)
2. 회사는 위 (가)항의 기재항목 외에도 회원에게 다양하고 유익한 정보를 제공하기 위하여 이용신청자에게 직업, 취미, 관심분야 등의 정보를 제공할 것을 요청할 수 있습니다. 다만, 이용신청자는 그러한 정보의 제공을 거절할 수 있습니다.
3. 회원이 등록한 허위 정보나 정보 오류로 인한 문제는 등록한 회원의 책임 입니다.
4. 사실과 다른 정보 또는 허위 정보를 기입하거나 추후 그러한 정보임이 밝혀질 경우 운영자의 권한으로 서비스 이용을 일시 정지하거나 영구정지 및 이용계약 을 해지할 수 있습니다. 이로 인하여 회사 또는 제3자에게 발생한 손해는 해당 회원이 책임을 집니다. 다만, 회사의 고의나 과실에 의하여 손해가 발생한 경우에는 회사가 손해를 부담합니다.
5. 회사는 회원에게 회사의 금융거래 관련 제반 서비스에 대한 다양하고 유익한 정보를 E-mail, 서신우편, 전화, 문자, 카카오톡(알림톡) 등을 통하여 제공할 수 있습니다. 단 회원이 위 열거한  정보제공 방법 중 그 수신방법을 거부하는 의사표시를 한 경우 예외로 합니다.
귀하는 회원가입 시에 회사가 서비스를 제공함에 있어서 필요한 정보를 제공해야 하며, 회사가 특별히 요청할 경우 서류를 제출해야 합니다.
대출자로서 사이트를 이용할 경우에는 “대출 이용약관”에 동의하면, 사이트에서 대출을 신청할 수 있습니다.
투자자로서 사이트를 이용할 경우에는 실명을 입력해야 하며 “투자 이용약관”에 동의해야 합니다. 다만, 법인회원의 경우에는 사업자번호인증으로 본인인증이 대체 됩니다.

제 9 조 (이용계약의 해지, 종료)
1. 회원은 이 약관에서 정한 절차에 따라 이용계약을 해지할 수 있습니다.
2. 회원의 해지 
  (가) 회원은 언제든지 회사에게 해지의사를 통지함으로써 이용계약을 해지할 수 있습니다. 다만, 회원은 해지의사를 통지하기 전에 모든 거래중인 절차를 완료, 철회 또는 취소해야만 해지의 의사표시를 할 수 있습니다. 이 경우 거래의 철회 또는 취소로 인한 불이익은 회원 본인이 부담하여야 합니다.
  (나) 이용계약은 회원의 해지의사가 회사에 도달한 때에 종료됩니다.
  (다) 본 항에 따라 해지를 한 회원은 해지 후 1 개월이 경과한 경우 또는 회사가 승낙한 경우에 한하여 이 약관이 정하는 회원가입절차와 관련조항에 따라 회원으로 다시 가입할 수 있습니다.
3. 회사의 해지 
  (가) 회사는 다음과 같은 사유가 있는 경우, 이용계약을 해지할 수 있습니다. 이 경우 회사는 회원에게 E-mail, 전화, 팩스, 기타의 방법을 통하여 해지사유를 밝혀 그 시정을 요구하고, 7일 이상으로 정한 기간 내에 이를 이행하지 아니한 때에는 계약을 해지합니다. 다만, 회사는 해당 회원에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.
- 회원에게 제9조 3항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우
-회원이 공공질서 및 미풍양속에 위배되는 거래행위를 하거나 시도한 경우
-회원이 회사나 다른 회원, 기타 타인의 권리나 명예, 신용, 기타 정당한 이익을 침해하는 행위를 한 경우
-회원이 직거래 등 회사가 제공하는 서비스의 원활한 진행을 방해하는 행위를 하거나 시도한 경우
-회원이 실제로 거래하고자 하는 의사 없이 거래등록을 한 경우
-사기 등 범죄의 가능성이 있다고 회사가 판단하는 행위
 타인의 결제수단(신용카드 / 핸드폰 번호)를 도용한 경우
 성명 또는 주민등록번호가 본인과 불일치하거나 불량한 경우
 타인의 ID 또는 주민등록번호를 도용한 경우
 본 약관의 내용을 위반하는 행위
-회사의 게시판에 사이트 운영을 방해할 목적으로 반복적으로 동일한 글을 올리거나, 회원을 상대로 광고 및 영업활동을 하는 글을 올리는 등 운영자의 합리적이고 객관적인 판단에 의하여 회원의 자격이 없다고 인정되는 경우
-욕설이나 비방을 하는 행위
  (나) 이용계약은 회사의 해지의사가 회원에게 도달한 때에 종료됩니다.
  (다) 회사가 이용계약을 해지하는 경우, 회사는 별도의 통지 없이 해당 회원과 관련된 제반 행위를 취소할 수 있습니다.
  (마) 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 회원이 책임을 부담하여야 합니다. 다만, 회사의 고의나 과실에 의하여 손해가 발생한 경우에는 회사가 손해를 부담합니다.
4. 회원이 마지막 접속일로부터 1년(365일) 이상 로그인을 하지 않은 경우(매월 첫 영업일 대상회원 업데이트) 해당 회원의 아이디는 휴면계정으로 전환되어 회원 로그인을 비롯한 모든 서비스에 대한 이용이 정지되고, 이 경우 회사는 휴면계정의 개인정보를 다른 아이디와 별도로 관리합니다.
  (가) 회사는 매월 20일경 휴면계정 처리 대상자에게 해당 사실을 알림톡(또는 SMS 등)을 통하여 사전 안내합니다.
  (나) 회원은 휴면계정 처리일 이후에 사이트 상에서 로그인 후 휴면상태 해체 신청을 하는 즉시 다시 정상적으로 서비스를 이용할 수 있습니다.
  (다) 휴면계정으로 전환된 계정은 전환일로부터 3년 이내에 홈페이지의 로그인을 통해 재이용신청을 진행하실 수 있으며, 일정한 절차를 완료하는 경우 일반계정으로 전환되어 서비스 이용이 가능합니다.
  (라) 휴면 계정의 효력
-분리 보관되는 정보: 이름, 생년월일, 성별, 연락처(이메일, 휴대전화번호 등 등록한 정보), 본인확인 정보, 투자내역, 접속기록
-파기되는 정보: 이메일 수신동의, SMS수신동의
	   
제 3 장 회원정보의 보호
제 10 조 (회원정보의 수집과 보호)
1. 회사는 이용계약을 위하여 회원이 제공한 정보 외에도 수집목적 또는 이용목적을 밝혀 회원으로부터 필요한 정보를 수집할 수 있습니다. 이 경우, 회사는 회원으로부터 정보수집에 대한 동의를 받습니다.
2. 회사가 정보수집을 위하여 회원의 동의를 받는 경우, 회사는 수집하는 개인정보의 항목 및 수집방법, 수집목적 및 이용목적, 개인정보의 보유 및 이용기간, 제3자에 대한 정보제공 사항(제공받는 자, 제공받는 자의 이용목적, 제공정보의 항목, 보유 및 이용기간)을 개인정보 처리방침으로 미리 명시하거나 고지합니다. 회원은 정보제공에 동의하더라도 언제든지 그 동의를 철회할 수 있습니다.
3. 회원은 회사에게 정보를 제공하고자 하는 경우 사실대로 제공하여야 합니다.
4. 회사는 아이디(ID) 등 서비스화면을 통하여 공개되는 정보를 제외하고는 회사가 수집한 회원정보를 정보수집 시에 밝힌 수집목적, 이용목적, 외의 용도로 사용하거나 당해 회원의 동의 없이 제3자에게 제공하지 않습니다. 다만, 다음의 경우는 예외로 합니다.
  (가) 법령이 회원정보의 이용과 제3자에 대한 정보제공을 허용하고 있는 경우.
  (나) 채무자의 동의 하에, 대출신청이 성사된 후 발생한 연체 및 채무 불이행의 경우. 다만 이 경우 회사는 해당 대출에 참가한 투자회원에 한하여 채무자의 실명, 연락처 등의 정보를 제공합니다.
  (다) 회원의 동의 하에, 회사와 제휴한 업체의 광고 기타 상업적 목적을 위한 자료로 제공 활용되는 경우
5. 회사의 개인정보 관리책임자 및 연락처는 아래와 같습니다.
   성명 : 김정궍
   소속 : ㈜누리펀딩 
   직위 : 영업총괄 대표
   Email : jkkim317@naver.com
6. 회원은 언제든지 자신에 관한 정보를 열람할 수 있고, 회사 또는 정보관리책임자에게 잘못된 정보에 대한 정정을 요청할 수 있습니다. 회사는 회원으로부터 정보정정의 요청이 있는 경우 그 오류가 시정될 때까지 당해 정보를 이용하지 않습니다.
7. 회사는 회원정보의 보호를 위하여 관리자를 최소한으로 한정하며, 회사의 고의 또는 과실로 인하여 회원정보가 분실, 도난, 유출, 변조된 경우에는 그로 인한 회원의 손해에 대하여 모든 책임을 부담합니다.
8. 이용계약이 종료된 경우, 회사는 당해 회원의 정보를 파기하는 것을 원칙으로 합니다. 다만, 아래의 경우에는 회원정보를 보관합니다. 이 경우 회사는 보관하고 있는 회원정보를 그 보관의 목적으로만 이용합니다.
  (가) 상법 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.
  (나) 회원의 탈퇴신청 등으로 이용계약이 종료된 경우, 회사는 투자자 보호 및 본 약관이 정한 제한을 의도적으로 회피하기 위한 임의 해지 방지를 위하여 상당하다고 인정되는 경우에 한하여 이용계약종료 후 1년간 아이디(ID), 성명 또는 상호, 연락처, 거래상세내역, 약관위반 행위자료 등 최소한의 필요정보를 보관합니다.
  (다) 회사가 이용계약을 해지하거나 회사로부터 이 약관 제16조에 정한 회원자격정지조치를 받은 회원에 대해서는 재가입에 대한 승낙거부사유가 존재하는지 여부를 확인하기 위한 목적으로 이용계약종료 후 1년간 아이디(ID), 성명 또는 상호, 연락처, 주소, 해지와 회원자격정지와 관련된 정보 등 최소한의 필요정보를 보관합니다.
  (라) 기타 정보수집에 관한 동의를 받을 때 보유기간을 명시한 경우에는 그 보유기간까지 회원정보를 보관합니다.
  (마) 회사는 회원정보의 보호와 관리에 관한 개인정보처리방침을 회원과 회사의 서비스를 이용하고자 하는 자가 알 수 있도록 인터넷사이트(http://www.nurifunding.com)에 공지합니다.

제 11 조 (회원정보의 변경)
1. 회원은 이용신청 시 기재한 사항이 변경되었을 경우, 즉시 해당 사항을 수정해야 합니다. 회원정보의 변경은 로그인을 한 후 마이페이지의 회원정보에서 변경할 수 있습니다. 단, 아이디(ID), 주민등록번호 및 성명은 수정할 수 없음을 원칙으로 합니다.
2. 회원정보가 변경되었음에도 해당 사항을 수정하지 않음으로써 발생하는 각종 손해와 잘못된 수정으로 인하여 발생하는 손해는 당해 회원이 부담하여야 합니다. 다만, 회사의 고의나 과실에 의하여 손해가 발생한 경우에는 회사가 손해를 부담합니다.

제 12 조 (이메일(Email)의 관리)
1. 이메일(Email) 및 비밀번호에 대한 관리책임은 회원에게 있으며, 회원은 아이디(ID) 및 비밀번호를 타인에게 양도, 대여할 수 없습니다.
2. 회사의 행위에 의하지 아니한 이메일(Email) 또는 비밀번호의 유출, 양도, 대여로 인한 손실이나 손해에 대하여 해당회원이 책임을 집니다. 다만, 회사의 고의나 과실에 의하여 손해가 발생한 경우에는 회사가 책임을 집니다.
3. 회원이 이메일(Email) 또는 비밀번호를 도난 당하거나 제3자가 이를 사용하고 있음을 인지한 경우, 즉시 회사에게 통보하여야 하고, 회사의 안내가 있는 경우에는 그에 따라야 합니다.

제 4 장 서비스의 이용
제 13 조 (서비스의 종류 및 이용)
1. 회사가 제공하는 서비스는 금융 거래장소(Platform) 서비스, 홍보 서비스, 기타 서비스 등이 있습니다.
2. 회사는 서비스의 종류에 따라 각 대출의 특성, 절차 및 방법에 대한 사항을 서비스화면을 통하여 공지합니다. 회원은 회사가 공지한 각 대출에 관한 사항을 사전에 충분히 이해하고 서비스를 이용하여야 합니다.
3. 회원은 이메일(Email)과 비밀번호를 통하여 회사가 제공하는 거래서비스에 접속할 수 있고, 동 서비스를 이용하여 자금을 투자하거나 빌릴 수 있습니다.
4. 회원이 서비스를 통하여 투자하거나 빌리는 경우, 반드시 회사의 홈페이지를 통하여 투자 및 대출을 완료하여야 합니다. 회사는 회원 간의 직거래로 인하여 발생한 문제에 대하여 책임지지 않습니다.

제 14 조 (서비스 이용의 정지, 제한 및 회원의 등급)
1. 회사는 서비스를 통한 거래의 안전성과 신뢰성을 위하여 이 약관에서 정한 바에 따라 회원자격을 정지하거나 서비스의 이용을 제한할 수 있습니다. 회원자격이 정지된 회원은 금융거래 장소 서비스를 포함한 모든 서비스를 이용할 수 없습니다. 또한 성실하고 적법하게 사이트를 이용한 회원에 대하여는 이 약관에서 정하는 바에 따라 거래이용시의 혜택을 부여할 수 있습니다.
2. 회원의 신용도에 따른 등급 
  (가) 과거의 거래를 평가하여 회원에게 등급을 부여할 수 있습니다.
  (나) 회원의 등급에 따라 회원자격을 정지하거나 일정한 금융거래 장소 서비스의 이용을 제한할 수 있습니다. 또한 거래이용의 혜택을 부여할 수 있습니다.
  (다) 대출신청자 등급과 투자자 등급: 회사는 각 회원의 거래에 따른 빌리기에 의한 상환기록 및 투자하기에 대한 최종 성사 여부 등을 종합하여 등급을 각각 부여합니다. 등급의 산정기준과 운영정책에 관한 세부사항은 누리펀딩 홈페이지의 공지란을 통하여 별도로 공지합니다.
  (라) 회원자격의 정지: 회사는 금융거래 장소 서비스 등을 통한 거래의 신뢰성과 거래질서 유지를 위하여 회원의 대출신청자 등급 및 평점에 따라 당해 회원의 자격을 일시 정지하거나 영구 정지할 수 있습니다. 회사는 허위 거래등록 등 거래진행을 방해하는 부당한 거래행위, 불법 거래행위 등에 대하여 회원자격을 정지할 수 있습니다.
  (마) 서비스 이용제한; 회사는 직거래유도행위에 대하여 직거래 방지 조치와 회원에 대한 이용제한을 부과합니다.
  (바) 회원자격 정지 등의 해소: 회사는 등급에 따라 회원자격이 정지되거나 금융거래 장소서비스의 이용이 제한된 회원이 해당 행위를 할 수 밖에 없었던 사유를 소명하거나 거래상대방의 양해가 있었음을 소명하는 등 회사가 정하는 기준을 충족하는 경우 회원 자격 정지 또는 금융거래 장소 서비스 이용제한 조치를 해소할 수 있습니다.
  (사) 회원에 대한 혜택; 회사는 빌리기나 투자하기를 성실하고 적법하게 이용하여 회원상호간의 원활한 거래에 기여한 회원에 대하여 각종 혜택을 부여합니다. 혜택의 종류와 범위, 부여기준 등은 회사의 별도 공지에 따릅니다.
  (아) 공지: 회사는 등급과 관련된 사항을 공지 하여야 하며, 회사의 등급에 대한 구체적인 산정기준, 변경사유 및 절차, 운영실태 등을 회원에게 불리하게 변경할 경우에는 이를 상당한 기간(7일 이상의 기간) 공시하고 회원의 이의신청을 받아야 합니다.
  (자) 재가입의 경우: 회원이 이용계약해지 후 재가입하는 경우에도 이용계약해지 전 부과된 등급 및 그에 기하여 회사로부터 부과 받은 회원자격정지 등의 조치는 그대로 유지됩니다. 단, 이는 회사 정책에 따라 부여된 등급 및 제재에 관한 사항을 의도적으로 회피할 목적으로 탈퇴 후 재가입절차를 이용하려는 회원을 미연에 방지하고자, 회사가 임의로 마련한 고객자료를 이용한다는 의미일 뿐, 탈퇴한 회원의 개인정보사항을 이용함을 의미하지는 않습니다.
3. 회원자격이 정지된 회원에게 완료되지 않은 거래가 있는 경우 해당 회원은 거래에 관한 제반 과정을 완료하여야 합니다.

제 5 장 서비스 이용 수수료
제15조 (서비스이용료의 내용)
1. 대출이 실행되었을 경우, 투자자는 회사의 서비스 제공에 필요한 보수로서 회사에게 “관리 수수료”를 아래의 각 항목과 같이 지급해야 합니다.서비스 편의를 위해 회사는 해당 이용료를 공제하고 이자 등을 지급할 수 있습니다.
- 해당 투자건의 투자금액에 대해 플랫폼 이용 수수료는 투자 금액의 0.1%(월 기준)를 대출 원금 상환 시 수취.
2. 대출이 실행되었을 경우, 대출자는 회사의 서비스 제공에 필요한 보수로서 회사에게 약정한 대출상환기간과 대출신청 당시의 "회사"의 심사에 따라 “플랫폼 이용 수수료”를 지급해야 합니다.
- 서비스 편의를 위해 회사는 해당 이용료를 제하고 대출금을 지급할 수 있습니다.
3. 회사에게는 금융거래 장소 서비스에서 결정된 이자를 매월 정해진 기일에 지급하여야 합니다.
4. 채무자가 금융거래 장소 서비스에서 결정된 이자를 정해진 기일에 투자자에게 지급하지 못하면 대출약정서에서 정한 소정의 연체 이자가 가산됩니다.
5. 금융거래 장소 서비스와 관련하여 발생하는 은행에 대한 계좌이체 수수료는 투자하는 사람과 빌리는 사람 각자가 부담합니다.
6. 기타 서비스에 있어서, 회사가 서비스 이용에 따른 수수료를 부과하고자 할 경우에는 부과기준 및 기타 상세한 내용을 시행 전에 사이트에 7일 이상 공지합니다.

제 6 장 손해배상 및 기타사항
제 16 조 (회사의 면책)
1. 회사가 회원들에게 제공하는 서비스는 온라인 거래장소(marketplace)를 제공하고 거래서비스 등 부가서비스를 통하여 회원 상호간 거래가 원활하게 진행되도록 관리하는 것에 그칠 뿐, 회원 상호간의 거래에 따른 권리와 의무 및 사후처리는 거래당사자가 직접 부담합니다. 회사는 회원 상호간 거래가 원만하게 이루어지도록 상법상의 중개규정 및 전자상거래 기본법 등 관련법령을 준수합니다.
2. 회사는 천재지변 또는 이에 준하는 불가항력, 정보통신설비의 보수점검, 교체 또는 고장, 통신의 두절 등으로 인하여 일시적 또는 종국적으로 서비스를 제공할 수 없는 경우, 서비스 제공에 관한 책임이 면제됩니다. 이 경우 회사는 약관 제2조에 정한 방법으로 회원들에게 통지합니다.
3. 회사는 인터넷 이용자 또는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.
4. 회사는 회사가 제공하는 거래서비스를 통하지 아니하고 이루어지는 개별 계약과 회원 본인이 제공한 신상등록정보의 오류, 미비 등으로 인하여 발생하는 손해에 대해서는 책임을 지지 않습니다.
5. 회사는 회원이 다른 회원에 의해 게재된 정보, 자료, 사실의 정확성 등을 신뢰함으로써 입은 손해에 대하여 책임을 지지 않습니다.
6. 회원은 서비스 이용 시 노출되는 제휴업체를 포함한 회사의 광고게재에 대해 동의한 것으로 봅니다.
7. 회사와 피 연결회사(회사의 서비스 화면과 링크 등으로 연결된 사이트를 운영하는 법인 또는 회사를 말합니다)는 독자적으로 운영되며, 회사는 피 연결회사와 회원간에 이루어진 거래에 대하여는 책임을 지지 않습니다. 회사는 서비스상에 게재되어 있거나 본 서비스를 통한 제휴업체 등의 판촉활동에 회원이 참여하거나 교신 또는 거래를 함으로써 발생하는 손실과 손해에 대해 일체의 책임을 지지 않습니다 회원은 서비스 내에 포함되어 있는 링크를 통하여 다른 웹사이트로 옮겨갈 경우, 회사는 해당 사이트에서 제공하는 정보내용 및 이로 인한 손해 등에 대한 책임을 지지 않습니다.
8. 회사는 회원이 회사가 제공하는 정보(제8조 제5항)에 관하여 그 수신을 거부하여 발생하는 손해에 대해서는 면책됩니다.

제 17 조 (준거법 및 관할법원)
본 약관과 회사와 회원간의 개별서비스 이용약관, 회원 상호간의 거래에 대해서는 대한민국 법령이 적용되며, 회사와 회원간에 분쟁이 발생할 경우 민사소송법 등 관련법령에 의한 관할법원 이외에 서울중앙지방법원에 소를 제기할 수 있습니다.

제 18 조 (기타 조항)
1. 회사는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 문제를 해결하고 회원 상호간의 분쟁을 조정하기 위하여 고객센터를 설치, 운영합니다. 회사는 회원으로부터 제기되는 불만사항 및 의견이 정당하다고 판단되는 경우 이를 신속하게 처리하며, 즉시 처리가 곤란한 경우에는 그 사유와 처리기간을 통보합니다.
2. 고객 센터 안내 
  (가) 담당자: 김정권
(나) 직위: 영업총괄 대표
(다) E-mail: jkkim317@naver.com
3. 회사소개 
  (가) 회사명: ㈜누리펀딩
  (나) 주소: 서울특별시 강남구 테헤란로82길15 11층(대치동 디아이타워)
  (다) 사업자등록번호:  677-81-00871


부 칙

1. 이 약관은 2017년 10월 1일부터 효력을 발생합니다.
2. 본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다.
</textarea> </p>
						<p class="prps-d3-p2 nr-box">
							<input type="checkbox" name="chk2" id="chk2" class="nr-check">
							<label for="chk2">
						<span class="c-orange">[필수]</span>
						<span class="f0">위 내용을 이해하였으며 이에 동의합니다.</span>
					</label>
						</p>
					</div>

					<h3 class="prps-h3" onclick="javascript: policy_show('4');" style="background:#666; color:#fff; padding:2%;">투자이용약관</h3>

					<div class="prps-d-3 br4" style="display:none;" id="policy_4">
						<p class="prps-d3-p1">
							<textarea style="width:98%; height:100px; resize:none; border:1px solid #c9c9c9; padding:1%; font-size:14px; color:#666; line-height:1.7em;">투자이용약관
제1조(목적)
이 약관은 ㈜누리펀딩(이하 “회사”라고 합니다)가 운영하는 https://www.nurifunding.co.kr(이하 “사이트”라고 합니다)에서 제공되는 금융시스템 및 기타 정보서비스(이하 “서비스”라고 합니다)와 관련하여 회사, 여신회사와 투자자간의 권리와 의무, 책임 사항을 규정함을 목적으로 합니다. 회사는 시스템에 관한 제반 기술과 운영에 대한 모든 권한을 갖고 있으며, 투자자에게 제공하는 여신업무는 회사와 제휴된 여신회사가 전담합니다.
제휴된 여신업체: ㈜누리펀딩대부(이하 “여신회사”)


제2조(정의)
(1) 본 계약에서 사용되는 용어는 각각 다음과 같은 의미를 갖습니다.
1.투자자라 함은 회사가 운영하는 사이트에 공시된 여신회사의 대출채권에 대한 원리금 수취권 취득을 목적으로 투자신청 및 투자금을 제공한 회원을 의미합니다.
2.대출채권이라 함은 여신회사가 대출 실행을 통해 취득하게 되는 채무자에 대한 채권을 의미합니다. 
3.채무자라 함은 대출약정에 의해 여신회사에 대하여 채무를 부담하는 자를 말합니다.
4.여신회사라 함은 회사와 특정한 제휴 및 협약을 맺고 채무자에 대하여 대외적으로 대출을 실행하고, 이에 대한 채권관리 및 채권회수 등의 업무를 수행하는 회사를 말합니다.
5.투자금이라 함은 투자자가 대출채권의 원리금수취권을 취득하기 위하여 회사를 통해 여신회사에게 지급하는 금전을 의미합니다.
6.원리금수취권이라 함은 투자자가 대출채권에 투자함으로써 여신회사가 채무자로부터 원리금을 회수하는 경우에 한하여 투자금에 비례하여 원리금을 여신회사로부터 지급받을 수 있는 권리를 말합니다. 이는 여신회사가 발행하여 회사가 투자자에게 교부합니다.
7. 누리펀딩(NURIFUNDING)은 회사와 여신회사가 영위하는 사업에 관하여 공통하여 사용하는 서비스 명칭입니다.
(2) 본 약관에서 사용하는 용어 중 전항에서 규정하고 있지 않은 것은 회사의 서비스 이용약관, 관계법령 등에 따르도록 합니다.


제3조(회사의 업무범위)
(1) 회사는 시스템에 관한 제반 기술 및 운영에 대한 모든 권한을 보유하고 있습니다.
(2) 회사는 투자자가 투자하고자 하는 여신회사의 대출채권(이하 투자대상채권이라고 합니다)에 대한 원리금수취권 취득을 중개하며, 이와 관련하여 회사는 투자자로부터 원리금 수취권에 대한 투자금을 수령한 다음 이를 여신회사에게 지급합니다.
(3) 회사는 여신회사로부터 투자자의 투자금 원금 및 수익금을 수령한 다음, 이를 투자자에게 지급합니다.
(4) 회사는 약관의 규제에 관한 법률, 전자금융거래법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 소비자기본법 등 관련 법을 위반하지 않는 범위에서 이 약관을 개정할 수 있습니다.


제4조(여신회사의 지위 및 권한)
(1) 여신회사는 투자자에게 투자대상채권에 대한 원리금수취권을 양도한 이후에도 투자대상채권의 채무자 등에 대한 대외적인 채권자의 지위를 그대로 유지합니다.
(2) 채무자에 대한 대출채권의 권리행사, 채무자 등에 대한 연체이자 부과 및 추심 등 투자대상채권과 관련된 모든 권한은 오로지 여신회사만이 가집니다.


제5조(투자자의 지위 및 권리양도제한)
(1) 투자자는 여신회사와 투자대상채권의 채권참가 계약을 통해 원리금수취권을 취득한 것으로 채무자 등에 대하여 직접적인 권리를 행사할 수 있는 대외적인 채권자의 지위에 있지 않습니다.
(2) 투자자는 회사의 사이트에 게시된 모든 투자대상채권에 대한 대외적인 채권자는 여신회사라는 사실을 인지하고 투자에 참가한 것입니다.
(3) 투자자는 회사의 약관에 따라 투자하여 획득한 회사와 여신회사가 제공한 지위와 권리를 투자자가 아닌 제3자에게 전부 또는 일부라도 양도할 수 없습니다. 다만, 회사의 사전승인을 받을 경우 다른 투자자에게 양도하는 것은 가능합니다. 회사는 양수인이 투자회원 가입 등 결격사유가 없고 정상적인 투자회원 가입이 될 경우에는 승인하는 것을 원칙으로 합니다. 양도인은 거래대금의 3%를 회사에 수수료로 지급하고, 투자자 이용수수료는 양수도일을 기준으로 양도인과 양수인이 일할 계산(월0.1%)하여 부담합니다.


제6조(투자자 등록과 투자신청 제한 등)
(1) 투자자는 본 약관을 숙지하였음을 확인하고, 본 약관에 동의함으로써 회사가 제공하는 서비스에 투자자로서 등록하여 사이트에 게시된 투자대상채권에 투자 신청(채권참가 예약의 전자적 표시)하여 해당 대출채권의 원리금수취권리의 일부 또는 전부에 참가할 수 있습니다.
(2) 회사는, 투자자가 위 참가거래에 따라 회사에게 지급할 투자 금액의 수령(교부)채권을 투자자인 귀하의 보호를 위하여 금융회사(이하 수탁자)에게 신탁하며, 귀하는 이를 승낙합니다. 동 신탁에 따라 귀하는 위 투자 금액을 금융회사에 개설된 수탁자 명의의 예금계좌로 입금하여야 합니다. 위 수탁자 명의의 예금계좌 이외의 계좌로 투자 금액을 입금하는 경우 이외에는 유효한 투자금(액)으로 인정받을 수 없고 귀하는 그 지급(입금)액을 신탁에 따라 보호받을 수 없습니다.
(3) 회사는 재량 내에서 회사가 정한 기준에 부합하지 않거나 미달하는 특정인이 서비스를 사용하는 것을 금지할 수 있는 권한을 갖습니다.
(4) 투자자는 회원 가입 후 회사가 제공하는 금융회사 계좌 또는 가상계좌에 예치금 입금 후 투자신청을 할 수 있습니다. 아울러, 귀하가 참여한 투자대상채권은 다수의 투자자가 참여하여 총 모집금액이 달성이 된 이후에는 중도해지 및 중도인출이 불가능합니다. 
(5) 투자자는 사이트에서 투자 신청 전 귀하 본인 명의의 은행계좌 정보를 제공하여야 하며, 해당 은행계좌는 귀하에게 수익금과 원금이 가상계좌로 지급된 후 출금신청 시 해당 은행계좌로 지급됩니다.(단, 가상계좌 미 개설시는 본인 계좌로 지급)
(6) 귀하의 투자신청은 서비스 이용약관에 의거하여 회사의 제한을 받을 수 있습니다. 회사는 귀하가 사이트를 활용하여 투자 행위를 함에 있어서 귀하의 투자 위험을 최소화하기 위해서 필요할 경우 특정 신용등급의 대출자가 신청한 대출 신청이나 기타 특정 대출 신청에 대한 투자 신청행위의 제한 또는 투자 신청금액의 제한, 사이트 내에서 투자자가 투자하는 투자 신청금액 총액의 제한, 투자 신청한 투자 건수에 대한 제한, 기타 투자 신청과 관련된 여하한 종류의 제한을 할 수 있습니다.
(7) 귀하는 회사와 여신회사가 정한 서비스 이용약관에 근거하여 개인정보 제공(이름, 주민등록번호, 주소, 계좌번호, 연락처, 이메일 등)을 하여야 하고, 회사와 여신회사는 필요할 경우 귀하가 제공한 개인정보에 근거하여 원리금 지급, 세금 원천징수 처리 등 관련 업무를 처리합니다.
(8) 투자자가 미성년자일 경우, 법정대리인의 동의가 있거나 처분이 허락된 재산의 범위 내에서 투자가 가능하고, 해당 법정대리인은 미성년자의 법정대리인임을 증명하는 문서(예: 가족관계증명서)와 별도의 투자동의서를 작성하여 회사에 제출하여야 합니다. 법정대리인의 투자동의서는 미성년자 회원의 탈퇴, 자격상실, 별도의 투자의사 철회 등이 있기 전까지 투자상품에 대한 투자가 계속 유효합니다.


제7조(투자금 및 수익금에 대한 미보장)
(1) 여신회사의 대출채권에 대한 투자는 채무자가 여신회사에게 원리금을 상환하지 않는 경우, 해당 대출 채권에 투자한 투자자에게 원리금 지급이 불가능하며, 이와 같은 경우 투자자의 투자금액에 대한 원금손실 가능성이 있습니다. 회사와 여신회사는 귀하가 투자한 투자대상채권에 대하여 원리금 상환이나 수익발생을 보장하지 않습니다.
(2) 채무자 등이 여신회사에 대하여 원리금의 전부 또는 일부를 상환하지 못할 경우 발생하게 되는 투자금 손실 등 투자위험은 투자자가 부담합니다.
(3) 투자자는 이러한 투자금 손실 등에 대한 법적 책임을 회사와 여신회사에게 요구할 수 없습니다. 단 회사의 고의 또는 중대한 과실로 잘못된 정보 제공, 투자상품에 대한 관리소홀 등으로 인한 경우는 그러하지 않습니다. 


제8조(대출 실행의 방법 등)
(1) 회사의 사이트를 통한 투자신청은 총 모집금액이 달성되면 남은 마감시간과 관계없이 투자신청이 종료될 수 있습니다. 투자신청은 선착순으로 진행됩니다.
(2) 대출의 실행은 회사와 제휴된 여신회사를 통하여 채무자의 은행계좌 또는 대환은행, 채무자와 약정된 신탁계정으로 대출금을 입금하는 방식으로 실행됩니다. 
(3) 해당 대출채권에 대해 채무자 등의 대출신청 철회 또는 추후 회사가 투자대상채권의 부적합함을 발견한 경우 등 회사가 대출신청을 철회한 경우 등 대출금실행(대출금 분할 실행 포함)이 일어나지 않은 경우 투자자의 투자는 더 이상 유효하지 않습니다. 대출실행이 철회될 경우 회사는 투자자의 투자금을 투자자에게 환급하며 별도의 이자는 지급하지 않습니다.


제9조(투자금 및 수익금의 지급)
(1) 채무자 등이 여신회사와 체결한 대출약정의 변제기 또는 변제기 이전 중도 상환할 경우 여신회사는 채무자 등으로부터 원리금을 상환받습니다. (단, 중도상환수수료 지급 약정이 있는 경우는 제외)
(2) 여신회사가 채무자 등으로부터 원리금을 상환 받게 되면 여신회사는 투자자가 얻는 이자수익 부분에 대한 세금을 원천징수한 후 투자자에게 지급하게 됩니다. 채무자 등이 원리금의 일부만을 상환한 경우 투자자의 투자금액에 비례하여 원리금의 일부 상환이 이루어질 수 있습니다.
(3) 대출실행되는 해당월 1일부터 24일까지 대출 실행된 경우, 투자상품의 이자수익은 익월 첫 영업일에 지급되며, 해당월 25일부터 해당월 말일까지 대출 실행된 투자상품의 이자수익은 익익월 첫 영업일에 지급됩니다.
(4) 채무자 등은 여신회사와 대출약정에서 원리금 상환방식에 관하여 분할상환과 일부상환 또는 만기일시상환 방식 중 선택할 수 있으며 상환이 발생하는 익영업일 회사가 지정한 가상계좌 또는 본인계좌로 상환금액이 지급됩니다. (단, 상환일이 휴일 및 공휴일인 경우에는 그 다음날 지급합니다)


제10조 (세금)
투자자가 투자하여 발생한 수익은 비영업대금의 이익에 해당되어 25%의 소득세와 주민세 2.5%가 합산된 총27.5%의 세금이 발생됩니다. 이러한 세금은 수익금 지급시 제외되어 입금되며 제외된 세금은 회사를 통해 원천징수 처리됩니다.


제11조(상환지연 및 연체, 대출약정 위반시 조치 등에 관하여)
(1) 상환지연이란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기가 도래되었음에도 불구하고 여신회사에 원리금을 상환하지 못한 상태가 30일 미만인 것을 말합니다.
(2) 연체란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기가 도래되었음에도 불구하고 여신회사에 원리금을 상환하지 못한 상태가 30일 이상인 것을 말합니다.
(3) 부실이란 채무자 등이 매월 납입해야 하는 대출이자 또는 대출약정상의 변제기로부터 90일 이상 장기 연체되는 것을 말합니다.
(4) 회사는 연체 또는 부실 발생 시 해당 사항을 사이트에 연체율 또는 부실률로 공시합니다. 
※ 연체율 = 연체 중인 채권의 잔여 원금 / 대출잔액 (취급총액 중 미상환 금액)
※ 부실률 = 90일 이상 장기 연체 중인 채권의 잔여 원금 / 총 누적 대출 취급액
(5) 여신회사는 채무자 등의 상환지연 또는 연체가 발생할 경우 대출약정서에 명기된 연체이자(연 24%)를 부과하고, 대출약정서에 명기된 담보권 실행조치 (경매 또는 공매 등)를 할 수 있습니다.
(6) 위 5항의 경우 투자자에게 지급되는 연체이자는 매월1일에 지급되는 것이 아닌 대출원금 회수시점에 지급받고 여신회사가 받은 연체이자는 원천징수 후 투자자에게 지급됩니다.
(7) 채권추심 도중에 상환 된 경우, 채권추심 과정에서 발생한 법무비용 등 각종 비용을 원리금에서 차감 후 지급할 수 있습니다. 단 투자자는 그로 인해 투자금의 손실이 발생할 수 있습니다.
(8) 여신회사는 연체상황이 발생하지 않더라도 채무자 등이 대출약정을 위반한 경우 대출약정을 해제하고 채권추심을 진행할 수 있습니다. 이때, 채권추심 과정에서 투자 당시의 투자기간보다 경매, 공매 절차 등에 의해 투자금 회수에 상당기간이 소요될 수 있으며 경매, 공매 낙찰가격이 대출원금을 하회할 경우 원금손실이 발생할 수 있습니다. 
(9) 여신회사는 연체 또는 기한의 이익상실 등의 사유 발생 시 해당 대출채권을 투자자의 동의를 얻어 제3자(신용회복기금 또는 여신회사가 지정한 업체)에게 매각할 수 있으며, 그 매각대금으로 투자자에게 원리금을 지급할 수 있습니다. 다만, 채권 매각과정에서 여신회사의 판단에 의해 대출원금 이하의 금액으로 매각될 수 있으며 그로 인해 투자자의 원금손실이 발생할 수 있습니다. 대출채권의 매각은 채무자의 파산 등으로 상환 불가능할 경우 등 채권매각이 투자자의 손실을 최소화하는 경우에 진행하고, 위와 같은 매각진행 시, 해당 투자자에게 별도의 안내를 합니다.
(10)투자자는 제11조의 사유 등으로 인하여 투자원금 손실을 입을 수 있으며 이 경우에도 회사와 여신회사는 대출잔여금의 전액에 대한 추심성공을 보장할 수 없으므로 투자자는 투자금의 손실에 대하여 이의를 제기할 수 없습니다. 


제12조 (채권추심의 위임)
(1) 회사와 여신회사는 채무자 등이 상환을 하지 못할 경우, 투자자 보호를 위하여 연체 중인 대출채권을 회수하기 위하여 투자자의 동의를 얻어 별도의 법무법인, 채권추심 회사를 통해서 회수합니다. 
(2)이 경우 변호사 비용을 포함한 수수료는 대출약정 금액의 5% 이내에서 처리하기로 합니다(추가 비용 발생시 문자 등으로 별도 협의 후 진행합니다). 이때 발생하는 수수료, 법적 조치 비용은 회사가 채무자 등으로 부터 우선적으로 정산 받을 수 있습니다. (상환순서는 비용, 원금, 이자 순으로 지급 합니다) (3)여신회사는 연체 상황이 발생하지 않더라도 채무자 등 이 대출약정을 위반한 경우 대출약정서에서 규정한 법적 조치를 진행할 수 있습니다. 이때, 채권추심 과정에서 투자 당시의 투자기간보다 경매, 공매 절차 등에 의해 투자금 회수에 상당기간이 소요될 수 있으며 경매, 공매 낙찰가격이 대출원금을 하회할 경우 원금손실이 발생할 수 있습니다. 투자자는 이로 인해 투자금의 손실이 발생할 수 있습니다. 


제13조(플랫폼 이용수수료의 지급 등)
(1) 플랫폼 이용수수료란 회사가 제공하는 서비스를 이용해 투자자가 여신회사의 대출채권에 참가신청을 하고, 원리금수취권 취득을 통해 투자자가 여신회사로부터 받게 될 원리금 수취를 회사가 대행함에 있어 회사에 지불하는 비용을 말합니다.
(2) 플랫폼 이용수수료는 투자대상채권의 투자 신청일로부터 원리금을 회수하는 시점까지 부과되며 수수료는 매월 약0.1%로 일할 계산되어 청구됩니다.
(3) 플랫폼 이용수수료는 채무자 등이 여신회사에 원리금을 상환하고, 여신회사가 투자자에게 원리금을 지급하는 시점까지 일할 계산되어 원리금에서 차감 후 지급됩니다.
(4) 플랫폼 이용수수료는 상환지연, 연체시에도 부과되며 여신회사가 채권추심을 통해 원리금의 전부 또는 일부를 회수하여 투자자에게 지급하는 날까지 일할 계산됩니다.


제14조(투자자의 의무사항과 투자자 지위의 상실)
투자자가 아래 각호의 행위를 한 경우, 회사는 상당한 기간을 정하여 이행 내지 시정을 요청하고, 이러한 이행 내지 시정이 없는 경우 해당 투자자와 계약을 해지하거나 투자자 자격을 박탈하거나 서비스 이용을 하지 못하도록 제한 조치를 할 수 있습니다. 다만, 투자자의 회원자격이 박탈된 시점 이전에 투자가 완료되어 투자자가 유효한 “원리금수취권”을 보유하고 있는 경우에는 해당 투자대상채권에 대한 권리는 여전히 유효하며 투자자는 기존 약관 등에 근거하여 채권 참가자로서의 의무를 여전히 보유합니다. 
(1) 타인 명의로 투자신청을 할 경우
(2) 회사에 본인의 은행계좌정보 등을 허위로 제출하는 경우
(3) 투자대상채권의 채무자 등에게 상환요청, 추심을 하거나 어떠한 명목으로도 금원을 요구하거나 영리행위를 하는 경우
(4) 회사의 사전 동의 없이 원리금수취권을 포함한 투자자의 지위나 권리를 양도하는 경우
(5) 투자자가 회사와 여신회사에 대하여 대출채권의 변제기 도래 전 투자금의 반환을 요청하는 경우
(6) 투자자가 회사 또는 여신회사의 신용도에 부정적인 영향을 미치는 경우 또는 경제적 손실을 입히는 경우
(7) 투자자가 회사 또는 여신회사의 영업비밀 등을 침해하는 경우
(8) 투자자가 회사가 징구한 문서(투자동의서 등)의 명시적 문언에 반하는 주장을 하거나 해당 증빙의 문서가 허위인 경우
(9) 기타 회사가 확인 요청하는 투자자 정보 제공 등에 정당한 사유 없이 불응할 경우

제15조(약관의 개정 등)
(1) 회사와 여신회사는 본 약관을 약관의 규제에 관한 법률, 전자금융거래법, 전자서명법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 소비자기본법 등 관련 법을 위반하지 않는 범위에서 개정할 권한을 갖습니다.
(2) 회사와 여신회사가 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 회사의 홈페이지에 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 회사는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다. 이에 관하여 손실 등의 이해관계 이용자에게는 이용자가 제공한 전자우편, SMS 등을 통하여 개별통지를 합니다.
(3) 회사가 이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 개정약관의 공지기간 내에 회사에 송신하여 회사의 동의를 받은 경우에는 개정약관 조항이 적용됩니다. 
(4) 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상 관례에 따릅니다. 


제16조(법적 조치의 진행)
회사의 부도, 여신회사가 보유한 대출채권의 연체 등이 발생할 경우, 투자자가 투자한 투자상품에 대해 이루어지는 경매나 공매진행을 포함한 모든 법적 조치는 회사와 여신회사가 업무협약을 체결한 법무법인을 통하여 진행됩니다. 원리금 회수 등 추심업무의 편의상 필요할 경우 회사 또는 여신회사는 대출채권을 업무 협약된 법무법인에게 채권을 양도하여 원리금을 회수하고, 투자자에게 반환할 수 있습니다.


제17조(준거법 및 관할법원)
본 약관의 해석 등에 관하여는 대한민국 관계 법령을 적용하며, 본 약관과 관련하여 분쟁이 발생할 경우, 투자자의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만 투자자의 주소 또는 거소가 불분명할 경우 또는 외국 거주자의 경우에는 민사소송법상 관할에 따라 분쟁을 해결하기로 합니다. 



부칙
1.이 약관은 2017년 10월 1일부터 적용됩니다.
2.본 약관 이전에 적용되었던 약관은 본 약관으로 대체합니다. 
</textarea> </p>
						<p class="prps-d3-p2 nr-box">
							<input type="checkbox" name="chk4" id="chk4" class="nr-check">
							<label for="chk4">
						<span class="c-orange">[필수]</span>
						<span class="f0">위 내용을 이해하였으며 이에 동의합니다.</span>
					</label>
						</p>
					</div>

					<h3 class="prps-h3" onclick="javascript: policy_show('5');" style="background:#666; color:#fff; padding:2%;">대부거래 기본약관</h3>

					<div class="prps-d-3 br4" style="display:none;" id="policy_5">
						<p class="prps-d3-p1">
							<textarea style="width:98%; height:100px; resize:none; border:1px solid #c9c9c9; padding:1%; font-size:14px; color:#666; line-height:1.7em;">시행일자: 2017년10월1일
제1조 (목적)
이 약관은 주)누리펀딩대부(이하 “여신업체”라고 한다)와 채무자(이하 “고객”이라고 한다)간의 대부거래에 있어서 상호신뢰를 바탕으로 권리와 의무를 명확히 하고 공정하며 건전한 금전소비대차를 하는 것을 목적으로 한다.

제2조 (적용범위)
이 약관은 여신업체와 고객 사이의 가계 또는 기업의 자금대부 또는 그 중개 및 어음할인 등의 금전의 대부와 관련된 여신업체와 고객 사이의 모든 거래에 적용된다.

제3조 (용어의 정의)
이 약관에서 사용하는 용어의 정의는 다음과 같다.
1.	대부업이라 함은 금전의 대부 또는 그 중개, 금전의 대부와 관련한 어음의 할인 및 이와 유사한 방법에 의한 금전의 교부와 관련된 사항을 그 업으로 행하는 사업을 말한다.
2.	여신업체라 함은 관할관청에 등록여부를 불문하고 대부업을 영위하는 개인 및 법인으로 한다.
3.	고객이라 함은 대부계약의 체결로 인하여 여신업체에 대하여 채무를 부담하는 자를 말한다.
4.	보증인이라 함은 고객이 채무를 이행하지 않는 경우에 그 채무를 대신 이행할 종(從)된 채무를 부담하는 자를 말한다.
제4조 (실명거래)
1.	여신업체와 고객 사이의 거래는 실명으로 한다.
2.	여신업체는 고객이 본인임을 확인할 의무가 있다.
3.	여신업체와 고객 사이의 계약은 고객 본인이 직접 체결하는 것을 원칙으로 하되, 고객의 대리인과 계약을 체결하는 경우에는 고객이 발급받은 인감증명서를 첨부한 위임장에 의하여야 한다.
제5조 (약관의 명시․설명․교부)
1.	여신업체는 이 약관을 모든 영업점 및 여신업체가 정하는 전자매체 등에 게시하고, 고객은 이를 열람하거나 그 교부를 청구할 수 있다.
2.	여신업체는 계약체결 전에 이 약관 제9조를 포함한 중요내용을 고객이 이해할 수 있도록 설명하고 약관을 교부한다.
제6조 (계약의 성립)
여신업체가 약관의 내용을 설명하고 고객이 본 계약서에 의하여 이의 적용을 동의한 경우 계약은 성립한다.

제7조 (자금의 용도 및 사용)
고객은 대출신청시 자금의 용도를 명확하게 제시하고 여신업체와의 대부거래로 받은 자금을 그 거래 당초에 정해진 용도와 다른 용도로 사용하지 않는다.

제8조 (자료의 성실 작성의무)
고객은 대부거래와 관련하여 여신업체에 제출하는 자료를 거짓없이 성실하게 작성, 제출하여야 한다.

제9조 (계약서 필수기재사항)
대부거래 계약서에는 다음의 사항을 반드시 기재한다.
1.	여신업체(그 영업소를 포함한다)의 상호, 주소, 전화번호, 사업자등록번호
2.	대부업 등록번호
3.	고객의 성명 또는 상호, 주소, 전화번호, 생년월일(성별) 또는 사업자등록번호
4.	계약일자
5.	대출금액
6.	이자율(이자율의 세부내역 및 연이자율로 환산한 것을 포함)
7.	연체이자율
8.	변제기간 및 변제방법
9.	대출금을 변제받을 은행계좌번호(변경될 때 여신업체는 고객에게 사전 통지)
10.	채무의 조기상환조건
11.	부대비용이 있는 경우 그 내용 및 금액
12.	보증인이 있는 경우 보증인의 성명 또는 상호, 주소, 생년월일(성별) 또는 사업자등록번호, 보증의 내용
제10조 (이자율 등의 제한)
1.	여신업체는 관계법령이 정하는 이자율(연체이자율 포함)의 범위내에서 계약을 체결하기로 한다.
2.	제1항의 규정에 의한 이자율을 산정함에 있어 사례금, 할인금, 수수료, 공제금, 연체이자, 체당금, 그밖에 그 명칭에 불구하고 대부와 관련하여 여신업체가 받는 것은 이를 이자로 본다. 다만 당해 거래의 계약체결과 변제에 관한 부대비용으로서 관련 법령이 정한 사항은 그러하지 아니 하다.
3.	여신업체가 제1항의 규정에 의하지 않은 대부계약을 체결한 경우 제1항에 따른 이자율을 초과하는 부분에 대한 이자계약은 무효로 한다.
4.	고객이 여신업체에게 제1항에 따른 이자율을 초과하는 이자를 지급한 경우 그 초과 지급된 이자 상당금액은 원본에 충당되고, 원본에 충당되고 남은 금액이 있으면 그 반환을 청구할 수 있다.
5.	여신업체가 선이자를 사전에 공제하는 경우에는 그 공제액을 제외하고 고객이 실제로 받은 금액을 원본으로 하여 제1항에 따른 이자율을 산정한다.
제11조 (비용의 부담)
1.	다음 각 호의 비용은 고객이 부담한다. 
1.	고객, 보증인 또는 물상보증인에 대한 여신업체의 채권 또는 담보권 등의 권리의 행사나 보전 [가압류 또는 가처분(그 해지도 포함) 등을 말함.]
2.	채무이행 지체에 따른 독촉 및 통지 비용
3.	채무 및 보증채무와 관련된 증명서의 발급 비용
2.	여신업체나 여신업체가 지정하는 자가 제1항 각 호의 업무를 처리하고 그 비용을 고객에게 청구하는 경우에는 실비를 초과할 수 없으며 소요비용이 최소화되도록 하여야 한다.
3.	제1항에 의한 비용을 여신업체가 대신 지급한 경우에는, 여신업체는 이를 즉시 고객에게 통지하여 고객이 이를 곧 변제하도록 하고 만일 고객이 그러하지 아니하는 경우에는 여신업체가 대신 지급한 금액에 대하여, 대신 지급한 날부터 다 갚는 날까지의 날짜수 만큼, 상법 제54조(상사법정이율)에 의한 연 6푼의 범위내에서 약정금리로, 1년을 365일(윤년은 366일)로 보고 1일 단위로 계산한 금액을 더하여 갚기로 한다.
4.	여신업체는 대부계약 약정시 고객이 사전에 알 수 있도록, 약정이자 외에 담보대출에 소요되는 부대비용의 항목과 금액을 알려주어야 한다.
제12조 (계약서의 교부 등)
1.	계약내용을 명확히 하기 위하여 계약서는 2부를 작성하여 여신업체와 고객이 각각 보관하는 것으로 한다.
2.	상환 완료 후 고객은 대출계약서 및 계약관계서류의 반환을 서면으로 요구할 수 있고, 이의 반환 요청이 있는 경우 여신업체는 대출계약서 및 계약관계서류를 즉시 반환하기로 한다.
3.	인터넷을 통해 전자적인 형태로 대부거래 약정을 체결하는 경우 여신업체는 지체없이 계약서를 전자우편 등으로 고객에게 송부하고, 계약기간 동안 홈페이지에서 당해 계약사항의 열람, 인쇄가 가능하도록 조치하여야 한다. 다만, 고객의 요청이 있는 경우에는 계약서를 서면으로 교부한다.
제13조 (담보의 제공)
고객 또는 보증인의 신용악화, 제공한 담보의 가치감소의 사유가 발생하여 여신업체가 채권보전상 필요하다고 인정되는 경우에는 고객은 여신업체의 청구에 의하여 여신업체가 인정하는 담보를 제공하거나 보증인을 세우기로 한다. 다만, 담보의 제공이나 보증인을 세울 때에는 반드시 채권보전의 범위내 이어야 한다.
제14조 (기한의 이익의 상실)
1.	고객에게 다음 각호의 사유가 발생한 경우에는 여신업체로부터의 독촉, 통지 등이 없어도, 고객은 기한의 이익을 상실한다. 
1.	고객이 제공한 담보재산에 대하여 압류명령이나 체납처분 압류 통지가 발송된 때 또는 기타의 방법에 의한 강제집행개시나 체납처분착수가 있는 때
2.	채무불이행자명부(한국신용정보원, 은행연합회, 신용정보사, 공공정보)등재 신청이 있는 때
3.	어음교환소의 거래정지처분이 있을 때
4.	폐업, 도피 또는 기타의 사유로 금융기관에서 고객에 대한 지급을 정지한 것으로 인정된 때
5.	파산, 회생, 개인회생 절차개시의 신청이 있는 때
6.	고객이 생업에 종사하기 위하여 외국에 이주하는 경우와 외국인과의 결혼 및 연고 관계로 인하여 이주하는 때
2.	고객에게 다음 각호의 사유가 발생한 경우에는 기한의 이익을 상실한다. 다만, 여신업체는 기한의 이익상실일 7영업일전까지 다음 각 호의 채무이행지체사실과 이에 따라 기한의 이익이 상실된다는 사실을 고객에게 통지하여야 하며, 기한의 이익상실일 7영업일전까지 통지하지 않은 경우에는 고객은 실제통지가 도달한 날부터 7영업일이 경과한 날에 기한의 이익을 상실한다. 
1.	이자를 지급하여야 할 때부터 2개월간 지체한 때
2.	분할상환금 또는 분할상환원리금의 지급을 2회 이상 연속하여 지체하는 경우
3.	고객에 관하여 다음 각 호에서 정한 사유중 하나라도 발생하여 여신업체의 채권보전에 현저한 위험이 예상될 경우, 여신업체는 서면으로 당해 위험 및 신용의 회복 등을 독촉하고, 그 통지의 도달일부터 10영업일 이상으로 여신업체가 정한 기간이 경과하면, 고객은 여신업체에 대한 당해 채무의 기한의 이익을 상실하여 곧 이를 갚아야 할 의무를 진다. 
1.	고객 및 보증인이 대출금을 수령한 후 당초 제출하기로 약속한 대부계약에 필요한 중요서류(대출계약서, 보증계약서 등)를 30일 이내에 제출하지 않을 때
2.	고객이 채무의 상환을 거부하는 의사를 명시적으로 표시할 때
3.	고객 및 보증인이 계약서의 주요한 내용을 허위로 기재하거나 제출한 증빙서류가 위변조된 것으로 확인된 때
4.	제7조, 제8조에서 정한 약정을 위반하여 건전한 계속 거래 유지가 어렵다고 인정된 때
4.	제1항 내지 제3항에 의하여 고객이 여신업체에 대한 채무의 기한의 이익을 상실한 경우라도, 여신업체의 명시적 의사표시가 있거나, 여신업체가 분할상환금ㆍ이자ㆍ지연배상금을 받는 등 정상적인 거래의 계속이 있는 때에는, 그 채무 또는 여신업체가 지정하는 채무의 기한의 이익은 그때부터 부활되는 것으로 본다.
제15조 (기한전의 임의 상환 등)
1.	고객은 약정한 상환기일이 도래하기전이라도 미리 아무런 부담없이 원금의 전부를 상환할 수 있다. 단, 대출 원리금 상환 첫 회가 경과한 이후부터 기한전의 임의 상환이 가능하며 일부 상환은 불가하다.
2.	대부계약 체결시 고객과 기한전의 임의 변제로 여신업체가 받을 손해에 대하여 미리 약정한 경우에 한하여 수수료 등을 고객이 부담한다.
제16조 (채무의 변제 등의 충당)
1.	고객의 채무변제시 채무 전액을 소멸시키기에 부족한 때에는 비용, 이자, 원금의 순서로 충당하기로 한다. 그러나 여신업체는 고객에게 불리하지 않은 범위내에서 충당순서를 달리할 수 있으나 고객에게 이러한 사실을 서면 또는 전화(녹취), 전자우편, 문자메세지 등으로 통지하여야 한다.
2.	변제될 채무가 수 개인 경우로서 채무전액이 변제되지 않을 경우 강제집행 또는 담보권 실행경매에 의한 회수금에 대하여는 민법 기타 법률이 정하는 바에 따른다.
3.	변제될 채무가 수 개인 경우로서 제2항에 해당되지 않는 임의의 상환금으로 고객의 채무전액을 없애기에 부족한 때에는 고객이 지정하는 순서에 따라 변제에 충당하기로 한다. 이 경우, 고객이 지정하는 순서에 따를 경우, 여신업체의 채권보전에 지장이 생길 염려가 있는 때에는 여신업체는 지체없이 이의를 표시하고, 물적담보나 보증의 유무, 그 경중이나 처분의 난이, 변제기의 장단 등을 고려하여 여신업체 변제에 충당할 채무를 바꾸어 지정할 수 있으나 고객에게 이러한 사실을 서면 또는 전화(녹취), 전자우편, 문자메세지 등으로 통지하여야 한다.
4.	여신업체가 변제충당순서를 제3항에 따라 민법 기타 법률이 정하는 바와 달리할 경우에는 여신업체의 채권보전에 지장이 없는 범위내에서 고객과 담보제공자 및 보증인의 정당한 이익을 고려하여야 한다.
제17조 (영수증 등 서면교부)
여신업체는 고객으로부터 이자, 원금 등을 수령한 경우에는 영수증 및 대출잔액 확인서를 서면 또는 전자우편, 문자메세지 등으로 교부하여야 한다.

제18조 (통지사항 및 효력)
1.	고객이 이미 신고한 성명, 주소, 전화번호, 인감, 서명, 근무처가 변경된(휴직, 퇴직 또는 해고되거나 전.폐업한 경우 포함) 경우, 지체없이 그 변경내용을 여신업체에 신고하여야 한다. 또한 대리인에 의하여 거래하고자 할 경우에, 그 성명, 인감, 서명 등에 관하여도 같다.
2.	제1항에 의한 신고사항에 변경이 있는 경우, 고객 및 보증인은 각각의 정보를 지체없이 여신업체에 서면 등의 방법으로 신고해야 한다. 신고하지 않음으로 발생한 손해에 대하여는 변경사항에 대한 신고를 하지 않은 고객 및 보증인이 지기로 한다.
3.	고객이 제1항에 의한 통지를 게을리하여 여신업체가 발송한 서면통지 또는 기타서류가 고객에게 연착하거나 도달되지 않은 때에는 보통의 우송기간이 경과한 때에 도달한 것으로 본다. 이 경우 상계통지나 기한전의 채무변제 청구 등 중요한 의사표시는 반드시 배달증명부 내용증명에 의하여야 하며, 배달증명부 내용증명이 아닌 경우에는 도달한 것으로 보지 않고 다만 추정한다.
4.	여신업체가 고객에 대한 통지 등의 사본을 보존하고 또 그 발신의 사실 및 연월일을 장부 등에 명백히 기재한 때에는 발송한 것으로 추정한다.
5.	여신업체는 주소 및 전화번호가 변경된 경우 이를 고객에게 서면, 전화, 전자우편, 문자메세지 등으로 통지하여야 한다.
제19조 (채권양도)
여신업체는 본 계약서상의 채권을 제3자에게 양도할 수는 있으나, 채권양도에 관하여는 반드시 사전에 고객 및 보증인에게 동의를 얻어야 한다.

제20조 (신용정보)
1.	고객이 제공한 신용정보(성명, 생년월일, 주소 등 본인의 특정정보 및 차입내용, 상환사항, 연체 등의 객관적 정보)는 이 계약에 의한 법적인 권리행사를 위해서만 이용할 수 있다.
2.	고객 및 보증인은 그 주소지의 확인을 위하여 여신업체의 채권보전 등의 목적에 따라 개인별 주민등록표의 열람을 승낙 하기로 한다.
3.	여신업체는 고객 본인과 보증인에 대하여만 개인정보를 요구할 수 있다.
제21조 (지연배상금)
1.	고객이 이자 또는 분할상환금을 그 결제일에 지급하지 아니하거나, 계약만료일에 채무를 이행하지 아니한 경우 지연배상금을 지급하기로 한다.
2.	지연배상금을 지급하는 경우 대출계약서상의 연체이자율을 초과하지 아니한다.
제22조 (연체정보등록)
1.	다음의 신용정보들은 「신용정보 관리규약」에 따라 신용정보집중기관 및 신용조회회사에 제공 집중, 관리된다. 
1.	개인 식별정보: 성명, 생년월일
2.	개인신용거래정보: 개설/발급정보, 개인 대출정보, 개인채무보증정보 등
3.	신용도 판단정보: 연체정보, 채무불이행정보, 대위변제 /대지급 정보 등
2.	‘연체 등’ 정보 등록 
1.	대출원금, 이자 등을 5일이상 10만원이상 연체한 경우에 5일이 되는 사유 발생일로부터 7영업일 이내에 연체정보로 등록 된다.(단, 신용조회회사에는 5일이상 10만원 이상 연체 시 단기 연체 정보집중)
2.	해당 연체 사유가 해소된 날로부터 영업일기준 7일 이내에 연체정보는 해제된다.
3.	「신용정보관리규약」개정으로 ‘연체 등’의 정보등록 기준이 변경될 수 있다.
제23조 (강제집행에 관한 규정)
본 약관 제14조 기한의 이익 상실 조건에 따라 채무변제가 이루어지지 않을 경우 서면 또는 전화, 전자우편, 문자메세지 등을 통해 채무금액 강제회수에 관한 법적 조치(가압류신청, 지급명령신청, 강제경매신청 등)예고 통보를 할 수 있으며, 이에 불구하고 변제가 이루어지지 않을 경우에는 법원으로부터 집행권원을 부여받아 강제집행을 통한 채권 회수를 할 수 있다. 그 밖에도 법원에 재산관계 명시 신청이나 채무불이행 등록 신청이 이루어질 수 있다.

제24조 (채권추심업무 위탁 및 수임사실 통보)
1.	여신업체는 본 계약의 이행을 위해 여신업체가 지정한 신용정보회사에 채권관리를 위탁할 수 있다.
2.	채권관리를 위임 받은 신용정보회사는 고객에게 채권수임사실통지를 서면 또는 문자메세지로 보내도록 한다.
제25조 (이행장소ㆍ준거법 )
1.	채무의 이행장소는 다른 약정이 없는 한 거래 영업점으로 하고, 송금방법은 여신업체의 은행계좌에 입금하는 것을 원칙으로 한다. 다만, 부실채권의 관리 등 상당한 사유로 채권관리업무를 여신업체의 본점ㆍ지역본부 또는 다른 영업점으로 이관한 경우에는, 이관받은 본점ㆍ지역본부 또는 다른 영업점을 그 이행장소로 한다.
2.	고객이 내국인이 아닌 경우라도, 이 약관에 의한 대부거래에 관하여 적용될 법률은 국내법을 적용한다.
제26조 (불법적 채권추심 행위의 금지)
1.	여신업체(여신업체로부터 대부계약에 따른 채권을 양도 받거나 채권의 추심을 위탁받은 자를 포함한다)는 대부거래 계약에 따른 채권을 추심함에 있어서 다음 각호의 방법을 사용하지 않기로 한다. 
1.	고객 또는 관계인을 폭행․협박․체포 또는 감금하거나 그에게 위계나 위력을 사용하는 행위
2.	정당한 사유없이 반복적으로 또는 야간(오후 9시 이후부터 다음날 오전 8시까지를 말한다)에 고객이나 관계인을 방문함으로써 공포심이나 불안감을 유발하여 사생활 또는 업무의 평온을 심하게 해치는 행위
3.	정당한 사유없이 반복적으로 또는 야간에 전화하는 등 말․글․음향․영상 또는 물건을 고객이나 관계인에게 도달하게 함으로써 공포심이나 불안감을 유발하여 사생활 또는 업무의 평온을 심하게 해치는 행위
4.	고객 외의 사람(보증인을 포함한다)에게 채무에 관한 거짓 사실을 알리는 행위
5.	고객 또는 관계인에게 금전의 차용이나 그 밖의 이와 유사한 방법으로 채무의 변제자금을 마련할 것을 강요함으로써 공포심이나 불안감을 유발하여 사생활 또는 업무의 평온을 심하게 해치는 행위
6.	채무를 변제할 법률상 의무가 없는 고객 외의 사람에게 고객을 대신하여 채무를 변제할 것을 반복적으로 요구함으로써 공포심이나 불안감을 유발하여 사생활 또는 업무의 평온을 심하게 해치는 행위
7.	엽서에 의한 채무변제요구 등 고객 외의 자가 채무사실을 알 수 있게 하는 행위
8.	고객의 연락두절 등 소재파악이 곤란한 경우가 아님에도 고객의 관계인에게 고객의 소재, 연락처 또는 소재를 알 수 있는 방법 등을 문의하는 행위
2.	여신업체는 기타 「채권의 공정한 추심에 관한 법률」에서 채권추심과 관련하여 금지하고 있는 행위를 하여서는 아니된다.
제27조 (약관ㆍ계약내용의 변경)
1.	여신업체가 이 약관 또는 계약내용을 변경하고자 할 경우, 고객에게 불리한 내용이 될 때에는 영업점 및 여신업체가 정하는 전자매체 등에 게시하고, 서면, 전화, 전자우편, 문자메시지 등을 통하여 통지하여야 한다. 고객에게 불리한 내용이 아닌 경우에는 영업점 및 여신업체가 정하는 전자매체 등에 게시함으로써 이를 알려야 한다. 그러나 서면통지나 게시의 경우에는 반드시 제2항의 뜻을 명시하여야 한다.
2.	통지가 도달한 때 또는 게시한 때부터 1개월 이내에 고객의 서면에 의한 이의가 여신업체에게 도달하지 않은 때에는, 약관의 변경을 승인한 것으로 본다.
제28조 (강제집행에 관한 규정)
이 약관에서 정하지 아니한 사항에 관하여는 「대부업 등의 등록 및 금융이용자 보호에 관한 법률」 및 동법 시행령 등 관계 법령에 따른다.

제29조(관할법원의 합의)
이 약관에 의한 대부거래 계약에 관하여 여신업체와 고객 사이에 소송의 필요가 생긴 때에는 법이 정하는 관할법원과 아울러 여신업체의 거래영업점 소재지 지방법원을 관할법원으로 하기로 한다. 다만, 고객의 책임있는 사유로 부실채권이 발생되어 그 채권의 관리를 위하여 여신업체가 본점. 지역본부 또는 다른 영업점으로 그 채권관리업무를 이관한 경우에는 법이 정하는 관할법원과 아울러 이관받은 본점. 지역본부 또는 다른 영업점 소재지 지방법원을 관할법원으로 하기로 한다. </textarea> </p>
						<p class="prps-d3-p2 nr-box">
							<input type="checkbox" name="chk3" id="chk3" class="nr-check">
							<label for="chk3">
						<span class="c-orange">[필수]</span>
						<span class="f0">위 내용을 이해하였으며 이에 동의합니다.</span>
					</label>
						</p>
					</div>

					<p class="prps-p1"><a href="javascript: void(0);" onclick="javascript: app_submit();" class="btn br4 fc-white bg-blue">투자 동의</a></p>
					<p class="prps-p2">계속하시면 <a href="../policy/policy.php" target="_blank">개인정보 취급방침</a> 및 <a href="../policy/invest.php" target="_blank">투자이용약관</a>에 동의하게 됩니다.</p>

				</div>
			</div>
		</section>

		<!-- 180619 투자하기 클릭시 나타나는 레이어 팝업 -->
		<div class="invst-popup" style="display: block;">
			<div class="popup-wrap" id="popup-container1">
				<div class="popup-container br4">
					<p class="popup-tit">투자 위험 고지</p>
					<div class="popup-info-box br4">
						<p>본 투자상품은 원금이 보장되지 않습니다. 모든 투자상품은 현행 법률 상 '유사수신 행위의 규제에 관한 법률'에 의거하여 원금과 수익을 보장할 수 없습니다. 또한 차입자가 원금의 전부 또는 일부를 상환하지 못할 경우 발생하게 되는 투자금 손실 등 투자위험은 투자자가부담하게 됩니다.</p>
					</div>
					<div class="popup-form">
						<p class="popup-form-txt">
							나 <span class="fc-blue">홍길동</span>은(는) 상기 내용을 확인하였으며 그 내용에
						</p>
						<p class="popup-input">
							<input class="input-agree" name="agreeInput" placeholder="동의함">
						</p>
						<!--<div class="est-box nth-3 col-xs-12 col-sm-7"><a href="javascript:;" class="bg-blue fc-white br4">투자 신청 완료</a></div>-->
						<div class="est-box nth-3"><a href="#none" class="bg-blue fc-white br4">투자 신청 완료</a></div>
					</div>
					<a href="javascript:void(0);" onclick="popupClose('.invst-popup');" class="pop-close"></a>
				</div>
			</div>
		</div>
		
		<div class="invst-popup" style="display: none;">
			<div class="popup-wrap" id="popup-container2">
				<div class="popup-container br4">
					<div class="popup-info-box br4" style=" text-align:center;">
						<img src="http://nurifunding.co.kr/img/invest_notice.jpg" alt="투자안내">
					</div>
					<div class="popup-form">
						<div id="div_ing">
							<img src="http://nurifunding.co.kr/img/progress-bar.gif" alt="진행중">
							<p class="fc-blue">문자메세지에 숫자 4자리 회신 후 투자가 완료됩니다!</p>
						</div>
						<div class="est-box nth-3">
							<a id="agr_btn" style="display:none;" href="https://www.nurifunding.co.kr/invest/end.php?num=GEtyGm0fbxdyTxoRRw==&#13;&#10;" class="bg-blue fc-white br4">투자가 완료되었습니다.</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--// -->

		<footer class="footer-01">
		    <div class="container footer-box">
				<div class="logo">
				    <img class="" src="http://img.nurifunding.co.kr/fLogo_02.jpg" alt="푸터로고">
				</div>
                <div class="a-txt">
                    <a href="/service/">회사소개</a>
                    <a href="/policy/service.php">서비스이용약관</a>
                    <a href="/policy/invest.php">투자이용약관</a>
                    <a href="/policy/policy.php" class="nth-4">개인정보취급방침</a>
                    <a href="/policy/basic.php">대부거래기본약관</a>
                </div>
        
                <div class="f-adr-box clr">
                    <div class="f-adr">
                        <address>
                            <span>(주) 누리펀딩</span>
                            서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
                            대표이사: 김정권 ㅣ 사업자등록번호 677-81-00871<br>
                            E-mail : help@nurifunding.co.kr
                        </address>
                        <ul class="f-link-list clr">
                            <li><a href=" http://www.fss.or.kr" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_main.png" alt="금융감독원 승인기업 2018-금감원-1486"></a></li>
                        </ul>
                    </div>
                    <div class="f-adr">
                        <address>
                            <span>(주)누리펀딩대부</span>
                            서울시 강남구 테헤란로 82길 15, 11층 (대치동,디아이타워)<br>
                            대표이사: 김정권 ㅣ 사업자등록번호 791-86-00662<br>
                            P2P연계대부업 : 2018-금감원-1486 ㅣ 등록기관 : 금융감독원<br>
                            E-mail : help@nurifunding.co.kr
                        </address>
                    </div>
                    <div class="f-adr last">
                        <address>
                            <span class="fc-yellow">고객센터 1666-4570</span>
                            평일 : 09시~18시   |   점심휴무 : 13시~14시<br>
                            토.일.공휴일 : 휴무
                        </address>
                        <ul class="f-link-list clr">
                            <li><a href="https://blog.naver.com/jkkim317" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_blog.png" alt="누리펀딩 블로그"></a></li>
                            <li><a href="https://www.nurifunding.co.kr/notice/view.php?var=HUY=&page=1" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_kakaotalk.png" alt="카카오톡 플러스 친구 @누리펀딩"></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="f-txt-box">
                    <div class="f-txt">
                        당사는 투자상품에 관하여 충분하게 설명할 의무가 있으며, 투자자는 약관을 통해 위험성, 수익성, 수수료 등에 대하여 인지 후 투자하시기 바랍니다. <br>
                        <span class="c-blue">누리펀딩은 투자원금과 수익을 보장하지 않으며, 투자손실에 대한 책임은 모두 투자자에게 있습니다.</span> 또한 대출 시 귀하의 신용등급이 하락할 수 있습니다.<br>
                        대출금리 연 19% 이내 (연체이자율 연 24% 이내) 채무의 조기상환수수료율 등 조기상환조건 없으며 플랫폼 이용료, 법무비 등 부대비용 별도 부담입니다.<br>
                        중개수수료를 요구하거나 받는 행위는 불법입니다. 과도한 빚은 당신에게 큰 불행을 안겨줄 수 있습니다. 대출 시 귀하의 신용등급이 하락할 수 있습니다.
                    </div>
                </div>
                
                <div class="f-link-box hidden-xs">
                    <ul class="f-link-list clr">
                        <li><a href="http://p2plending.or.kr" target="_blank" class="a-link"><img src="https://nurifunding.co.kr/img/common/bt_footer_01.jpg" alt="한국 P2P 금융협회"></a></li>
                        <li><a href="http://www.clfa.or.kr" target="_blank" class="a-link"><img src="https://nurifunding.co.kr/img/common/bt_footer_03.jpg" alt="한국대부금융협회"></a></li>
                        <li><a href="http://www.crowdfunding.or.kr" target="_blank" class="a-link"><img src="https://nurifunding.co.kr/img/common/bt_footer_04.jpg" alt="한국크라우드 펀딩협회"></a></li>
                        <li><a href="http://korfin.kr" target="_blank" class="a-link"><img src="https://nurifunding.co.kr/img/common/bt_footer_05.jpg" alt="한국핀테크 산업협회"></a></li>
                        <li><a href="http://www.paygate.net" target="_blank" class="a-link"><img src="http://img.nurifunding.co.kr/bt_footer_06.jpg" alt="payGate"></a></li>
                    </ul>
                </div>
		    </div>
		</footer>
	</div>
	<script>
		window.onload = function() {
			var ctx7 = document.getElementById("chart-area-7").getContext("2d");
			window.myDoughnut = new Chart(ctx7, config7);

			var ctx11 = document.getElementById("chart-area-11").getContext("2d");
			window.myLine = new Chart(ctx11, config11);

			var ctx12 = document.getElementById("chart-area-12").getContext("2d");
			window.myDoughnut = new Chart(ctx12, config12);

		};
	</script>
</body>

</html>